@model CouponFilteringModel.StatusRangeFilterModel
@using Nop.Web.Models.Customer;
@using Nop.Core.Domain.Coupons;
@{
    var selectedItem = Model.Items.FirstOrDefault(x => x.Selected) ?? Model.Items.FirstOrDefault(x => x.Key ==CouponStatus.Valid);
}
@helper FormatRangeText(CouponFilteringModel.StatusRangeFilterItem filterItem)
{
    string rangeText = filterItem.Key.ToString();
    rangeText = string.Format(T("Filtering.CouponStatusRangeFilter."+rangeText).Text);
    <text>@Html.Raw(rangeText)</text>
}
@if (Model.Enabled)
{  	
    
    foreach (var item in Model.Items)
    {

        <li class="@(selectedItem!=null?(selectedItem.FilterUrl==item.FilterUrl?"on":""):"on")"><a href="@item.FilterUrl">@FormatRangeText(item) （<strong>@(item.Value)</strong>）</a></li>

    }
    
}