@model CustomerAddressListModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.Address").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/jquery.lightbox_me.js");
}
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}

<div class="breadcrumbs clearfix">
    <ul>
        <li>@T("Customer.Address")</li>
    </ul>
</div>

<div class="mycenterCon">
    <ul class="daList clearfix">
        @if (Model.Addresses.Count > 0)
        {
            for (int i = 0; i < Model.Addresses.Count; i++)
            {
                var address = Model.Addresses[i];                    
            <li @if (address.IsDefault)
                {<text>class="on"</text>}>
                <div class="daBox" onmouseover="$(this).find('.edit,.close,.setdefault').show()" onmouseout="$(this).find('.edit,.close,.setdefault').hide()">
                    @address.FirstName @address.PhoneNumber<br />
                    @if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
                    {
                        @address.StateProvinceName 
                    }
                    @if (address.CityEnabled && !String.IsNullOrEmpty(address.CityName))
                    {
                        @address.CityName 
                    }
                    @if (address.DistrictEnabled && !String.IsNullOrEmpty(address.DistrictName))
                    {
                        @address.DistrictName
                    }
                    @if (address.StreetAddressEnabled)
                    {                          
                        @address.Address1                        
                    }
                    @if (address.StreetAddress2Enabled && !String.IsNullOrEmpty(address.Address2))
                    {                 
                        @address.Address2                      
                    }
                    @if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
                    {                 
                        @address.ZipPostalCode                      
                    }
                    @if (!address.IsDefault)
                    {       
                        <a href="javascript:void(0);" class="btn btn-orange btn-xs br setdefault" onclick="SetDefaultAddress(@address.Id)"  style="display:none;">设为默认</a>
                    }
                    <a class="close" title="删除" href="@(Url.RouteUrl("CustomerAddressDelete", new { addressId = address.Id }))" onclick="return confirm('您确定要删除该收货地址吗?')"  style="display:none;"></a>
                    <a class="edit" title="编辑" href="javascript:void(0);" onclick ="LoadAddress(@address.Id)" style="display:none;"></a>
                    @if (address.IsDefault)
                    {
                        <span class="default">@T("Checkout.ShippingAddress.DefaultAddress")</span>
                    }
                </div>
            </li>
            }
        }
        <li>
            <a href="javascript:void(0);" class="add" id="add-address-button">新增收货地址</a>
        </li>
    </ul>
    <div class="clear"></div>
    @Html.Partial("_CreateOrUpdateAddress", new Nop.Web.Models.Customer.CustomerAddressEditModel() { Address = Model.Address })
</div>
