@model CashHistoryListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.MyCash").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
}
@using Nop.Web.Models.Customer;
@using Nop.Web.Extensions;
@using Nop.Core.Domain.Coupons;
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
<style type="text/css">
    button a
    {
    }
</style>
<div class="breadcrumbs clearfix">
    <ul>
        <li>@T("Account.CustomerCash")</li>
    </ul>
</div>
<table style="margin-left:10px;">
    <tr>
        <td><span>现金余额：</span></td>
        <td><strong>@Model.CashBalance</strong><a class="btn btn-orange" style="margin-left:10px;display:none;" >冲值</a></td>
        <td></td>
        <td><span>您已累计消费：</span><strong>@Model.CashUsedAmount</strong></td>
    </tr>
</table>
<div class="mycenterCon">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tb_02">
        <tr>
            <th>@T("Account.CustomerCash.Fields.Date")</th>
            <th>@T("Account.CustomerCash.Fields.Message")</th>
            <th>@T("Account.CustomerCash.Fields.Cash")</th>
        </tr>
        @foreach (var cashHistory in Model.CashHistories)
        {
            <tr>
                <td align="center">@cashHistory.Date</td>
                <td align="center">@cashHistory.Message</td>
                <td align="center">@cashHistory.Cash</td>
            </tr>
        }
    </table>
</div>
<div class="paginationArea clearfix">
    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").ShowTotalSummary(true)
</div>

