@model ChangeEmailStepModel
@using Nop.Web.Models.Customer;
@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Common;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.Email").Text);
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}

<div class="breadcrumbs clearfix">
    <ul>
        <li><a href="@Url.RouteUrl("CustomerAccountSecurity")">账户安全</a><span>@breadcrumbDelimiter</span></li>
        <li>修改邮箱</li>
    </ul>
</div>
<div class="mycneterCon">
    <div class="svBox">
        @if (Model.ChangeEmailStepNav.IsUpdateEmail)
        {
            <p>您的邮箱修改成功！</p>
        }
        else
        {
            <p>您的邮箱  <strong class="cred f16px">@Model.Message</strong> 已验证成功！</p> 
        }
        <button type="button" class="btn btn-green btn-lg" onclick="location.href='@Url.RouteUrl("HomePage")'">放心去购物吧</button>
    </div>
</div>

