@model ChangePasswordStepModel
@using Nop.Web.Models.Customer;
@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Common;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.ChangePassword").Text);
    Html.AddScriptParts("~/Themes/60GO2/Content/js/public.authenticode.js");
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}

<div class="breadcrumbs clearfix">
    <ul>
        <li><a href="@Url.RouteUrl("CustomerAccountSecurity")">账户安全</a><span>@breadcrumbDelimiter</span></li>
        <li>修改密码</li>
    </ul>
</div>

<div class="mycneterCon">
    @using (Html.BeginForm("ChangePasswordStep2", null, FormMethod.Post, new { @class = "form-center" }))
    {
        @Html.AntiForgeryToken()  
        @Html.HiddenFor(model => model.ChangePasswordStep)
        @Html.HiddenFor(model => model.AuthenticationType) 
        if (!string.IsNullOrEmpty(Model.Message))
        {  
        <div class="box-error-s">
            @Model.Message
        </div>
        }
        <div class="formList">
            <dl class="clearfix">
                <dt>新密码：</dt>
                <dd>@Html.PasswordFor(model => model.NewPassword, new { @class = "input-style input-sm", maxlength = 16 })<br />@Html.ValidationMessageFor(model => model.NewPassword)</dd>
            </dl>
            <dl class="clearfix">
                <dt>重复新密码：</dt>
                <dd>@Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "input-style input-sm", maxlength = 16 })<br />@Html.ValidationMessageFor(model => model.ConfirmNewPassword)</dd>
            </dl>
            <dl class="clearfix">
                <dt>&nbsp;</dt>
                <dd>
                    <input type="submit" class="btn btn-green btn-md" value="提交设置" /></dd>
            </dl>
        </div>    
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.NewPassword)").rules("add", { required: true, messages: { required: "请输入密码" } });
        $("#@Html.FieldIdFor(model => model.NewPassword)").rules("add", { regex: /^\S{1,16}$/, messages: { regex: '密码内不能含有"空格"哦' } });
        $("#@Html.FieldIdFor(model => model.NewPassword)").rules("add", { minlength: 4, messages: { minlength: "您输入的密码有点短，需要4-16位数字或字母哦" } });
        $("#@Html.FieldIdFor(model => model.NewPassword)").rules("add", { maxlength: 16, messages: { maxlength: "您输入的密码好长呀，需要4-16位数字或字母哦" } });
        $("#@Html.FieldIdFor(model => model.ConfirmNewPassword)").rules("add", { required: true, messages: { required: "请重复输入新密码" } });
        $("#@Html.FieldIdFor(model => model.ConfirmNewPassword)").rules("add", { equalTo: "#@Html.FieldIdFor(model => model.NewPassword)", messages: { equalTo: "您两次输入的密码不一致" } });
    });
</script>
