@model CouponListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.MyCoupons").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/jquery.lightbox_me.js");
}
@using Nop.Web.Models.Customer;
@using Nop.Web.Extensions;
@using Nop.Core.Domain.Coupons;
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
@{
    var selectedItem = Model.PagingFilteringContext.StatusRangeFilter.Items.FirstOrDefault(x => x.Selected);
}
<div class="breadcrumbs clearfix">
    <ul>
        <li>@T("Account.CustomerCoupons")</li>
    </ul>
</div>

<ul class="couponTotal clearfix">
    @*<li class="on"><a href="javascript:void(0);">@T("Account.CustomerCoupons.Coupons.All")（<strong>@Model.Coupons.Count</strong>）</a></li>*@
    @Html.Partial("_CouponStatusRange", Model.PagingFilteringContext.StatusRangeFilter,new ViewDataDictionary() )
    <li class="beright">
        <a id="dialog-chick" class="btn btn-orange btn-sm">@T("Account.CustomerCoupons.AcitveNewCoupon")</a>
        <!-- Modal -->
        <div id="dialog" style="display: none;">
            <div class="modal" id="inline_content">
                <a href="javascript:void(0);" class="close closeBtn"></a>
                <div class="modal-header">
                    <h4 class="modal-title">@T("Account.CustomerCoupons.AcitveNewCoupon")</h4>
                </div>
                <div class="modal-body clearfix">
                    <p>@T("Account.CustomerCoupons.CouponCode")：</p>
                    <p>
                        @Html.TextBoxFor(model => model.AddCouponCode, new { @class = "input-style input-m", maxlength = 30, size = 40 })
                    </p>
                    <p id="add-couponcode-msg" class="cred text-center">&nbsp;</p>
                </div>
                <div class="modal-footer text-center">
                    <a id="addCoupon" href="javascript:void(0);" class="btn btn-orange">@T("Account.CustomerCoupons.Acitve")</a>
                    <a href="javascript:void(0);" class="btn btn-default mar_l_20 close">@T("Account.CustomerCoupons.Close")</a>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </li>
</ul>

<div class="mycenterCon">
    @*    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tb_02">
        <tr>
            <th>@T("Account.CustomerCoupons.Fields.CouponCode")</th>
            <th>@T("Account.CustomerCoupons.Fields.Name")</th>
            <th>@T("Account.CustomerCoupons.Fields.TermOfValidity")</th>
            <th>@T("Account.CustomerCoupons.Fields.Channel")</th>
            <th>@T("Account.CustomerCoupons.Fields.DiscountStatus")</th>
        </tr>
        @foreach (var coupon in Model.Coupons)
        {
            <tr>
                <td align="center">@coupon.CouponCode</td>
                <td align="center">@coupon.CouponName</td>
                <td align="center">@coupon.TermOfValidity</td>
                <td align="center">@coupon.Channel</td>
                <td align="center">@coupon.DiscountStatusDescription</td>
            </tr>
        }
    </table>*@

    <ul class="@(selectedItem!=null&&selectedItem.Key==CouponStatus.UsedOrExpired?"couponList_02":"couponList")">
        @foreach (var coupon in Model.Coupons)
        {
            <li>
                <div class="couponBox" data="@coupon.CouponCode">
                    <h2>@coupon.DiscountAmount</h2>
                    <p>
                        <label>@T("Account.CustomerCoupons.Fields.Name")：</label>@T("Account.CustomerCoupons.Fields.UseConditions", coupon.OrderTotalRequired.ToString("F2"))
                    </p>
                    <p>
                        <label>@T("Account.CustomerCoupons.Fields.Channel")：</label>@coupon.Channel
                    </p>
                    <p>
                        <label>@T("Account.CustomerCoupons.Fields.TermOfValidity")：</label>@coupon.TermOfValidity
                    </p>
                    @if (coupon.Invalid)
                    {
                        <span class="@(coupon.CouponShowStatus==CouponShowStatus.Expired?"status_invalid":"status_used")"></span>
                    }
                </div>
                <div class="pad_10 clearfix">
                    @if (coupon.Invalid)
                    {
                        if(coupon.CouponShowStatus==CouponShowStatus.Used)
                        {
                            <a href="@Url.RouteUrl("CustomerOrderDetail", new { orderId = coupon.OrderId })" class="link_green">
                                                        @T("Account.CustomerCoupons.ViewOrder")
                            </a>
                        }
                    }
                    else
                    {
                    <a href="@coupon.Link" target="_blank" class="beleft">@T("Account.CustomerCoupons.Link")</a> 
                    <a href="@Url.Action("CouponDelete", new { discountId=coupon.DiscountId })" class="beright" onclick="return confirm('@T("Account.CustomerCoupons.DeleteDiscountConfirm")')">删除</a>                   
                    }
                </div>
            </li>
        }
    </ul>
</div>
<div class="paginationArea clearfix">
    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").ShowTotalSummary(true)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dialog-chick').click(function (e) {
            $("#dialog").lightbox_me({
                centered: true, onLoad: function () {
                    $("#dialog").find("input:first").focus();
                }
            });
            e.preventDefault();
        });

        $('#addCoupon').click(function () {
            var couponCode = $("#@Html.FieldIdFor(model => model.AddCouponCode)").val();
            $('#addCoupon').attr('disabled', true);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("AddCoupon"))",
                data: { "couponCode": couponCode },
                success: function (data) {
                    $('#addCoupon').attr('disabled', false);
                    if (data.Result) {
                        location.href = data.redirect;
                    }
                    else {
                        $("#add-couponcode-msg").html(data.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to add coupon.');
                    $('#addCoupon').attr('disabled', false);
                }
            });
        });
    });
</script>

