@model CustomerOrderListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.MyOrders").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/jquery.lightbox_me.js");
}
@using Nop.Core.Domain.Shipping
@using Nop.Web.Models.Customer;
@using Nop.Core.Domain.Orders;
@using Nop.Core.Domain.Payments;
@using Nop.Web.Extensions;
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
@{
    var url = Request.Url.ToString().Replace("#", "");
    var returnOrChangeRequestUrl = "http://chat10.live800.com/live800/chatClient/chatbox.jsp?companyID=349187&jid=1957872490&enterurl=" + url;
}

<div class="breadcrumbs clearfix">
    <ul>
        <li>@T("Account.CustomerOrders")</li>
    </ul>
</div>

<div class="mycenterCon">
    @using (Html.BeginForm("Orders", "Customer", FormMethod.Post, new { onsubmit = "return order_search_form()" }))
    {       
        <ul class="ddSearch clearfix">
            <li class="title">@T("Account.CustomerOrders.Filter")：</li>
            @*<li class="col-md-2">@Html.DropDownList("filter-createon", Model.AvailableCreateOnRange,new { Class = "form-control input-sm", onchange = "form.submit()",Name="filter-createon" })</li>*@
            @*					<li class="col-md-2">@Html.DropDownList("filter-orderstatus", Model.AvailableOrderStatuses, new { Class = "form-control input-sm", onchange = "form.submit()",Name="filter-orderstatus"  })</li>*@
            <li>@Html.Partial("_CreateOnRange", Model.PagingFilteringContext.CreateOnRangeFilter, new ViewDataDictionary())</li>
            <li>@Html.Partial("_OrderStatusRange", Model.PagingFilteringContext.OrderStatusRangeFilter, new ViewDataDictionary())</li>
            @Html.Partial("_KeyWordRange", Model.PagingFilteringContext.KeyWordRangeFilter, new ViewDataDictionary())
        </ul>
    }
    @if (Model.Orders.Count > 0)
    {
        foreach (var order in Model.Orders)
        {	
        <div class="ddCon">
            <div class="inventoryTitle">
                <span>@T("Account.CustomerOrders.Order.OrderId")：@order.OrderNumber</span>
                <span>@T("Account.CustomerOrders.Order.CreateOn")：@order.CreatedOn</span>
            </div>
            <div class="clear"></div>
            <ul class="row">
                <li class="col-md-12">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="inventoryTable">
                        <tbody>
                            <tr>
                                <th width="50%">@T("Account.CustomerOrders.Order.ProductName")</th>
                                <th width="10%">@T("Account.CustomerOrders.Order.ProductUnitPrice")</th>
                                <th width="10%">@T("Account.CustomerOrders.OrderItemQuantity")</th>
                                <th width="15%">@T("Account.CustomerOrders.Order.Total")</th>
                                <th width="15%">@T("Account.CustomerOrders.Order.Status")</th>
                                <th width="15%">@T("Account.CustomerOrders.Order.Operate")</th>
                            </tr>
                            @{int i = 0; int rowspan = order.Items.Count; }
                            @foreach (var orderItem in order.Items)
                            {
                                i++;
                                <tr>
                                    <td>
                                        <div class="td-inner-s">
                                            <div class="pic">
                                                <a href="@Url.RouteUrl("Product", new { SeName = orderItem.ProductSeName })"  target="_blank" data-point="tbcart.8.12">
                                                    <img src="@orderItem.Picture.ImageUrl"></a>
                                            </div>
                                            <div class="text">
                                                <a class="item-title J_MakePoint" href="@Url.RouteUrl("Product", new { SeName = orderItem.ProductSeName })"  target="_blank" data-point="tbcart.8.11">
                                                    @orderItem.ProductName
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="center">@orderItem.UnitPrice</td>
                                    <td align="center">@orderItem.Quantity</td>
                                    @if (i == 1)
                                    {
                                        <td rowspan="@rowspan" align="center">
                                            <strong class="f18px corange">@order.OrderTotal</strong><br>
                                            （@T("Account.CustomerOrders.Details.IncludeShippingFee")：@(order.OrderShipping)）

                                                @if (!string.IsNullOrWhiteSpace(order.OrderTotalDiscount))
                                                {                                                 
                                                    <text>（@T("Account.CustomerOrders.Details.OrderDiscountAmount")：@(order.OrderTotalDiscount)）</text>
                                                }
                                        </td>
                                        <td rowspan="@rowspan" align="center">
                                            <span class="corange">@T("orderviewstatusenum." + order.OrderViewStatusEnum.ToString())</span><br>
                                            <a href="@Url.RouteUrl("CustomerOrderDetail", new { orderId = order.Id })" class="link_green">
                                                @T("Account.CustomerOrders.OrderDetails")
                                            </a>
                                            <br/>
                                            @if (order.ShippingStatus == ShippingStatus.PartiallyShipped||order.ShippingStatus == ShippingStatus.Shipped || order.ShippingStatus == ShippingStatus.Delivered)
                                            {
                                                <a href="@Url.RouteUrl("CustomerShippingDetail", new { orderId = order.Id })" class="link_green">
                                                    @T("Account.CustomerOrders.ShippingDetails")
                                                </a>
                                            }
                                        </td>
                                        <td rowspan="@rowspan" align="center">
                                            <div class="operateArea"></div>
                                            @using (Html.BeginForm("Orders", "Customer", new { orderId = order.Id }, FormMethod.Post, new { Id = "orderform-" + order.Id, target = "_blank" }))
                                            {
                                                if (order.CanRePostProcessPayment)
                                                {
                                                <p>
                                                    <a href="@Url.RouteUrl("CheckoutCompleted", new { orderId = order.Id })"  class="btn btn-orange btn-sm mar_b_10">@T("Order.CompletePayment")</a>
                                                    @*<input type="submit" name="repost-payment" value="@T("Order.CompletePayment")" style="display:none;" class="btn btn-orange btn-sm mar_b_10" />*@
                                                </p>
                                                }
                                            }
                                            @if ((order.PaymentStatus == PaymentStatus.Pending || order.PaymentStatus == PaymentStatus.Authorized) && (order.OrderStatus != OrderStatus.Complete && order.OrderStatus != OrderStatus.Cancelled))
                                            {
                                                <p>
                                                    @*<a href="@Url.RouteUrl("CustomerCancelOrder",new{orderId=order.Id})" class="link_green" name="cancelorder">@T("Order.Cancel")</a><br />*@
                                                    <a href="javascript:void(0);" class="cancelpurchase" onclick="ShowAddCancelPurchaseRemark(@order.Id);">@T("Order.Cancel")</a>
                                                </p>
                                            }
                                            else if (order.PaymentStatus == PaymentStatus.Paid && order.OrderStatus != OrderStatus.Complete && order.OrderStatus != OrderStatus.Cancelled)
                                            {
                                                <p>
                                                    <a href="javascript:void(0);" class="returnorchange">@T("Order.Cancel")</a>
                                                </p>
                                            }

                                            @if (order.IsReOrderAllowed && (order.OrderStatus == OrderStatus.Complete || order.OrderStatus == OrderStatus.Cancelled))
                                            {
@*<input type="button" value="@T("Order.Rebuy")" class="btn btn-green btn-sm mar_b_10" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = order.Id })    ')" />*@
                                                <p><a href="javascript:setLocation('@Url.RouteUrl("ReOrder", new { orderId = order.Id })    ')" class="btn btn-green btn-sm mar_b_10">@T("Order.Rebuy")</a></p>
                                            }
                                            @if (order.OrderStatus == OrderStatus.Complete && !order.IsCommented)
                                            {
                                                <p>
                                                    <a href ="@Url.RouteUrl("OrderReviews", new { orderId = order.Id })" >@T("Order.Comment")</a>
                                                </p>
                                            }
                                            else if (order.OrderStatus == OrderStatus.Complete && order.IsCommented)
                                            {
                                                <p>
                                                    @T("Order.Commented")
                                                </p>
                                            }
                                            @if (order.OrderStatus == OrderStatus.Complete || order.OrderStatus == OrderStatus.Cancelled)
                                            {
                                                <p>
                                                    <a href="javascript:void(0);" onclick="if(confirm('@T("Order.Delete.Confirm")')){location='@Url.RouteUrl("CustomerDeleteOrder", new { orderId = order.Id })';}">@T("Order.Delete")</a>
                                                </p>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>  
        }
    }
    else
    {    
        <div class="ddCon">
            <div class="cart_no_box">
                <p class="f16px">@Html.Raw(T("Order.OrderListIsEmpty"))</p>
                <p>
                    <button type="button" class="btn btn-green btn-sm" onclick="setLocation('@Url.RouteUrl("HomePage")')">@T("ShoppingCart.ShoppingNow")</button>
                </p>
            </div>
        </div>     
    }
</div>

<div id="calcelPurchasedialog" style="display: none; border: 5px solid #666; border-radius: 10px; background-color: #fff; padding: 10px 20px;">
    <div class="modal">
        <a href="###" class="close closeBtn"></a>
        <div class="modal-body clearfix">
            <div class="formList">
                <dl class="clearfix">
                    <dt>@T("Order.Cancel.CancelRemark")：</dt>
                    <dd>
                        <textarea id="cancelPurchaseRemark" class="textarea-style con" rows="5" cols="80" maxlength="500"></textarea>
                        @T("enter")<label id="lblRemainingRemarkNumber">500</label>@T("fontnumber")
                        <br />
                </dl>
            </div>
            <input id="hidCurrentEditId" type="hidden" value="-1" />
        </div>
        <div class="modal-footer text-center">
            <a id="save_button" class="btn btn-green btn-sm mar_r_20">保 存</a>
            <a class="btn btn-default btn-sm close">取 消</a>
        </div>
    </div>
</div>
<div id="contactSupportDialog" style="display: none; border: 5px solid #666; border-radius: 10px; background-color: #fff; padding: 10px 20px;">
    <div class="modal">
        <a href="###" class="close closeBtn"></a>
        <div class="modal-body clearfix">
            <table>
                <tr>
                    <td colspan="2">
                        <p>
                            <strong>亲爱的60购用户，请选择以下方式完成退换货申请。60购客服将竭诚为您服务！</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>电话客服</strong><br />
                        400-996-6060
                    </td>
                    <td>
                        <strong>在线客服</strong><br />
                        <a href="@returnOrChangeRequestUrl" target="_blank">点击联系LIVE800</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".returnorchange").each(function () {
            $(this).click(function () {
                $("#contactSupportDialog").lightbox_me({
                    centered: true
                });
            });
        });

        $("#save_button").click(function () {
            AddCancelPurchaseRemark();
        });
    });

    function ShowAddCancelPurchaseRemark(orderId) {
        $("#hidCurrentEditId").val(orderId);
        $("#calcelPurchasedialog").lightbox_me({
            centered: true
        });
    }
    $("textarea").keyup(function (obj) {
        var maxleng = 500;
        var reviewlen = this.value.length;
        if (reviewlen > maxleng) {
            alert("备注内容不能大于500");
            this.value = this.value.substring(0, maxleng);
        }
        var len = maxleng - reviewlen;
        if (len < 0) {
            $("#lblRemainingRemarkNumber").text("0");
        }
        else {
            $("#lblRemainingRemarkNumber").text(len);
        }

    });
    function AddCancelPurchaseRemark() {
        var id = $("#hidCurrentEditId").val();
        var remark = $("#cancelPurchaseRemark").val();
        var data = {
            "id": id,
            "cancelRemark": remark
        };

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.RouteUrl("CustomerCancelOrderWithRemark"))",
            data: data,
            success: function (d) {
                if (d.Data.Success) {
                    alert("放弃购买成功");
                    location.href = '@Url.RouteUrl("CustomerOrders")';
                }
                else {
                    var result = "";
                    for (var i in d.Data.Errors) {
                        result = result + d.Data.Errors[i] + "\r\n";
                    }
                    alert(result);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states.');
            }
        });
    }
</script>
<div class="paginationArea clearfix">
    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").ShowTotalSummary(true)
</div>
@*猜你喜欢*@
@Html.Action("CommendedProducts", "Catalog")




