@model PasswordRecoveryStep3Model
@using Nop.Web.Models.Customer;
@using Nop.Core.Domain.Customers;
@{
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_login.css");
}

<div class="reg-box">
    <div class="password clearfix">
        <h3><strong>忘记密码</strong></h3>
        <div class="tipsPostion">
            <div id="errorMsg" class="box-error-s" @if (string.IsNullOrEmpty(@Model.Message))
                                                   { <text>style="display: none;"</text>}>@Model.Message
            </div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
        {
            <div class="formList">
                <dl class="clearfix">
                    <dt>邮箱/手机号码：</dt>
                    <dd>@Model.UserName</dd>
                </dl>
                <dl class="clearfix">
                    <dt>设置新密码：</dt>
                    <dd>
                        @Html.PasswordFor(model => model.Password, new { @class = "input-style input-m", placeholder = "新密码", maxlength = 20 })
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>&nbsp;</dt>
                    <dd>
                        <p class="tips">请输入4-16位的数字或字母做为密码</p>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>重复新密码：</dt>
                    <dd>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input-style input-m", placeholder = "重复新密码", maxlength = 20 })
                    </dd>
                </dl>
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                        <input id="goto_next" type="submit" class="btn btn-green" value="完成" />
                    </dd>
                </dl>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#goto_next").click(function () {
            return CheckForm();
        });
    });

    var FormMsg = {
        PasswordShort: "您输入的密码有点短，需要4-16位数字或字母哦 ",
        PasswordLong: "您输入的密码好长呀，需要4-16位数字或字母哦",
        PasswordRequired: "密码不能为空哦",
        PasswordFormat: "密码不能含有空格哦",

        ConfirmPasswordOK: "确认密码填写正确",
        ConfirmPasswordNotEqualPassword: "两次密码输入不一致",
        ConfirmPasswordRequired: "请重复输入新密码",
    };

    function CheckForm() {
        var result = false;
        result = CheckPassword() && CheckConfirmPassword();
        return result;
    }

    function CheckPassword() {
        var password = $("#@Html.FieldIdFor(model => model.Password)").val();
        if (password == '') {
            ShowErrorMsg(FormMsg.PasswordRequired);
            return false;
        }
        else if (!/^\S{1,16}$/.test(password)) {
            ShowErrorMsg(FormMsg.PasswordFormat);
            return false;
        }
        else if (password.length < 4) {
            ShowErrorMsg(FormMsg.PasswordShort);
            return false;
        }
        else if (password.length > 16) {
            ShowErrorMsg(FormMsg.PasswordLong);
            return false;
        }

        return true;
    }

    function CheckConfirmPassword() {
        var password = $("#@Html.FieldIdFor(model => model.Password)").val();
        var confirmPassword = $("#@Html.FieldIdFor(model => model.ConfirmPassword)").val();
        confirmPassword = $.trim(confirmPassword);
        if (confirmPassword == '') {
            ShowErrorMsg(FormMsg.ConfirmPasswordRequired);
            return false;
        }
        else if (confirmPassword != password) {
            ShowErrorMsg(FormMsg.ConfirmPasswordNotEqualPassword);
            return false;
        }

        return true;
    }

    function ShowErrorMsg(msg) {
        $("#errorMsg").show();
        $("#errorMsg").html(msg);
    }
</script>
