@model PasswordRecoveryStep2Model
@using Nop.Web.Models.Customer;
@using Nop.Core.Domain.Customers;
@{
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_login.css");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/public.authenticode.js");
}

<div class="reg-box">
    <div class="password clearfix">
        <h3><strong>忘记密码</strong></h3>
        <div class="tipsPostion">
            <div id="errorMsg" class="box-error-s" @if (string.IsNullOrEmpty(@Model.Message))
                                                   { <text>style="display: none;"</text>}>@Model.Message
            </div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
        {
            <div class="formList">
                <dl class="clearfix">
                    <dt>邮箱/手机号码：</dt>
                    <dd>
                        @Model.UserName
                    </dd>
                    <dd>
                        <a id="get_authenticode_btn" class="uline mar_l_10" href="javascript:void(0);">获取验证码</a>
                        <span id="again_get_authenticode_time" class="cgray mar_l_10" style="display: none"></span>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>@T("Account.Fields.Authenticode")：</dt>
                    <dd>
                        @Html.TextBoxFor(model => model.Authenticode, new { @class = "input-style input-s", placeholder = "验证码", maxlength = 6 })
                    </dd>
                    <dd>请输入6位验证码
                        @Html.ValidationMessageFor(model => model.Authenticode)
                    </dd>
                </dl>
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                        <input id="goto_next" type="submit" class="btn btn-green" value="下一步（设置新密码）" />
                    </dd>
                </dl>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#goto_next").click(function () {
            return CheckForm();
        });

        $("#get_authenticode_btn").click(function () {
            Authenticode.getAuthenticode({});
        });
    });

    Authenticode.init("get_authenticode_btn",
                    "again_get_authenticode_time",
                    "@T("Common.AuthenticodeButton.Stop")",
                    "@Url.Action("GetPasswordRecoveryAuthenticode")",
                     @Model.AgainGetAuthenticodeSpacingTime);

    function CheckForm() {
        var authenticode = $.trim($("#@Html.FieldIdFor(model => model.Authenticode)").val());
        if (authenticode == "") {
            ShowErrorMsg("验证码不能为空哦");
            return false;
        }
        return true;
    }

    function ShowErrorMsg(msg) {
        $("#errorMsg").show();
        $("#errorMsg").html(msg);
    }
</script>
