@model CustomerOrderListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts("退换货管理");
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/jquery.lightbox_me.js");
}
@using Nop.Web.Models.Customer;
@using Nop.Core.Domain.Orders;
@using Nop.Web.Extensions;
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
@{
    var url = Request.Url.ToString().Replace("#", "");
    var returnOrChangeRequestUrl = "http://chat10.live800.com/live800/chatClient/chatbox.jsp?companyID=349187&jid=1957872490&enterurl=" + url;
}

<div class="breadcrumbs clearfix">
    <ul>
        <li>退换货管理</li>
    </ul>
</div>

<div class="mycenterCon">
    @if (Model.Orders.Count > 0)
    {
        foreach (var order in Model.Orders)
        {	
        <div class="ddCon">
            <div class="inventoryTitle">
                @if (!order.ReturnStatus.HasValue && !order.ChangeStatus.HasValue)
                {
                    <span>@T("Account.CustomerOrders.Order.OrderId")：@order.OrderNumber</span>
                    <span>@T("Account.CustomerOrders.Order.CreateOn")：@order.CreatedOn</span>
                }
                else if (order.ReturnStatus.HasValue)
                {                    
                    <span style="color: #F00;">退货单号：@order.ReturnProductOrder.ReturnOrderNumber</span>
                    <span style="color: #F00;">申请退货时间：@order.ReturnProductOrder.CreatedOn</span>
                }
                else if (order.ChangeStatus.HasValue)
                {
                    <span style="color: #F00;">换货单号：@order.ChangeProductOrder.ChangeOrderNumber</span>
                    <span style="color: #F00;">申请换货时间：@order.ChangeProductOrder.CreatedOn</span>
                }
            </div>
            <div class="clear"></div>
            <ul class="row">
                <li class="col-md-12">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="inventoryTable">
                        <tbody>
                            <tr>
                                <th width="50%">
                                    @if (order.ReturnStatus.HasValue)
                                    {
                                        <text>退货商品</text>
                                    }
                                    else if (order.ChangeStatus.HasValue)
                                    {
                                        <text>换货商品</text>
                                    }
                                    else
                                    {
                                        @T("Account.CustomerOrders.Order.ProductName")
                                    }
                                </th>
                                <th width="10%">@T("Account.CustomerOrders.Order.ProductUnitPrice")</th>
                                <th width="10%">@T("Account.CustomerOrders.OrderItemQuantity")</th>
                                <th width="15%">
                                    @if (order.ReturnStatus.HasValue || order.ChangeStatus.HasValue)
                                    {
                                        <text>退款金额</text>
                                    }
                                    else
                                    {
                                        @T("Account.CustomerOrders.Order.Total")
                                    }
                                </th>
                                <th width="15%">@T("Account.CustomerOrders.Order.Status")</th>
                                <th width="15%">@T("Account.CustomerOrders.Order.Operate")</th>
                            </tr>
                            @{int i = 0; int rowspan = order.Items.Count; }
                            @foreach (var orderItem in order.Items)
                            {
                                i++;
                                <tr>
                                    <td>
                                        <div class="td-inner-s">
                                            <div class="pic">
                                                <a href="@Url.RouteUrl("Product", new { SeName = orderItem.ProductSeName })"  target="_blank" data-point="tbcart.8.12">
                                                    <img src="@orderItem.Picture.ImageUrl"></a>
                                            </div>
                                            <div class="text">
                                                <a class="item-title J_MakePoint" href="@Url.RouteUrl("Product", new { SeName = orderItem.ProductSeName })"  target="_blank" data-point="tbcart.8.11">
                                                    @orderItem.ProductName
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="center">@orderItem.UnitPrice</td>
                                    <td align="center">@orderItem.Quantity</td>
                                    @if (i == 1)
                                    {
                                        <td rowspan="@rowspan" align="center">
                                            @if (!order.ReturnStatus.HasValue && !order.ChangeStatus.HasValue)
                                            {
                                                <strong class="f18px corange">@order.OrderTotal</strong><br>
                                                Html.Raw(string.Format("({0}:{1})", T("Account.CustomerOrders.Details.IncludeShippingFee"), order.OrderShipping));
                                                if (!string.IsNullOrWhiteSpace(order.OrderTotalDiscount))
                                                {                                                 
                                                <text>（@T("Account.CustomerOrders.Details.OrderDiscountAmount")：@(order.OrderTotalDiscount)）</text>
                                                }
                                            }
                                            else if (order.ReturnStatus.HasValue)
                                            {
                                                <strong class="f18px corange">@order.ReturnProductOrder.RefundedTotal</strong><br>                                           
                                                <text>退回我的钱包：@order.ReturnProductOrder.CashRefunded</text>                                       
                                            }
                                            else if (order.ChangeStatus.HasValue)
                                            {
                                                <strong class="f18px corange">@order.ChangeProductOrder.RefundedTotal</strong><br>                                           
                                                <text>退回我的钱包：@order.ChangeProductOrder.CashRefunded</text>                                       
                                            }
                                        </td>
                                        <td rowspan="@rowspan" align="center">
                                            @if (!order.ReturnStatus.HasValue && !order.ChangeStatus.HasValue)
                                            {
                                                <text>可退换货</text>
                                            }
                                            else if (order.ReturnStatus == ReturnStatus.Processing)
                                            {
                                                <text>退货中</text>
                                            }
                                            else if (order.ReturnStatus == ReturnStatus.Returned)
                                            {
                                                <text>已退货</text>
                                            }
                                            else if (order.ReturnStatus == ReturnStatus.Failure)
                                            {
                                                <text>退货失败</text>
                                            }
                                            else if (order.ChangeStatus == ChangeStatus.Processing)
                                            {
                                                <text>换货中</text>
                                            }
                                            else if (order.ChangeStatus == ChangeStatus.Changed)
                                            {
                                                <text>已换货</text>
                                            }
                                            else if (order.ChangeStatus == ChangeStatus.Failure)
                                            {
                                                <text>换货失败</text>
                                            }
                                        </td>
                                        <td rowspan="@rowspan" align="center">
                                            <div class="operateArea"></div>
                                            @if (!order.ReturnStatus.HasValue && !order.ChangeStatus.HasValue)
                                            {                                                
                                                <p>
                                                    @*<a href="@Url.RouteUrl("CustomerReturnOrder", new { orderId = order.Id })">退货</a>*@
                                                    <a href="javascript:void(0);" class="returnorchange">退货</a>
                                                </p>
                                                <p>
                                                    @*<a href="@Url.RouteUrl("CustomerChangeOrder", new { orderId = order.Id })">换货</a>*@
                                                    <a href="javascript:void(0);" class="returnorchange">换货</a>
                                                </p>                                                
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>  
        <div id="dialog" style="display: none;">
            <div class="modal">
                <a href="###" class="close closeBtn"></a>
                <div class="modal-body clearfix">
                    <table>
                        <tr>
                            <td colspan="2">
                                <p>
                                    <strong>亲爱的60购用户，请选择以下方式完成退换货申请。60购客服将竭诚为您服务！</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>电话客服</strong><br />
                                400-996-6060
                            </td>
                            <td>
                                <strong>在线客服</strong><br />
                                <a href="@returnOrChangeRequestUrl" target="_blank">点击联系LIVE800</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        }
    }
    else
    {    
        <div class="ddCon">
            <div class="cart_no_box">
                <p class="f16px">您还没有退换货的申请！</p>
            </div>
        </div>     
    }
</div>
<div class="paginationArea clearfix">
    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").ShowTotalSummary(true)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".returnorchange").each(function () {
            $(this).click(function () {
                $("#dialog").lightbox_me({
                    centered: true
                });
            });
        });
    });
</script>


