@model WxLoginResultModel
@using Nop.Web.Models.Customer;
<!doctype html>
<html>
<head>
    <title>60购</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <meta name="author" content="www.60go.cn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/Themes/60GO2/Content/wx_css/global.css?v=20140401">
    <link rel="stylesheet" href="/Themes/60GO2/Content/wx_css/view.css?v=20140401">
    <style type="text/css">
        .boundle
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            padding: 10px 0;
            background: url(/Themes/60GO2/Content/wx_images/login_bg.jpg);
            background-size: 100% 100%;
        }

        .boundletext
        {
            margin: 20% 5%;
            width: 90%;
            height: 6em;
        }

            .boundletext img
            {
                float: left;
                margin-right: 1em;
                height: 6em;
            }

            .boundletext div
            {
                padding-top: 1em;
                line-height: 1.5em;
                text-align: left;
            }
    </style>
</head>
<body>
    <div class="container boundle">
        <div class="boundletext">
            @{var avatarUrl = !string.IsNullOrEmpty(Model.AvatarUrl) ? Model.AvatarUrl : "/Themes/60GO2/Content/images/comment_user.jpg";}
            <img src="@avatarUrl" />
            <div>
                <p>恭喜！</p>
                <p><span class="cgreen">@Model.AccountTypeName</span> 账户： <span class="cf30">@Model.Username</span></p>
                <p>捆绑成功！</p>
            </div>
        </div>
        <div id="go_to_practice" onclick="go_to_practice()" class="btn02 btnGreen">立即体验（<span id="spnTime">5</span> 秒后自动体验）</div>
    </div>
    @if (!string.IsNullOrEmpty(Request.QueryString["returnUrl"]))
    {
        <script type="text/javascript">
            function go_to_practice() {
                document.location.href = "@Html.Raw(Request.QueryString["returnUrl"])";
            }

            var time = 5;
            var handler = function () {
                if (time > 0) {
                    time--;
                    document.getElementById("spnTime").innerHTML = time;
                } else {
                    document.location.href = "@Html.Raw(Request.QueryString["returnUrl"])";
                    clearInterval(timer);
                }
            }
            var timer = setInterval(handler, 1000);
        </script>
    }
    <script type="text/javascript">
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
        });
    </script>
</body>
</html>
