@model ProductDetailsModel
@using Nop.Core.Domain.Media
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //Html.AddScriptParts("~/Scripts/slimbox2.js");
    //Html.AppendCssFileParts("~/Themes/60GO2/Content/css/slimbox2.css");
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/picture.show.css");
    int productPerRow = EngineContext.Current.Resolve<MediaSettings>().ProductThumbPerRowOnProductDetailsPage;
}
@if (Model.PictureModels.Count > 0)
{
    <div class="proBasic-l" style="position:relative;">

        <div id="preview" class="clearfix">

            <div id="spec-n1" class="jqzoom" onclick="javascript:void(0);" clstag="shangpin|keycount|product|spec-n1">
                @if (!string.IsNullOrEmpty(Model.SaleTag))
                {
                    <span class="sale-tag-b @Model.SaleTag.Replace("sale-tag","sale-tag-b")"></span>
                }
                <img id="main-product-img-@Model.Id" data-img="1" width="368" height="368" src="@Model.PictureModels[0].FullSizeImageUrl" alt="@Model.PictureModels[0].AlternateText" title="@Model.PictureModels[0].Title" jqimg="@Model.PictureModels[0].FullSizeImageUrl">
               @if (Model.AddToCart!=null&&Model.AddToCart.IsSoldOut)
               {
                <span class="sale-tag-none-big"></span>   
               }
                
            </div>
            <div id="spec-list">
                @if (Model.PictureModels.Count > 1)
                {
                    <a href="javascript:;" class="spec-control disabled" id="spec-forward"></a>
                    <a href="javascript:;" class="spec-control disabled" id="spec-backward"></a>
                }
                <div class="spec-items">
                    <ul>
                        @for (int i = 0; i < Model.PictureModels.Count; i++)
                        {
                            var picture = Model.PictureModels[i];
                            <li>

                                <a href="javascript:void(0)" title="@Model.Name" class="@(i == 0 ? "on" : "")">
                                    <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" width="70" height="70" data-url="@picture.FullSizeImageUrl">
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript" src="~/Themes/60GO2/Content/js/picture.show.js"></script>

    <script>
        $(function () {
            $(".spec-items").imgScroll({
                "visible": 4,
                "speed": 200,
                "step": 1,
                "loop": !1,
                "prev": "#spec-forward",
                "next": "#spec-backward",
                "disableClass": "disabled"
            });
            /* author 2014-1-3 by andyqin
            //jqZoomPup的宽度=zoomdiv宽度*img的实际宽度/bigimg的自然宽度
            //jqZoomPup的高度=zoomdiv高度*img的实际高度/bigimg的自然高度
            */
            $(".jqzoom").jqueryzoom({
                "xzoom": 400,//zoomdiv的宽度
                "yzoom": 400,//zoomdiv的高度
                "offset": 10,
                "position": "left",
                "preload": 1,
                "lens": 1
            })

            $("#spec-list li").mouseover(function () {
                var e = $(this).find("img"), t = e.attr("src"), u = e.attr("data-url"), i = $("#spec-list li").index($(this)), s = $(this).attr("data-video"), a = "http://yuntv.letv.com/bcloud.html?uu=abcde12345&vu={V}&pu=12345abcde&auto_play=0&width=352&height=352";
                $("#spec-list img").removeClass("img-hover"), e.addClass("img-hover"), 1 === i && s ? 1 > $("#le-video").length ? $("#preview").append('<iframe id="le-video" src="' + a.replace("{V}", s) + '" frameborder="0" scrolling="no" style="display:block; width:352px; height:352px; position:absolute; left:0; top:0; "></iframe>') : $("#le-video").show() : ($("#spec-n1 img").eq(0).attr({
                    "src": u,
                    "jqimg": u
                }), $("#le-video").length > 0 && $("#le-video").hide());
            })

        });
    </script>
}
else if (Model.DefaultPictureModel != null)
{
    //col-md-1  原有的样式 alvin
    <div class="proBasic-l">
        <div class="bigPropic">
            <a href="@Model.DefaultPictureModel.FullSizeImageUrl" data-gallery="lightbox-p">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.FullSizeImageUrl"
                     title="@Model.DefaultPictureModel.Title" height="285" width="285" />
                @if (Model.AddToCart != null && Model.AddToCart.IsSoldOut)
                {
                    <span class="sale-tag-none-big"></span>
                }
            </a>
           
        </div>
        <div class="smallPropic">
            <a href="javascript:void(0)" class="glyphicon glyphicon-chevron-left pull-left"></a>
            <a href="javascript:void(0)" class="glyphicon glyphicon-chevron-right pull-right"></a>
            <div class="scrollArea">
                <ul>
                    <li>
                        <a href="javascript:void(0)" title="@Model.Name" class="on">
                            <img src="@Model.DefaultPictureModel.ImageUrl" alt="@Model.DefaultPictureModel.AlternateText"
                                 title="@Model.DefaultPictureModel.Title" height="70" width="70" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-4">
    </div>
}