@model ProductOverviewModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
    }    
}

<li>
    <div class="inner">
        <div class="pic">
            @if (!string.IsNullOrEmpty(Model.SaleTag))
            {
                <span class="sale-tag @Model.SaleTag"></span>
            }
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title" target="_blank">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
            </a>
        </div>
        <div class="text clearfix">
            <h2><a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" target="_blank">@Model.Name</a></h2>
            <p>
                @Model.ProductPrice.Price
                @if (Model.ProductPrice.OldPrice != null)
                { 
                    <em>@Model.ProductPrice.OldPrice</em> 
                }
            </p>
         @*   @if (!Model.ProductPrice.DisableBuyButton)
            {
                <a href="javascript:void(0);" data-input="1" data-pid="@Model.Id" data-picurl="@Model.DefaultPictureModel.ImageUrl" class="btn-cart-01 add-to-cart"></a>
            }*@
        </div>
        @*<div class="btns clearfix">
            @if (!Model.ProductPrice.DisableBuyButton)
            {
                <div class="buy-num-01">
                    @{var quantityInputId = string.Format("quantity_{0}", Model.Id); }
                    <a href="javascript:void(0);" class="minus" data-input="@quantityInputId"></a>
                    <span class="num-text">
                        <input id="@quantityInputId"  type="text" value="1" onkeyup="value=value.replace(/[^\d]/g,'')"  maxlength="2"></span>
                    <a href="javascript:void(0);" class="plus" data-input="@quantityInputId"></a>
                </div>
                <a href="javascript:void(0);" data-input="@quantityInputId" data-pid="@Model.Id" data-picurl="@Model.DefaultPictureModel.ImageUrl" class="btn-cart-01 add-to-cart"></a>
            }
        </div>*@
    </div>
</li>




