@model ProductDetailsModel.ReviewSummaryModel
@using Nop.Web.Models.Catalog;

			<div class="proOther clearfix">
				<h5>@T("ProductReviews.GoodReviewDegree")</h5>
				<p class="percent">
					<em>@Model.GoodReviewPercent</em>
					<span>@T("ProductReviews.TakePartInReviewNumber", Model.AllReviewNum)</span>
				</p>
				<ul class="progressList">
					<li class="clearfix"><span>@T("ProductReviews.GoodReview") @Model.GoodReviewPercent</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.GoodReviewPercent;">
							</div>
						</div>
					</li>
					<li class="clearfix"><span>@T("ProductReviews.MediumReview") @Model.MediumReviewPercent</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.MediumReviewPercent;">
							</div>
						</div>
					</li>
					<li class="clearfix"><span>@T("ProductReviews.BadReview") @Model.BadReviewPercent</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.BadReviewPercent;">
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="proOther clearfix">
				<h5>@T("ProductReviews.BuyerImpressionTag")</h5>
				<div class="impress clearfix">
					@if (Model.SummaryTags.Count > 0)
                    {
                        foreach (var item in Model.SummaryTags)
                        {
                        <span>@item</span>
                        }
                    }
                    else
                    {
                        <div class="text-center pad_20 cgray">暂无印象标签</div>
                    }
				</div>
			</div>



