@model ProductReviewsModel
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@using Nop.Core.Domain.Catalog;

@helper GetCustomerName(string customerName, bool isAnonymous)
{
    if (customerName != "")
    {
        customerName = isAnonymous ? customerName.Substring(0, 1) + "*****" + customerName.Substring(customerName.Length - 1) + "(匿名)" : customerName;
    }
    <text>@Html.Raw(customerName)</text>
}
@if (Model.PagingFilteringContext.RatingFilter.Enabled)
{
    @Html.Partial("_FilterRatingBox", Model.PagingFilteringContext.RatingFilter)
}
@if (Model.Items.Count > 0)
{
    
    <ul class="commentArea">
        @foreach (var review in Model.Items)
        {
            <li class="clearfix">
                <div class="user">
                    @if (review.AllowViewingProfiles)
                    {
                        <a href="@Url.RouteUrl("CustomerProfile", new { id = review.CustomerId })">
                            <img src="@Url.Content("~/Themes/60GO2/Content/images/comment_user.jpg")" width="80" height="80" /></a>
                        <a href="@Url.RouteUrl("CustomerProfile", new { id = review.CustomerId })">@GetCustomerName(review.CustomerName, review.IsAnonymous)</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)">
                            <img src="@Url.Content("~/Themes/60GO2/Content/images/comment_user.jpg")" width="80" height="80"></a>
                        <a href="javascript:void(0)">@GetCustomerName(review.CustomerName, review.IsAnonymous)</a>
                    }

                </div>
                <div class="commentCon">
                    <span class="arrow"></span>
                    <div class="top clearfix">
                        <span class="beleft">
                            @T("ProductReviews.Review")
                            @if (review.Rating == 3)
                            {
                                <img src="@Url.Content("~/Themes/60GO2/Content/images/rate_good.png")" width="16" height="16" /> @T("ProductReviews.GoodReview")
                            }
                            else if (review.Rating == 2)
                            {
                                <img src="@Url.Content("~/Themes/60GO2/Content/images/rate_normal.png")" width="16" height="16" /> @T("ProductReviews.MediumReview")
                            }
                            else
                            {
                                <img src="@Url.Content("~/Themes/60GO2/Content/images/rate_bad.png")" width="16" height="16" /> @T("ProductReviews.BadReview")
                            }
                        </span>
                        <span class="beright">
                          @*  @if (review.OrderCreateTime.HasValue)
                            {
                                //@review.CreateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")  @T("ProductReviews.Buy")
                                @review.OrderCreateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")  @T("ProductReviews.Buy")
                            }*@
                             @review.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")  
                        </span>
                    </div>
                    <div class="mid clearfix">
                        <h5>@T("ProductReviews.Content")</h5>
                        <p>@review.ReviewText</p>
                    </div>
                    <div class="bottom clearfix">
                        <div class="tags">@T("ProductReviews.Tag")
                            @if (review.Tags != null && review.Tags.Length > 0)
                            {
                                foreach (var item in review.Tags)
                                {
                                <span>@item</span>
                                }
                            }
                        </div>
                        <a href="javascript:void(0)" onclick="helpfulYesAdd(this)" id="ahy_@review.Id" class="beright">@T("ProductReviews.HelpfulYes") (<span id="shy_@review.Id">@review.Helpfulness.HelpfulYesTotal</span>)</a>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="paginationArea clearfix">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").QueryAdditionalParam("productId", Model.ProductId.ToString()).ShowTotalSummary(true)
    </div>
}
else
{
    <div class="f24px cgray text-center pad_20">
        @{
    object obj = Request.QueryString["rating"];
    if (obj == null)
    {
        <text>@Html.Raw("新上架的商品，这样好的东西居然无人知晓？")</text>
    }
    else
    {
        var resultText = "目前该商品还没有{0}内容。";
        var rating = Convert.ToInt32(obj);
        switch (rating)
        {
            case (int)ReviewRating.GoodReview:
                resultText = string.Format(resultText, T("ProductReviews." + ReviewRating.GoodReview.ToString()));
                break;
            case (int)ReviewRating.MediumReview:
                resultText = string.Format(resultText, T("ProductReviews." + ReviewRating.MediumReview.ToString()));
                break;
            case (int)ReviewRating.BadReview:
                resultText = string.Format(resultText, T("ProductReviews." + ReviewRating.BadReview.ToString()));
                break;
            default:
                resultText = string.Format(resultText, T("ProductReviews.Review")).Replace("：", string.Empty);
                break;
        }
        <text>@Html.Raw(resultText)</text>
    }
        }
    </div>
}
<script type="text/javascript">
    $(function () {
        $("ul.pagination li[class!='disabled'] a[href]").click(function () {
            var hrefStr = $(this).attr("href");
            var urlStr = hrefStr.substr(0, hrefStr.indexOf("?"));
            var dataStr = hrefStr.substr(hrefStr.indexOf("?") + 1);
            if (dataStr.indexOf("rating") > -1) {
                urlStr = hrefStr.substr(0, hrefStr.indexOf("&"));
                dataStr = hrefStr.substr(hrefStr.indexOf("&") + 1);
            }
            dataStr += "&random=" + Math.random();
            getCurrentPageReviews(urlStr, dataStr);
            return false;
        });
    });
    function helpfulYesAdd(obj) {
        var prId = obj.id.substring(4);
        $.ajax({
            url: "@(Url.RouteUrl("HelpfulYesAdd"))",
            data: { "productReviewId": prId },
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    if (parseInt(value) > 0) {
                        $("#shy_" + prId).html(value);
                    } else {
                        alert("操作失败！");
                    }
                });
            },
            error: function (e) {
                alert("操作失败！");
            }
        });
    }
</script>



