@model CategoryNavigationModel
@using Nop.Web.Models.Catalog;
@functions{
    public bool IsSelected(CategoryNavigationModel.CategoryModel category, int currentCategoryId)
    {
        if (category.Id == currentCategoryId)
            return true;

        foreach (var item in category.SubCategories)
        {
            var result = IsSelected(item, currentCategoryId);
            if (result)
                return true;
        }

        return false;
    }
}
@if (Model.Categories.Count > 0)
{
    var mainCategory = Model.Categories.FirstOrDefault();
    <div class="secondaryClass clearfix">
        <h2>@mainCategory.Name</h2>
        <ul id="mainCategory">
            @for (var i = 0; i < mainCategory.SubCategories.Count; i++)
            {
                var secondCategory = mainCategory.SubCategories[i];
                //var isSelected = IsSelected(secondCategory, Model.CurrentCategoryId) || (mainCategory.Id == Model.CurrentCategoryId && i == 0);
                var isSelected = IsSelected(secondCategory, Model.CurrentCategoryId);
                <li class="@(isSelected ? "on" : "")">
                    <p>
                        <a href="@Url.RouteUrl("Category", new { SeName = secondCategory.SeName })" class="a1">
                        @*<a href="javascript:void(0)" class="a1" onclick="doExpend(@i)">*@
                            @secondCategory.Name
                            @if (secondCategory.NumberOfProducts.HasValue)
                            {
                                <text> (@(secondCategory.NumberOfProducts.Value))</text>
                            }
                        </a>
                        <em onclick="doExpend(@i)"></em>
                    </p>
                    <ul class="clearfix" @if (!isSelected)
                                         { <text>style="display: none;"</text> }>
                        @foreach (var thirdCategory in secondCategory.SubCategories)
                        {
                            <li>
                                @*<a href="###" class="on">坚果</a>*@
                                <a href="@Url.RouteUrl("Category", new { SeName = thirdCategory.SeName })" class="@(thirdCategory.Id == Model.CurrentCategoryId ? "on" : "")">
                                    @thirdCategory.Name
                                    @if (thirdCategory.NumberOfProducts.HasValue)
                                    {
                                        <text> (@(thirdCategory.NumberOfProducts.Value))</text>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <script type="text/javascript">
        function doExpend(index) {
            var items = $("#mainCategory").children();
            if ($(items[index]).hasClass("on")) {
                $(items[index]).removeClass("on");
                $(items[index]).find("ul").hide();
            } else {
                $(items[index]).addClass("on");
                $(items[index]).find("ul").show();
            }
            /*if ($(items[index]).hasClass("on")) {
                $(items[index]).removeClass("on");
                $(items[index]).find("ul").hide();
                return;
            }
            for (var i = 0; i < items.length; i++) {
                if (i == index) {
                    $(items[i]).addClass("on");
                    $(items[i]).find("ul").show();
                }
                else {
                    $(items[i]).removeClass("on");
                    $(items[i]).find("ul").hide();
                }
            }*/
        }
    </script>
}