@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_pro.css");

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }
}
<a name="top"></a>
@Html.Widget("productdetails_top")
<div class="container pad_t_10 mar_b_20 clearfix">
    <!--product breadcrumb-->
    @Html.Action("ProductBreadcrumb", "Catalog", new { productId = Model.Id })
    @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
    {
        <div class="proBasic clearfix">
            @Html.Widget("productdetails_before_pictures")
            <!--product pictures-->
            @Html.Partial("_Product.Pictures", Model)
            @Html.Widget("productdetails_after_pictures")
            @Html.Widget("productdetails_overview_top")
            @Html.Partial("_Product.Property", Model)
            @Html.Widget("productdetails_overview_bottom")
            @*@Html.Partial("_ProductQuickLinks", Model)*@
        </div>
    }

    <div class="leftSide">
        @Html.Action("RelatedProducts", "Catalog", new { productId = Model.Id })
    </div>
    <div class="rightSide">
        @*@Html.Partial("_ProductGroup")*@
        @*@Html.Action("ProductDiscounts", "Catalog", new { productId = Model.Id })*@
        <div class="proInfo">
            @Html.Partial("_Product.Tabs", Model.AddToCart)
            <div class="con_01">
                <div id="description">@Html.Partial("_Product.Description", Model)</div>
                <div id="reviews" style="display: none;">
                    <div id="reviewArea"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Widget("productdetails_bottom")

<script type="text/javascript">
    $(function () {
        //var urlStr = window.location.href.substr(0, window.location.href.lastIndexOf("/")) + "/catalog/GetProductReviews/";
        var urlStr = "/catalog/GetProductReviews/";
        var dataStr = "productId=@(Model.Id)&random=" + Math.random();
        getCurrentPageReviews(urlStr, dataStr);
    });

    function getCurrentPageReviews(urlStr, dataStr) {
        $.ajax({
            cache: false,
            url: urlStr,
            data: dataStr,
            dataType: 'json',
            type: 'post',
            success: function (data) {
                if (data.update_section) {
                    $("#reviewArea").html(data.update_section.html);
                }
            },
            error: function (e) {
                alert("操作失败！");
            }
        });
    }
</script>

