@model RecentlyViewedProductsModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
}
@using Nop.Web.Models.Catalog;

@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}

@{
    var mostViewedQuery = from product in Model.Products
                          group product by new
                          {
                              product.ProductOverview
                          } into g
                          select new
                          {
                              g.Key.ProductOverview,
                              ViewTimes = g.Sum(p => p.ViewTimes)
                          };
    mostViewedQuery = mostViewedQuery.OrderByDescending(n => n.ViewTimes);
    var mostViewed = mostViewedQuery.Take(5).ToList();

    var dateQuery = from product in Model.Products
                    group product by new
                    {
                        product.ViewDate
                    } into g
                    select new
                    {
                        g.Key.ViewDate
                    };
    dateQuery = dateQuery.OrderByDescending(d => d.ViewDate);
    var dates = dateQuery.Select(d => d.ViewDate).ToList();
}

<div class="breadcrumbs clearfix">
    <ul>
        <li>@T("RecentlyViewedProducts")</li>
    </ul>
</div>
<div class="normalTitle clearfix">
    <h2 class="cgreen">@T("RecentlyViewedProducts.MostViewed")</h2>
</div>
<div class="scList clearfix mar_b_10">
    <ul>
        @foreach (var product in mostViewed)
        {
            <li>
                <div class="inner">
                    <div class="pic">
                        @if (!string.IsNullOrEmpty(product.ProductOverview.SaleTag))
                        {
                            <span class="sale-tag @product.ProductOverview.SaleTag"></span>
                        }
                        <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverview.SeName })" target="_blank">
                            <img alt="@product.ProductOverview.DefaultPictureModel.AlternateText" src="@product.ProductOverview.DefaultPictureModel.ImageUrl" title="@product.ProductOverview.DefaultPictureModel.Title" />
                        </a>
                    </div>
                    <div class="text">
                        <h2>
                            <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverview.SeName })" target="_blank">@product.ProductOverview.Name</a></h2>
                        <p>@product.ProductOverview.ProductPrice.Price
                            @if (product.ProductOverview.ProductPrice.OldPrice != null)
                            { 
                                <em>@product.ProductOverview.ProductPrice.OldPrice</em> 
                            }
                        </p>
                    </div>
                    <div class="times">@T("RecentlyViewedProducts.MostViewed.Times", product.ViewTimes)</div>
                </div>
            </li>
        }
    </ul>
</div>
<div class="normalTitle clearfix">
    <h2>@T("RecentlyViewedProducts.Last30DaysViewed")</h2>
</div>
@foreach (var date in dates)
{
    var products = Model.Products.Where(p => p.ViewDate == date).ToList();
    <div class="dayTitle">@T("RecentlyViewedProducts.Last30DaysViewed.Date", date.Month, date.Day)</div>
    <div class="normalList-04 clearfix">
        <ul>
            @foreach (var product in products)
            {      
                <li>
                    <div class="inner">
                        <div class="pic">
                            @if (!string.IsNullOrEmpty(product.ProductOverview.SaleTag))
                            {
                                <span class="sale-tag @product.ProductOverview.SaleTag"></span>
                            }
                            <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverview.SeName })" target="_blank">
                                <img alt="@product.ProductOverview.DefaultPictureModel.AlternateText" src="@product.ProductOverview.DefaultPictureModel.ImageUrl" title="@product.ProductOverview.DefaultPictureModel.Title" />
                            </a>
                        </div>
                        <div class="text">
                            <h2>
                                <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverview.SeName })" target="_blank">@product.ProductOverview.Name</a></h2>
                            <p>@product.ProductOverview.ProductPrice.Price
                                @if (product.ProductOverview.ProductPrice.OldPrice != null)
                                { 
                                    <em>@product.ProductOverview.ProductPrice.OldPrice</em> 
                                }
                            </p>
                        </div>
                    </div>
                </li>                  
            }
        </ul>
    </div>
}
