@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_pro.css");
    Html.AppendScriptParts("~/Themes/60GO2/Content/js/jquery.numeric.js");

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Common;
@section _floatarea
{
    @Html.Action("FloatArea", "Common", new { pageTurningEnabled = true,backToHomeEnabled=true,wishlistEnabled=true,shoppingCartEnabled = true})
}
<div class="container pad_t_10 mar_b_20 clearfix">
    <div class="leftSide">
        @{int i = 0;}
        <div class="secondaryClass clearfix">
            @if (Model.categoryTree != null)
            {
                foreach (var tree in Model.categoryTree.ChildrenTrees)
                {
@*<h2>@tree.Node.Name</h2>*@
                <ul id="mainCategory">
                    @foreach (var stree in tree.ChildrenTrees)
                    {
                        <li class="on">
                            <p action-type="subToggle">
                                @*<a href="javascript:void(0);" action-type="subToggle" class="a1">*@
                                <a href="@(stree.Node.FilterUrl)">
                                    @stree.Node.Name @(stree.Node.ProductQuantity != 0 ? "(" + stree.Node.ProductQuantity.ToString() + ")" : "")
                                </a>
                                @if (stree.ChildrenTrees.Count > 0)
                                {
                                    <em></em>
                                }
                            </p>
                            @if (stree.ChildrenTrees.Count > 0)
                            {
                                <ul class="clearfix">
                                    @foreach (var ttree in stree.ChildrenTrees)
                                    {
                                        <li>
                                            <a href="@(ttree.Node.FilterUrl)" @(@ttree.Node.Id==Model.Cid?"class=on":"")>
                                                @(ttree.Node.Name)(@ttree.Node.ProductQuantity)
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
                }
            }
        </div>
        <script>
            $(function () {
                $('[action-type="subToggle"]').click(function () {
                    subToggle(this);

                });
                //隐藏显示当前项
                var subToggle = function (This) {
                    var o = $(This).nextAll('ul');
                    var c = o.eq(0);

                    c.is(":visible") ? c.hide() && $(This).parent("li").removeClass("on") : c.show() && $(This).parent("li").addClass("on");

                }
                //除当前项外全隐藏
                var hideAllButThis = function (This) {

                    var o = $(This).nextAll('ul');
                    $("#mainCategory").children("li").removeClass("on");
                    var c = o.eq(0);
                    //var hasShow = c.is(":visible");                    
                    $("#mainCategory").find("ul").hide();
                    c.show(), $(This).parent("li").addClass("on");
                    //hasShow ? c.hide() && $(This).parent("li").removeClass("on") : c.show() && $(This).parent("li").addClass("on");

                }
            });
        </script>
    </div>
    <div class="rightSide">
        <div class="breadcrumbs clearfix">
            <ul>
                <li>@T("Search.Result")<span>@breadcrumbDelimiter</span></li>
                <li>@Model.Q</li>
            </ul>
        </div>

        @if (Model.NoResults)
        {
            <div class="pad_20">
                <div class="box-tips">@MvcHtmlString.Create(string.Format(T("Search.SearchWord.NoResultsText").Text, Model.Q))</div>
            </div>
        }
        else
        {   
            @Html.Widget("categorydetails_top")
            @Html.Widget("categorydetails_before_filters")
            //if (Model.PagingFilteringContext.SpecificationFilter.Enabled || Model.PagingFilteringContext.PriceRangeFilter.Enabled)
            if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
            {
            <div class="proSelect">
                @Html.Partial("_SearchFilterSelectedBox", Model.PagingFilteringContext, new ViewDataDictionary())
                @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
                {
                    @Html.Partial("_SearchFilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter, new ViewDataDictionary())
                }
@*@if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
                {
                    @Html.Partial("_SearchFilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())
                }*@
            </div>
            }

            if (Model.Products.Count > 0)
            {    
            <div class="sortBar">
                <ul class="sortList">
                    @if (Model.PagingFilteringContext.AllowProductSorting && Model.Products.Count > 0)
                    {
                        foreach (var sortOption in Model.PagingFilteringContext.AvailableSortOptions)
                        {
                            var sText = sortOption.Text.Split('|')[0]; var ascFlag = sortOption.Text.Split('|')[1];
                            var className = "";
                            if (sText != "默认")
                            {
                                if (sortOption.Selected && ascFlag == "0")
                                { className = "sort-down-active"; }
                                else if (sortOption.Selected && ascFlag != "0")
                                { className = "sort-up-active"; }
                                else
                                { className = "sort-down"; }
                            }
                        <li><a href="@sortOption.Value" class="@className" title="@sortOption.Value">@(sText)</a></li>                    
                        }
                    }
                    @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
                    {
                        @Html.Partial("_SearchFilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())
                    }
                </ul>
                @*    <ul class="pagesList">
        <li>@T("Category.TotalProducts", Model.PagingFilteringContext.TotalItems)</li>
        <li>
            <button class="btn btn-default btn-xs" type="button"><span class="caret-left"></span>上一页</button></li>
        <li>
            <button class="btn btn-default btn-xs" type="button">上一页<span class="caret-right"></span></button></li>
    </ul>*@
                @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").SimpleMode(true).ShowTotalSummary(true)
            </div>
            @Html.Widget("categorydetails_before_product_list")
@*product list*@

                    if (Model.PagingFilteringContext.ViewMode == "list")
                    {
@*list mode*@
            <div class="normalList-01 clearfix">
                <ul>
                    @foreach (var product in Model.Products)
                    {
                        @Html.Partial("CategoryProductBox", product)
                    }
                </ul>
            </div>
                    }
                    else
                    {
@*grid mode*@
            <div class="normalList-03 clearfix">
                <ul>
                    @foreach (var product in Model.Products)
                    {
                        @Html.Partial("CategoryProductBox", product)
                    }
                </ul>
            </div>
                    }
            <div class="paginationArea clearfix">
                @*@Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")*@
                @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").ShowTotalSummary(true)
            </div>
  
            }
            else
            {
            <div class="pad_20">
                <div class="box-tips">@MvcHtmlString.Create(string.Format(T("Search.SearchWord.NoResultsText").Text, Model.Q))</div>
            </div>
            }            
            @Html.Widget("categorydetails_bottom") 
            <script type="text/javascript">
                $(".num-text input").numeric();

                $(function () {
                    $("[node-type='quantity-minus']").click(function () {
                        var pid = $(this).attr("data");
                        var o = $("[name='quantity-" + pid + "']");
                        var newValue = parseInt(o.val()) - 1;
                        if (newValue < 1)
                            newValue = 1;
                        o.val(newValue)
                    });
                    $("[node-type='quantity-plus']").click(function () {
                        var pid = $(this).attr("data");
                        var o = $("[name='quantity-" + pid + "']");
                        var newValue = parseInt(o.val()) + 1;
                        if (newValue > 99)
                            return;
                        o.val(newValue)
                    });

                });

            </script>
        }
    </div>
</div>
