@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@using Nop.Core.Domain.Common;

@*首页-顶部站内搜索框-移动状态*@

@section _header{
    @if (IsSectionDefined("_header"))
    {
        @RenderSection("_header", false)
    }
    else
    {
        @Html.Partial("Header")
    }
}
@section _menu{
    @if (IsSectionDefined("_menu"))
    { 
        @RenderSection("_menu", false)
    }
    else
    {
        <div class="nav">
            <div class="container">
                @Html.Action("Menu", "Common")
            </div>
        </div>
    }
}
@section _fixed_header{
    @if (IsSectionDefined("_fixed_header"))
    { 
        @RenderSection("_fixed_header", false)
    }
    else
    {
        <div class="fixedTopShow"></div>
        <div class="fixedTop">
            <div class="topBar">
                <div class="container">
                    <div class="fixedLogo"><a href="@Url.RouteUrl("HomePage")"></a></div>
                    <ul class="topLink">
                        @Html.Action("HeaderLinks", "Common")
                        @Html.Widget("header_links_after")
                    </ul>
                </div>
            </div>
            <div class="fixedNav">
                <div class="container">
                    <div class="dropdown" id="topFixedCategory">
                        <a href="###" class="classCloose">@T("AllCategories")<b class="caret"></b></a>
                        <div class="dropdown-menu" style="display: none" id="fixed-flyout-categories">
                            @Html.Action("FlyoutCategories", "Catalog")
                        </div>
                    </div>
                    @Html.Action("SearchBox", "Catalog", new {showMode = ShowMode.Fixed })
                </div>
            </div>
        </div>
        @*Html.AddScriptParts("~/Themes/60GO2/Content/js/public.fixedhead.js");*@
    }
}
@section _footer_before{
    @if (IsSectionDefined("_footer_before"))
    { 
        @RenderSection("_footer_before", false)
    }
    else
    {  
        @Html.Partial("Footer.Before")    
    }
}
@section _floatarea{
    @if (IsSectionDefined("_floatarea"))
    {
        @RenderSection("_floatarea", false)
    }
    else
    {
        @Html.Action("FloatArea", "Common", new { pageTurningEnabled = false, backToPreviousEnabled = true,wishlistEnabled=true,shoppingCartEnabled = true })
    }
}
@Html.Widget("main_column_before")
@RenderBody()
@Html.Widget("main_column_after")
