@{
    //success messages
    var successMessages = new List<string>();
    if (TempData[string.Format("nop.notifications.{0}", NotifyType.Success)] != null)
    {
        successMessages.AddRange(TempData[string.Format("nop.notifications.{0}", NotifyType.Success)] as IList<string>);
    }
    if (ViewData[string.Format("nop.notifications.{0}", NotifyType.Success)] != null)
    {
        successMessages.AddRange(ViewData[string.Format("nop.notifications.{0}", NotifyType.Success)] as IList<string>);
    }


    //error messages
    var errorMessages = new List<string>();
    if (TempData[string.Format("nop.notifications.{0}", NotifyType.Error)] != null)
    {
        errorMessages.AddRange(TempData[string.Format("nop.notifications.{0}", NotifyType.Error)] as IList<string>);
    }
    if (ViewData[string.Format("nop.notifications.{0}", NotifyType.Error)] != null)
    {
        errorMessages.AddRange(ViewData[string.Format("nop.notifications.{0}", NotifyType.Error)] as IList<string>);
    }
}
@foreach (var message in successMessages)
{
    <script type="text/javascript">
        $(document).ready(function () {
            displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(message))', 'success', false);
        });
    </script>
}
@foreach (var message in errorMessages)
{
    <script type="text/javascript">
        $(document).ready(function () {
            displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(message))', 'error', false);
        });
    </script>
}
<!-- Modal -->
<div class="modal fade" id="dialog-addtocart-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal_01">
        <form class="form-inline" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="okBox">
                        @*<p class="f18px">加入购物车成功</p>
                        <a class="btn btn-green btn-sm mar_r_20" href="#" target="_blank">去购物车结算</a>
                        <a href="javascript:void(0)" data-dismiss="modal" aria-hidden="true">继续购物</a>*@
                    </div>
                    <p>购买了此商品的用户还购买了</p>
                    <ul class="row proList">
                        <li class="col-md-4"><a href="###">
                            <img src="@Url.Content("~/Themes/60GO2/Content/images/pro_pic_01.jpg")"></a>
                            <div class="text clearfix">
                                <h5><a href="###">金龙鱼 非转基因压榨 玉米油 5L/瓶 玉米胚芽油</a></h5>
                                <h4 class="text-center"><strong>￥59.93</strong> <small>/68.80</small></h4>
                            </div>
                        </li>
                        <li class="col-md-4"><a href="###">
                            <img src="@Url.Content("~/Themes/60GO2/Content/images/pro_pic_01.jpg")"></a>
                            <div class="text clearfix">
                                <h5><a href="###">金龙鱼 非转基因压榨 玉米油 5L/瓶 玉米胚芽油</a></h5>
                                <h4 class="text-center"><strong>￥59.93</strong> <small>/68.80</small></h4>
                            </div>
                        </li>
                        <li class="col-md-4"><a href="###">
                            <img src="@Url.Content("~/Themes/60GO2/Content/images/pro_pic_01.jpg")"></a>
                            <div class="text clearfix">
                                <h5><a href="###">金龙鱼 非转基因压榨 玉米油 5L/瓶 玉米胚芽油</a></h5>
                                <h4 class="text-center"><strong>￥59.93</strong> <small>/68.80</small></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="dialog-notifications-success" title="@T("Common.Notification")" style="display:none;">
</div>
<div id="dialog-notifications-error" title="@T("Common.Error")" style="display:none;">
</div>
<div id="bar-notification" class="bar-notification">
    <span class="close" title="@T("Common.Close")">&nbsp;</span>
</div>
@Html.Widget("notifications")
