@using Nop.Core.Infrastructure.DependencyManagement;
@using Nop.Core.Infrastructure;
@using Nop.Core.Domain;
@{
    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
    if (EngineContext.Current.Resolve<StoreInformationSettings>().SubDirectoryForStoreEnabled)
    {
        var currentStore = EngineContext.Current.Resolve<Nop.Core.IStoreContext>().CurrentStore;

        if (storeLocation.EndsWith("/"))
        {
            if (!storeLocation.EndsWith("/" + currentStore.Hosts + "/", StringComparison.InvariantCultureIgnoreCase))
            {
                storeLocation += currentStore.Hosts + "/";
            }
        }
        else
        {
            if (!storeLocation.EndsWith("/" + currentStore.Hosts, StringComparison.InvariantCultureIgnoreCase))
            {
                storeLocation += "/" + currentStore.Hosts + "/";
            }
        }
    }
}
<div class="serviceBox">
    <div class="container">
        <img src="@Url.Content("~/Themes/60GO2/Content/images/service_pic.jpg")">
    </div>
</div>
<div class="helpArea">
    <ul class="clearfix">
        <li>
            <h4>新手入门</h4>
            <a href="@(storeLocation)help/ProductGuarantee" target="_blank">正品保证</a>
            <a href="@(storeLocation)help/ShoppingFlow" target="_blank">购物流程</a>
            <a href="@(storeLocation)help/InvoiceRequest" target="_blank">发票开具</a>
            <a href="@(storeLocation)help/CustomerSupport" target="_blank">联系客服</a>
            <a href="@(storeLocation)help/FAQ" target="_blank">常见问题</a>
        </li>
        <li>
            <h4>配送服务</h4>
            <a href="@(storeLocation)help/AcceptanceAndSign" target="_blank">商品验货及签收</a>
            <a href="@(storeLocation)help/DeliverySchedule" target="_blank">配送进度查询</a>
            <a href="@(storeLocation)help/DistributionRange" target="_blank">配送范围及运费</a>
            <a href="@(storeLocation)help/EveningReturnService" target="_blank">其他问题</a>
        </li>
        <li>
            <h4>支付方式</h4>
            <a href="@(storeLocation)help/PaymentCashAccount" target="_blank">现金账户支付</a>
            @*<a href="@(storeLocation)help/PaymentGiftCard" target="_blank">礼品卡支付</a>*@
            <a href="@(storeLocation)help/PaymentVoucher" target="_blank">优惠券支付</a>
            <a href="@(storeLocation)help/PaymentNet" target="_blank">网上支付</a>
        </li>
        <li>
            <h4>售后服务</h4>
            <a href="@(storeLocation)help/ReturnPolicy" target="_blank">退换货政策</a>
            <a href="@(storeLocation)help/ReturnFlow" target="_blank">退换货流程</a>
            <a href="@(storeLocation)help/ReturnFee" target="_blank">退换货费用</a>
            <a href="@(storeLocation)help/ReturnTiming" target="_blank">退款方式及时效</a>
            <a href="@(storeLocation)help/ReturnNote" target="_blank">退换货相关说明</a>
        </li>
        <li>
            <h4>招商电话</h4>
            <div>0731-83976970</div>
        </li>
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        var $anchors = $(".helpArea .container ul li a");
        $.each($anchors, function () {
            if ($(this).attr("href") == "" || $(this).attr("href").indexOf("#") > -1) {
                $(this).attr("href", "@(Url.RouteUrl("underbuilding"))");
            }
        });
    });
</script>