<div class="topBar">
    @Html.Widget("header")

    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            @Html.Action("HeaderLinks", "Common")
        </ul>
        @*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
        @Html.Widget("header_selectors")
    </div>
</div>
<div class="top">
    <div class="container">
        <div class="col-md-4">
            <div class="logo">
                <a href="@Url.RouteUrl("HomePage")" class="a1">60购</a>
                @Html.Action("StoreSelector", "Common")
            </div>
        </div>
        <div class="searchArea col-md-8">
            @*@Html.Action("SearchBox", "Catalog")*@
        </div>
    </div>
</div>
