@model Nop.Web.Models.Customer.CustomerNavigationModel
@using Nop.Core.Domain.Coupons
@using Nop.Web.Models.Customer;
<script type="text/javascript">
    @*$(document).ready(function () {
        var elm = $('.fixedShow');
        var startPos = $(elm).offset().top;
        $.event.add(window, "scroll", function () {
            var p = $(window).scrollTop();
            if ((p) > startPos) {
                $('.mycenterMenu').css('position', 'fixed');
                $('.mycenterMenu').css('width', '180px');
                $('.mycenterMenu').css('top', '0px');
            }
            else {
                $('.mycenterMenu').css('position', '');
                $('.mycenterMenu').css('width', 'auto');
            }
        });
    });*@
</script>
<div class="fixedShow"></div>
<div class="mycenterMenu" style="width: auto; top: 0px;">
    <ul>
        <li class="on"><a href="###" class="a1"><span class="glyphicon glyphicon-list-alt"></span>我的交易</a>
            <ul class="sub">
                <li @if (Model.SelectedTab == CustomerNavigationEnum.Orders)
                    {<text>class="on"</text>}><a href="@Url.RouteUrl("CustomerOrders")">我的订单</a></li>
                <li @if (Model.SelectedTab == CustomerNavigationEnum.Wishlist)
                    {<text>class="on"</text>}>
                    <a href="@Url.RouteUrl("Wishlist")">@T("Account.Wishlist")</a>
                </li>
                <li @if (Model.SelectedTab == CustomerNavigationEnum.RecentlyViewedProducts)
                    {<text>class="on"</text>}>
                    <a href="@Url.RouteUrl("RecentlyViewedProducts")">浏览历史</a></li>
                <li @if (Model.SelectedTab == CustomerNavigationEnum.ReturnOrders)
                    {<text>class="on"</text>}><a href="@Url.RouteUrl("CustomerReturnOrders")">退换货管理</a></li>
            </ul>
        </li>
        <li class="on"><a href="javascript:void(0);" class="a2"><span class="glyphicon glyphicon-user"></span>我的账户</a></em>
            <ul class="sub">
                @{
                    var myDisaccount = Url.RouteUrl("CustomerCoupons") + "?status=" + (int)CouponStatus.Valid;                 
                }
                <li @if (Model.SelectedTab == CustomerNavigationEnum.Coupon)
                    {<text>class="on"</text>}><a href="@myDisaccount">我的优惠券</a></li>
                <li style="display: none"><a href="###">会员积分</a></li>
                <li style="display: none"><a href="###">三方账号管理</a></li>
            </ul>
        </li>
        <li class="on"><a href="###" class="a3"><span class="glyphicon glyphicon-info-sign"></span>我的信息</a>
            <ul class="sub">
                <li @if (Model.SelectedTab == CustomerNavigationEnum.AccountSecurity)
                    {<text>class="on"</text>}>
                    <a href="@Url.RouteUrl("CustomerAccountSecurity")">账户安全</a>
                </li>
                <li @if (Model.SelectedTab == CustomerNavigationEnum.Addresses)
                    {<text>class="on"</text>}>
                    <a href="@Url.RouteUrl("CustomerAddresses")">@T("Customer.Address")</a>
                </li>
                <li @if (Model.SelectedTab == CustomerNavigationEnum.Info)
                    {<text>class="on"</text>}>
                    <a href="@Url.RouteUrl("CustomerInfo")">@T("Customer.Info")</a>
                </li>
                <li @if (Model.SelectedTab == CustomerNavigationEnum.Cash)
                    {<text>class="on"</text>}>
                    <a href="@Url.RouteUrl("CustomerCash")">@T("Customer.Cash")</a>
                </li>
            </ul>
        </li>
        <li style="display: none"><a href="###" class="a4"><span class="glyphicon glyphicon-map-marker"></span>自助服务</a>
            <ul class="sub">
                <li><a href="###">缺货登记</a></li>
                <li><a href="###">我的邀请码</a></li>
            </ul>
        </li>
    </ul>
</div>
