@model AddressModel
@using Nop.Web.Models.Common;
@Html.HiddenFor(model => model.Id)
<style type="text/css">
    .formList dd {
        float: none;
    }
</style>
<div id="newShippingCollapse" class="editArea" style="border:0; padding:0;">
    <div id="pnlNewAddressFormTitle" class="title">@T("Address.Fields.CreateNewAddress")</div>
    <div id="pnlEditAddressFormTitle" class="title" style="display: none;">@T("Address.Fields.EditAddress")</div>
    <div class="form-inline">
        <div class="formList">
            <dl class="clearfix">
                <dt><strong class="cred">*</strong> @T("Address.Fields.FirstName")：</dt>
                <dd>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "input-style input-s", maxlength = 10 })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </dd>
            </dl>
            <dl class="clearfix">
                <dt><strong class="cred">*</strong> @T("Address.Fields.PhoneNumber")：</dt>
                <dd>
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "input-style input-m", maxlength = 11 })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </dd>
            </dl>
            <dl class="clearfix">
                <dt><strong class="cred">*</strong> @T("Address.Fields.Location")：</dt>
                <dd>
                    @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates, new { @class = "select-style" })
                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    @Html.ValidationMessageFor(model => model.StateProvinceId)
                    @Html.DropDownListFor(model => model.CityId, Model.AvailableCities, new { @class = "select-style" })
                    <span id="states-loading-progress2" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    @Html.ValidationMessageFor(model => model.CityId)
                    @Html.DropDownListFor(model => model.DistrictId, Model.AvailableDistricts, new { @class = "select-style" })
                    <span id="states-loading-progress3" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                    @Html.ValidationMessageFor(model => model.DistrictId)
                </dd>
            </dl>
            <dl class="clearfix">
                <dt><strong class="cred">*</strong> @T("Address.Fields.Address1")：</dt>
                <dd>
                    @*<div class="form-group">
                    <select class="form-control input-sm">
                        <option>街道</option>
                    </select>
                </div>*@
                    @Html.TextBoxFor(model => model.Address1, new { @class = "input-style input-l", maxlength = 50 })
                    @Html.ValidationMessageFor(model => model.Address1)
                </dd>
            </dl>
            <dl class="clearfix">
                <dt><strong class="cred">*</strong> @T("Address.Fields.ZipPostalCode")：</dt>
                <dd>
                    @Html.TextBoxFor(model => model.ZipPostalCode, new { @class = "input-style input-s", maxlength = 6 })
                    @Html.ValidationMessageFor(model => model.ZipPostalCode)
                </dd>
            </dl>
        </div>
        @Html.HiddenFor(model => model.SetToDefault, new { @class = "settodefault" })
        @*<div class="pad_10">地图</div>*@
        <div class="btns">
            <a href="javascript:void(0)" class="btn btn-green btn-sm mar_r_20" onclick="Shipping.save(false, false);return false;">@T("Common.Save")</a>
            <a href="javascript:void(0)" class="btn btn-green btn-sm mar_r_20" onclick="Shipping.save(false, true);return false;">@T("Common.SaveAndSetToDefault")</a>
            @*<a href="###" class="btn btn-default btn-sm mar_r_20">关闭</a>*@
        </div>
    </div>
</div>
<script type="text/javascript">
    AddressSelector.init("@Url.RouteUrl("GetCitiesByStateProvinceId")",
        "@Url.RouteUrl("GetDistrictsByCityId")",
            "#@Html.FieldIdFor(model => model.StateProvinceId)",
            "#@Html.FieldIdFor(model => model.CityId)",
            "#@Html.FieldIdFor(model => model.DistrictId)");       
</script>

