@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一元购</title>

    <link href="@Url.Content("~/Themes/60GO2/Content/images/abuy/css/css.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <!--异步调用层-->
    <div id="loading" class="loading" style="display:none">
        <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/loading.gif")" />
    </div>
    <!--对话框-->
    <div id="abuyDialog" class="abuyDialog" style="display:none">
        <a href="javascript:void(0);" onclick="hideDialog();" class="close"></a>
        <h3>真可惜，您晚了一步，好东西被别人抢走了！</h3>
        <p>在您点击立刻购买前的0.01秒，被别人抢先了，而且他还付款了。您只能等待我们下次的体验机会了。</p>
        <div class="abuyBtn">
            <a href="javascript:void(0);" onclick="hideDialog();" class="yellow"><img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />赶紧去看看其他商品被抢了没></a>
        </div>
    </div>
    <!--对话框-->
    <div id="abuyDialog2" class="abuyDialog" style="display:none">
        <a href="javascript:void(0);" onclick="hideDialog2();" class="close"></a>
        <h3>您还有机会，赶紧多刷新</h3>
        <p>刚刚拍下的人还没付款，如果2分钟内还不付款，就赶紧抓住体验的尾巴吧，且买且珍惜！</p>
        <div class="abuyBtn">
            <a href="javascript:void(0);" onclick="hideDialog2();" class="yellow"><img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />返回活动></a>
        </div>
    </div>
    <ul class="abuyList">
        <a href="@Url.Action("Index","Home")" class="home"><em>返回首页</em></a>
        <li class="head">
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_01.jpg")" />

            <a href="javascript:void(0);" onclick="refresh();" class="refresh"><em>刷新</em></a>
        </li>
        <li class="first">
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_02.jpg")" />

            @* 伊立浦豪华电饭煲ERC6720E（P） *@
            <a href="javascript:void(0)" id="buy_4328" onclick="buyNow(this);" hiddevalue="4328" class="buy yellow">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>

        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_03.jpg")" />

            @* 费列罗臻品巧克力糖果礼盒24粒装（新） *@
            <a href="javascript:void(0)" id="buy_9856" onclick="buyNow(this);" hiddevalue="9856" class="buy yellow">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_04.jpg")" />
            @* 台湾水仙芒果 *@
            <a href="javascript:void(0)" id="buy_9852" onclick="buyNow(this);" hiddevalue="9852" class="buy red">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_05.jpg")" />
            @* 精品木瓜 *@
            <a href="javascript:void(0)" id="buy_9853" onclick="buyNow(this);" hiddevalue="9853" class="buy red">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_06.jpg")" />
            @*朗萨克城堡干红 *@
            <a href="javascript:void(0)" id="buy_9854" onclick="buyNow(this);" hiddevalue="9854" class="buy green">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_07.jpg")" />
            @* 嘉特保温箱 *@
            <a href="javascript:void(0)" id="buy_9851" onclick="buyNow(this);" hiddevalue="9851" class="buy green">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_08.jpg")" />
            @* 高丝維生素C美白面膜30片 *@
            <a href="javascript:void(0)" id="buy_9855" onclick="buyNow(this);" hiddevalue="9855" class="buy yellow">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_09.jpg")" />
            @* 娇兰旅行套（化妆品） *@
            <a href="javascript:void(0)" id="buy_9858" onclick="buyNow(this);" hiddevalue="9858" class="buy yellow">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_10.jpg")" />
            @* chole(香水） *@
            <a href="javascript:void(0)" id="buy_9859" onclick="buyNow(this);" hiddevalue="9859" class="buy red">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
        </li>
        <li>
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_11.jpg")" />
            @* 10KG孟乍隆精品乌汶香米 *@
            <a href="javascript:void(0)" id="buy_9857" onclick="buyNow(this);" hiddevalue="9857" class="buy red">
                <span>立刻购买></span>
                <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/btnShadow.png")" />
            </a>
      
        </li>
        <li class="last">
            <img src="@Url.Content("~/Themes/60GO2/Content/images/abuy/Images/abuy_12.jpg")" />
        </li>
    </ul>


    <script type="text/javascript">
        var isRuning = false;
        function buyNow(obj) {
            if (isRuning) {
                return;
            }
            var cannotdo = $(obj).attr("cannotdo");
            if (cannotdo == true || cannotdo == 'true') {
                return;
            }
            isRuning = true;
            showLoad();
            var pId = $(obj).attr("hiddevalue");
            var url = '@Url.Action("Abuy", "CheckOut")';
            $.ajax({
                cache: false,
                url: url,
                data: { productId: pId },
                type: 'post',
                success: function (response) {
                    if (response.success) {
                        if (response.redirect) {
                            location.href = response.redirect;
                        } else {
                            //其他未知情况

                        }

                    } else {
                        if (response.redirect) {
                            location.href = response.redirect;
                        } else {
                          
                            if (response.state == 1 || response.state=='1') {
                                shwoDialog();
                            } else if (response.state == 2 || response.state == '2') {
                                shwoDialog2();
                            } else {
                               
                            }

                        }

                    }
                    hideLoad();
                    isRuning = false;

                },
                complete: resetLoadWaiting,
                error: ajaxError
            });
        }
        function ajaxError(error) {
            hideLoad();
            isRuning = false;
        }
        function resetLoadWaiting() {

        }
        function shwoDialog() {
            $("#abuyDialog").show();
        }
        function hideDialog() {
            $("#abuyDialog").hide();
        }
        function shwoDialog2() {
            $("#abuyDialog2").show();
        }
        function hideDialog2() {
            $("#abuyDialog2").hide();
        }
        function showLoad() {
            $("#loading").show();
        }
        function hideLoad() {
            $("#loading").hide();
        }
        $().ready(function () {
            //checkProductInfo();
            //setInterval(checkProductInfo, 1000*10);
        });

        function refresh() {
            window.location.href = window.location.href;
        }


        function checkProductInfo() {
            var url = '@Url.Action("GetABuyProductState", "CheckOut")';
            $.ajax({
                cache: false,
                url: url,
                data: { ids: [7733, 9851, 9852, 9853, 9854, 9855, 9856, 9857, 9858, 9859] },
                type: 'post',
                traditional: true,
                success: function (response) {
                    if (response.success) {

                        var data = eval(response.data);
                        for (var loop in data) {
                            var d = data[loop];
                            var pId = d.Key;
                            var state = d.Value;
                            switch (state) {
                                case 0:
                                    $('#buy_' + pId + ' span').text("立刻购买>");
                                    $('#buy_' + pId).attr("cannotdo", false);
                                    $('#buy_' + pId).css("cursor", "pointer");
                                    break;
                                case 1:
                                    $('#buy_' + pId + ' span').text("还有机会");
                                    $('#buy_' + pId).attr("cannotdo", true);
                                    $('#buy_' + pId).css("cursor", "not-allowed");

                                    break;
                                case 2:
                                    $('#buy_' + pId + ' span').text("体验结束");
                                    $('#buy_' + pId).attr("cannotdo", true);
                                    $('#buy_' + pId).css("cursor", "not-allowed");
                                    $('#buy_' + pId).removeClass();
                                    $('#buy_' + pId).addClass("buy gray");

                                    break;

                            }

                        }

                    }
                    else {

                    }
                },
                complete: resetLoadWaiting,
                error: ajaxError
            });
        }
    </script>
</body>


</html>
