@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@using Nop.Services.Payments;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_sale.css");
    //Html.AppendScriptParts("~/Themes/60GO2/Content/js/jquery.colorbox.js");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/jquery.lightbox_me.js");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/public.ordercompleted.js");
    Html.AddTitleParts(T("PageTitle.Checkout").Text);

    var addressLine = string.Empty;
    if (Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName))
    {
        addressLine += Model.ShippingAddress.StateProvinceName;
    }
    if (Model.ShippingAddress.CityEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.CityName))
    {
        addressLine += Model.ShippingAddress.CityName;
    }
    if (Model.ShippingAddress.DistrictEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.DistrictName))
    {
        addressLine += Model.ShippingAddress.DistrictName;
    }
    addressLine += Model.ShippingAddress.Address1;
}

@section _menu{}
@section _fixed_header{}

@* 成功提交订单页面 - 订单详情 *@

<style type="text/css">
    .t-orderDetailDT1
    {
        width: 100px;
        font-weight: bold;
        display: inline;
        text-align: right;
        vertical-align: top;
    }

    .t-orderDetailDT2
    {
        display: inline;
        text-align: left;
    }
</style>
<div class="container mar_b_20 clearfix">
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
    @Html.Widget("checkout_completed_top")
    @if (Model.ShowPaymentResult)
    {
        <div class="successArea">
            <div class="box-ok f18px text-center">@T("Checkout.OrderPaymentSuccessfully")</div>
            <div class="formList">
                <dl class="clearfix">
                    <dt>@T("Checkout.OrderNumber")：</dt>
                    <dd>@Model.OrderNumber</dd>
                </dl>
                <dl class="clearfix">
                    <dt>@T("Checkout.ShippingAddress.Address")：</dt>
                    <dd>
                        @(addressLine)
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>@T("Checkout.ShippingAddress.Name")：</dt>
                    <dd>@Model.ShippingAddress.FirstName</dd>
                </dl>
                @if (Model.ShippingAddress.PhoneEnabled)
                {
                    <dl class="clearfix">
                        <dt>@T("Checkout.ShippingAddress.PhoneNumber")：</dt>
                        <dd>@Model.ShippingAddress.PhoneNumber</dd>
                    </dl>
                }
@*<dl class="clearfix">
                <dt>@T("Checkout.ShippingMethod")：</dt>
                <dd>
                    @{
                        var itemsLine = string.Empty;
                        foreach (var item in Model.Items)
                        {
                            if (!string.IsNullOrEmpty(itemsLine))
                            {
                                itemsLine += " ";
                            }
                            itemsLine += item.ProductName + " * " + item.Quantity;
                            break;
                        }
                    }
                    @(itemsLine)
                </dd>
            </dl>*@
                <dl class="clearfix">
                    <dt>@T("Checkout.Invoice")：</dt>
                    <dd>@Model.Invoice</dd>
                </dl>
                <dl class="clearfix">
                    <dt>@T("Checkout.Totals")：</dt>
                    <dd><strong class="corange f16px">@Model.OrderTotal</strong></dd>
                </dl>
                @*                <dl class="clearfix">
                    <dt>@T("Checkout.PaymentMethod2")：</dt>
                    <dd>
                        @Model.PaymentMethodName
                    </dd>
                </dl>
                <div class="box-tips-s">
                    @{
                var month = Model.EstimateShippingTime.Month.ToString("00");
                var day = Model.EstimateShippingTime.Day.ToString("00");
                var hour = Model.EstimateShippingTime.Hour.ToString("00");
                var minute = Model.EstimateShippingTime.Minute.ToString("00");
                    }
                    @T("Checkout.EstimateShippingTime", month, day, hour, minute)
                </div>*@
                <div class="btnArea text-center">
                    <a class="btn btn-lg btn-orange dialog-chick" href="@Url.RouteUrl("CustomerOrderDetail", new { orderId = Model.OrderId })">@T("Checkout.OrderDetails")
                    </a>
                    <a class="btn btn-lg btn-orange dialog-chick mar_l_30" href="@Url.RouteUrl("HomePage")">@T("Checkout.ContinueShop")</a>
                </div>
            </div>
        </div>
    }
    else
    {
        using (Html.BeginRouteForm("CheckoutCompleted", FormMethod.Post, new { id = "CheckoutCompletedForm", target = "_blank" }))
        {
        @Html.HiddenFor(model => model.OrderId)
        <div class="box-ok clearfix">
            <p class="f16px">@T("Checkout.Complete.PaymentTips")</p>
            <div id="pnlOrderSummary">
                <div class="beleft mar_r_20">@T("Checkout.OrderNumber")：@Model.OrderNumber</div>
                <div class="beleft f16px mar_r_20">@T("Checkout.Totals")：<strong class="corange">@Model.OrderTotal</strong></div>
                <a id="showOrderDetails" href="javascript:void(0);" class="btn btn-default btn-sm">@T("Checkout.ShowOrderDetails.Button")<span class="caret"></span></a>
            </div>
            <div id="pnlOrderDetails" class="formList ddInfo" style="display: none;">
                <table>
                    <tr>
                        <td class="t-orderDetailDT1">@T("Checkout.OrderNumber")：</td>
                        <td class="t-orderDetailDT2">@Model.OrderNumber</td>
                    </tr>
                    <tr>
                        <td class="t-orderDetailDT1">@T("Checkout.ShippingAddress.Address")：</td>
                        <td class="t-orderDetailDT2">@(addressLine)</td>
                    </tr>
                    <tr>
                        <td class="t-orderDetailDT1">@T("Checkout.ShippingAddress.Name")：</td>
                        <td class="t-orderDetailDT2">@Model.ShippingAddress.FirstName</td>
                    </tr>
                    @if (Model.ShippingAddress.PhoneEnabled)
                    {
                        <tr>
                            <td class="t-orderDetailDT1">@T("Checkout.ShippingAddress.PhoneNumber")：</td>
                            <td class="t-orderDetailDT2">@Model.ShippingAddress.PhoneNumber</td>
                        </tr>
                    }
                    <tr>
                        <td class="t-orderDetailDT1">@T("Checkout.Invoice")：</td>
                        <td class="t-orderDetailDT2">@Model.Invoice</td>
                    </tr>
                    <tr>
                        <td class="t-orderDetailDT1">@T("Checkout.Totals")：</td>
                        <td class="t-orderDetailDT2"><strong class="corange f16px">@Model.OrderTotal</strong></td>
                    </tr>
                </table>
                <a id="showOrderSummary" href="javascript:void(0);" class="btn btn-default btn-sm">@T("Checkout.ShowOrderSummary.Button")<span class="caret-u"></span></a>
            </div>
        </div>
        <div class="gwcCon clearfix">
            <div class="title clearfix">
                <h2>@T("Checkout.MyCash")</h2>
            </div>
            <div class="con clearfix">
                <table class="mar_b_10" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="10">
                                <input id="useCash" name="useCash" value="true" type="checkbox" />
                            </td>
                            <td width="300">@T("Checkout.CashAccount")（@(Model.CashAccountName)： <strong class="cred">@(Model.CashBalance)</strong>）
                            </td>
                            <td>@T("Checkout.CashToPayment")：
                                <big> 
                                    <strong id="lblCashToUsed" class="cred">@Model.CashCanBeUsed</strong>
                                    <input id="txtCashToUsed" name="CashToUsed" onkeyup="clearNoNum(this)"  class="input-style input-s" style="display:none;" maxlength="10" value="@Model.CashCanBeUsedValue.ToString("F2")" type="text" />
                                </big>
                                @T("Common.CNY.CurrencyUnit")
                                <a id="updateCashToUsed" href="javascript:void(0);" style="display: none;" class="mar_l_30 cblue">@T("Checkout.UpdateCash.Button")</a>
                                <a id="saveCashToUsed" href="javascript:void(0);" style="display: none;" class="mar_l_30 cblue">@T("Checkout.SaveCash.Button")</a>
                                <a id="cancelUpdateCashToUsed" href="javascript:void(0);" style="display: none;" class="mar_l_5 cblue">@T("Checkout.CancelUpdateCash.Button")</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
        <div id="spnPaymentMethod" class="gwcCon clearfix">
            <div class="title clearfix">
                <h2>@T("Checkout.PaymentMethod2")</h2>
            </div>
            <div class="con clearfix">
                @Html.Action("OpcPaymentMethodForm", "Checkout")
            </div>
        </div>        
        <div class="btnArea paymentList-btn">
            <button id="confirmpaymentmethod" type="button" class="btn btn-lg btn-orange inline" disabled="disabled">@T("Checkout.ConfirmPaymentType.Button")</button>
            <button id="selectotherpaymentmethod" type="button" class="btn btn-lg btn-green dialog-chick" style="display: none;">@T("Checkout.SelectOtherPaymentType.Button")</button>
            <button id="paymentsubmit" type="submit" disabled="disabled" name="paymentredirection" value="paymentredirection" style="display: none;">@T("Checkout.PayImmediately")</button>
            <input id="paymentsubmitbtn" type="button"  disabled="disabled" style="display: none;" class="btn btn-lg btn-orange inline"  onclick="OrderCompleted.doPayment();" value="@T("Checkout.PayImmediately")" />
        </div>     
        }
        <!-- 支付等待弹出窗口 -->
        <div id="dialog" style="display: none;">
            <div class="modal" id="inline_content">
                <a href="###" class="close closeBtn"></a>
                <div class="modal-header">
                    <h4 class="modal-title">@T("Checkout.Tips")</h4>
                </div>
                <div class="modal-body clearfix">
                    <p class="bold f16px">@T("Checkout.PleasePayOnNewWindow")</p>
                </div>
                <div class="modal-footer text-center">
                    <a href="@Url.RouteUrl("CustomerOrderDetail", new { orderId = Model.OrderId })" class="btn btn-orange">@T("Checkout.PaymentSuccessful")</a>
                    <a href="###" class="btn btn-default mar_l_20 close">@T("Checkout.PaymentFailure")</a>
                    <a href="###" class="link_green mar_l_20 close">@T("Checkout.ChooseOtherPayment")</a>
                </div>
            </div>
        </div>
        <!-- 支付等待弹出窗口结束 -->
        <script type="text/javascript">
            var totalsecond = @Model.SecondsRemained;
            var timer = setInterval("countdown()", 1000);
            OrderCompleted.init(@Model.OrderTotalValue, @Model.CashCanBeUsedValue, @Model.CashBalanceValue, '@T("Common.CNY.CurrencySymbol")');

            function countdown()
            {
                var minute = parseInt(totalsecond / 60);
                if (isNaN(minute))
                    minute = 0;
                var second = totalsecond - minute * 60;
                if (isNaN(second))
                    second = 0;

                minute = minute.toString();
                if (minute.length == 1)
                    minute = "0" + minute;
                second = second.toString();
                if (second.length == 1)
                    second = "0" + second;

                $("#secondsRemained").html(minute + ":" + second);
                totalsecond = totalsecond - 1;
                if (totalsecond < 0)
                    clearInterval(timer);
            }

            function clearNoNum(obj)
            {
                //先把非数字的都替换掉，除了数字和.
                obj.value = obj.value.replace(/[^\d.]/g,"");
                //必须保证第一个为数字而不是.
                obj.value = obj.value.replace(/^\./g,"");
                //保证只有出现一个.而没有多个.
                obj.value = obj.value.replace(/\.{2,}/g,".");
                //保证.只出现一次，而不能出现两次以上
                obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            }
        </script>
    }
    @Html.Widget("checkout_completed_bottom")
</div>

