@model CheckoutDiscountModel
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Checkout;

@* 核对订单信息页面 - 优惠券使用部分 *@

@{
    Html.AddScriptParts("~/Themes/60GO2/Content/js/jquery.lightbox_me.js");
}

<style type="text/css">
    .couponCode-dialog
    {
        display: none;
        width: 235px;
    }

    .couponCode-title
    {
        vertical-align: middle;
        padding-left: 10px;
        line-height: 30px;
    }

    .couponCode-subTitle
    {
        vertical-align: middle;
        padding-left: 10px;
        line-height: 30px;
    }

    .couponCode-input
    {
        text-align: center;
    }

    .couponCode-message
    {
        min-height: 10px;
        text-align: center;
        line-height: 30px;
    }

    .couponCode-button
    {
        padding-top: 5px;
        text-align: center;
    }
</style>

@if (Model.Display)
{
    <div class="title clearfix">
        <a href="javascript:void(0)" onclick="useCoupon(this)">
            <h2>
                @T("Checkout.Discount.Title")
                <span class="caret-d"></span>
                <span class="caret-u" style="display: none;"></span>
            </h2>
        </a>
    </div>
    <div class="couponCon">
        <div class="formList">
            <dl class="clearfix">
                <dt>@T("Checkout.Discount.SelectExists")：</dt>
                @foreach (var discount in Model.Discounts)
                { 
                    <dd class="mar_r_10">
                        <label>
                            <input type="radio" name="discounttype" value="@discount.CouponCode" @if (Model.CurrentCode == @discount.CouponCode)
                                                                                                 {<text>checked="checked"</text>} />
                            @discount.Name
                        </label>
                    </dd>
                }
                <dd class="mar_r_10">
                    <input id="input-code" type="radio" name="discounttype" value="input-code" onclick="inputCode_OnClientClick(this);" />
                    <label for="input-code">@T("Checkout.Discount.InputCouponCode")</label>
                </dd>
            </dl>
            <div id="pnlCurrentCode" @if (string.IsNullOrEmpty(Model.CurrentDiscountName))
                                     {<text>style="display:none;" </text>}>
                <span id="pnlCurrentCodeMsg">@Html.Raw(string.Format(T("Checkout.DiscountCouponCode.CurrentDiscountName").Text, "<strong class=\"corange f14px\">" + Model.CurrentDiscountName + "</strong>"))</span>
                <a id="remove-discount" href="javascript:void(0)" class="link_green mar_l_20">@T("Checkout.Discount.RemoveButton")</a>
                <span id="remove-discount-message" class="field-validation-error"></span>
            </div>
        </div>
    </div>
    <div id="dialog" class="couponCode-dialog">
        <div class="modal">
            <a href="javascript:void(0);" class="closeBtn close"></a>
            <div class="couponCode-title"><span class="f14px bold">优惠券激活</span></div>
            <div style="border-top: 1px solid; border-bottom: 1px solid;">
                <div class="couponCode-subTitle"><span>请输入优惠券密码:</span></div>
                <div class="couponCode-input">
                    <input id="discount-couponcode" class="input-style input-m" maxlength="50" type="text">
                </div>
                <div class="couponCode-message">
                    <span id="apply-discount-message" class="field-validation-error"></span>
                </div>
            </div>
            <div class="couponCode-button">
                <input id="add-discount" type="button" class="btn btn-orange btn-sm" value="@T("ShoppingCart.DiscountCouponCode.Button")"/>
                <a href="javascript:void(0);" class="btn btn-default btn-sm close">取消</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function inputCode_OnClientClick(sender) {
            if ($(sender).attr("checked")) {
                $("#dialog").lightbox_me({
                    centered: true,
                    onLoad: function () {
                        $("#dialog").find("input:first").focus();
                    },
                    onClose: function () {
                        $("#input-code").attr("checked", false);
                    }
                });
            }
        }

        function useCoupon(obj) {
            if ($(".couponCon").is(":hidden")) {
                $(".couponCon").show();
                $(obj).find(".caret-d").show();
                $(obj).find(".caret-u").hide();
            }
            else {
                $(".couponCon").hide();
                $(obj).find(".caret-d").hide();
                $(obj).find(".caret-u").show();
            }
        }

        function useNewCoupon() {
            if ($("#input-code").attr("checked")) {
                $("#discount-couponcode").show();
                $("#add-discount").show();
            }
            else {
                $("#discount-couponcode").hide();
                $("#add-discount").hide();
            }
        }

        $(function () {
            useNewCoupon();

            $("#input-code").click(function () {
                useNewCoupon();
            });

            $("input[name=discounttype]").click(function () {
                useNewCoupon();
            });
        });
    </script>
}