@model CheckoutInvoiceModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Domain.Orders;
@Html.Widget("op_checkout_invoice_top")
<div class="title">@T("Checkout.Invoice.Edit")</div>
@Html.HiddenFor(model => model.NeedInvoice, new { id = "needInvoice" })
<div class="formList">
    <dl class="clearfix">
        <dt>@T("Checkout.Invoice.Type")：</dt>
        <dd>@T("Checkout.Invoice.Type.Normal")</dd>
    </dl>
    <dl class="clearfix">
        <dt>@T("Checkout.Invoice.Title")：</dt>
        <dd class="mar_r_10">
            @Html.RadioButton("TitleType", (int)InvoiceTitleType.Personal, (Model.TitleType == (int)InvoiceTitleType.Personal), new { onclick = "$('#invoice-title').hide();" })
            <label>@T("Checkout.Invoice.Title.Personal")</label>
        </dd>
        <dd class="mar_r_10">
            @Html.RadioButton("TitleType", (int)InvoiceTitleType.Company, (Model.TitleType == (int)InvoiceTitleType.Company), new { onclick = "$('#invoice-title').show();" })
            <label>@T("Checkout.Invoice.Title.Company")</label>
        </dd>
        <dd id="invoice-title" class="mar_r_10" style="display: @(Model.TitleType == (int)InvoiceTitleType.Personal ? "none" : "")">
            @Html.TextBoxFor(model => model.Title, new { @class = "input-style input-m" })
        </dd>
    </dl>
    @*<dl class="clearfix">
        <dt>@T("Checkout.Invoice.Content")：</dt>
        <dd>
            @Html.DropDownListFor(model => model.ContentType, Model.AvailableContentTypes, new { @class = "input-style" })
        </dd>
    </dl>*@
</div>
@Html.Widget("op_checkout_invoice_bottom")
