@model CheckoutShippingAddressModel
@using Nop.Web.Models.Checkout;

@* 核对订单信息页面 - 收货人信息 *@
@Html.Widget("op_checkout_shipping_address_top")
@if (Model.ExistingAddresses.Any())
{
    <ul class="shrInfoList">
        @Html.Widget("op_checkout_shipping_address_top")
        @foreach (var address in Model.ExistingAddresses)
        {
            var addressLine = "";
            //addressLine += address.FirstName;
            //addressLine += " " + address.LastName;
            if (address.PhoneEnabled && !String.IsNullOrEmpty(address.PhoneNumber))
            {
                addressLine += " " + address.PhoneNumber + "<br />";
            }
            if (address.CountryEnabled && !String.IsNullOrWhiteSpace(address.CountryName))
            {
                addressLine += address.CountryName;
            }
            if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
            {
                addressLine += address.StateProvinceName;
            }
            if (address.CityEnabled && !String.IsNullOrEmpty(address.CityName))
            {
                addressLine += address.CityName;
            }
            if (address.DistrictEnabled && !String.IsNullOrEmpty(address.DistrictName))
            {
                addressLine += address.DistrictName;
            }
            if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
            {
                addressLine += address.Address1;
            }
            if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
            {
                addressLine += " " + address.ZipPostalCode;
            }
            <li class="@(address.Selected ? "on" : "")" onmouseover="$(this).find('.edit').show()"  
                onmouseout="$(this).find('.edit').hide()"  data-addressId="@address.Id" onclick="Shipping.selectAddress(@address.Id)">
                <div class="shrInfoBox" style="word-break: break-all;">
                    <span class="name">@address.FirstName</span>
                    @Html.Raw(addressLine)
                </div>
                @if (address.IsDefault)
                {
                    <span class="default">@T("Checkout.ShippingAddress.DefaultAddress")</span>
                }
                <a href="javascript:void(0)" class="edit" onclick="Shipping.openEditAddressDialog(@address.Id);" data-addressid="@address.Id" style="display: none;"></a>
                <span class="ok"  @if (!address.Selected)
                                  {<text>style="display: none;"</text>}></span>
            </li>
        }
        <li>
            <div onclick="Shipping.newAddress(true)" data-addressid="0">
                <a href="javascript:void(0)" class="add">@T("Checkout.NewShipping")</a>
            </div>
        </li>
    </ul>
}
@Html.Widget("op_checkout_shipping_address_middle")
@if (Model.ExistingAddresses.Any())
{
    <div class="btnArea">
        <a id="change_shipping_address" href="javascript:void(0)" class="btn btn-green btn-sm" onclick="Shipping.save()">@T("Checkout.SaveShipping") </a>
    </div>
}
@if (!Model.ExistingAddresses.Any())
{
@* 如果还没有收货地址，页面上显示“显示收货地址表单” *@
    <form action="" id="co-shipping-form">
        <div id="shipping-address-content">
            @{
    var dataDictAddress = new ViewDataDictionary();
    //Merge ModelState (required for validation)
    dataDictAddress.ModelState.Merge(ViewData.ModelState);
    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)              
            }
        </div>
    </form>
}
else
{
@* 如果已经有收货地址，编辑和新增使用弹出窗口方式 *@
    <div id="shipping-new-address-form-popup" style="display: none;" class="dialog">
        <div id="inline_content" class="modal">
            <a id="shipping-address-dialog-close-btn" href="javascript:void(0);" class="close closeBtn"></a>
            <div class="modal-body clearfix">
                <form action="" id="co-shipping-form">
                    <input id="shipping_address_id" type="hidden" name="shipping_address_id"  value="@Model.ExistingAddresses.FirstOrDefault(n => n.Selected).Id" />
                    <input id="shipping_address_is_edit" type="hidden" name="shipping_address_is_edit" value="false" />
                    <div id="shipping-address-content">
                        @{
    var dataDictAddress = new ViewDataDictionary();
    //Merge ModelState (required for validation)
    dataDictAddress.ModelState.Merge(ViewData.ModelState);
    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                            @Html.Partial("_CreateOrUpdateAddressPopup", Model.NewAddress, dataDictAddress)              
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@Html.Widget("op_checkout_shipping_address_bottom")
@if (Model.NewAddressPreselected)
{
    <script type="text/javascript">
        $("#checkout-shipping-edit").hide();
    </script>
}

