@model FloatAreaModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Common;

@{
    var url = Request.Url.ToString().Replace("#", "");
}

<!--浮动菜单-->
<div class="fixedMenu">
    <ul>
        @if (Model.BackToHomeEnabled)
        { 
            <li><a href="/" class="back">@T("underbuilding.returnhomepage")</a></li>
        }
        @if (Model.BackToPreviousEnabled)
        { 
            <li><a href="#" class="back" id="sename">@T("underbuilding.returnprevious")</a></li>
@*<li><a href="@Url.RouteUrl("Category", new { SeName = sename })" class="back">@T("underbuilding.returnprevious")</a></li>*@
        }
        @if (Model.CustomProductGroupEnabled)
        {
            foreach (var group in Model.CustomProductGroups)
            {
            @*<li><a href="#@(group.Name)" class="a2">@group.Name</a></li>*@
            <li>
                <a groupId="@group.Id" href="javascript:void(0)" class="a2" onclick="$('html,body').animate({scrollTop: $('#group_@(group.Id)').offset().top - 100}, 1000);return false;">@group.Name</a>
            </li>
            }
        }
          @if (Model.ActivityProductGroupEnabled && Model.ActivityProductGroups.Any())
          {
              foreach (var item in Model.ActivityProductGroups)
              {
                  <li>
                      <a href="javascript:void(0)" groupId="@item.Id" class="a2" onclick="$('html,body').animate({scrollTop: $('#group_@(item.Id)').offset().top - 100}, 1000);return false;">@item.Name</a>
                  </li>
              }
          }
        @if (Model.PageTurnerEnabled)
        {
            <li><a href="javascript:void(0)" title="@T("FloatArea.Previous")" onclick="turnToPreviousPage()" class="a1 fy1">@T("FloatArea.Previous")</a></li>
            <li><a href="javascript:void(0)" title="@T("FloatArea.Next")" onclick="turnToNextPage()" class="a1 fy2">@T("FloatArea.Next")</a></li>
        }
        <li><a href="http://chat10.live800.com/live800/chatClient/chatbox.jsp?companyID=349187&jid=1957872490&enterurl=@url" target="_blank" class="a1 kf" title="@T("FloatArea.CustomerService")"></a></li>
        @if (Model.RecentEnabled)
        {
            <li><a href="@Url.RouteUrl("RecentlyViewedProducts")" title="@T("FloatArea.RecentVisits")" class="a1 ls"></a></li>
        }
        @if (Model.WishlistEnabled)
        {
            <li id="fixedWishlist">
                <a href="@Url.RouteUrl("Wishlist")" title="@T("FloatArea.ViewWishlist")" class="a1 sc"></a>
                <span class="numChat" style="@(Model.WishlistItems == 0 ? "display: none;" : "")">@Model.WishlistItems</span>
                @*@Html.Action("FixedWishlist", "ShoppingCart")*@
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li id="fixedShoppingCart">
                <a href="@Url.RouteUrl("ShoppingCart")" target="_cart" title="@T("FloatArea.ViewShoppingCart")" class="a1 gwc">
                    <span class="glyphicon glyphicon-shopping-cart glyphicon-target"></span>
                </a>
                <span class="numChat" style="@(Model.ShoppingCartItems == 0 ? "display: none;" : "")">@Model.ShoppingCartItems</span>
                @Html.Action("FixedShoppingCart", "ShoppingCart")
            </li>
        }
        @if (Model.GoTopEnabled)
        {
            <li id="gotop"><a href="#top" title="@T("FloatArea.GoTop")" class="a1 gotop"></a></li>
        }
      
    </ul>
    <img alt="" id="ctoid1" style="display: none;" />
</div>
@if (Model.WishlistEnabled)
{
@*<script type="text/javascript">
        $('#fixedWishlist').on('mouseenter', function () {
            if ($("#fixedWishlist .numChat").html() == "0")
                return;
            $('#fixedFlyoutWishlist').show();
        });
        $('#fixedWishlist').on('mouseleave', function () {
            $('#fixedFlyoutWishlist').hide();
        });
    </script>*@
}
@if (Model.ShoppingCartEnabled)
{
    <script type="text/javascript">
        $('#fixedShoppingCart').on('mouseenter', function () {
            if ($("#fixedShoppingCart .numChat").html() == "0")
                return; 
            $('#fixedFlyoutShoppingCart').show();
        });
        $('#fixedShoppingCart').on('mouseleave', function () {
            $('#fixedFlyoutShoppingCart').hide();
        });
    </script>
}
@if (Model.PageTurnerEnabled)
{
    <script type="text/javascript">
        function turnToNextPage() {
            var buttons = $(".pagesList").find('button');
            var nextButton = buttons[1];
            if ($(nextButton).hasClass("disabled"))
                return;
            $(nextButton).click();
        }

        function turnToPreviousPage() {
            var buttons = $(".pagesList").find('button');
            var previousButton = buttons[0];
            if ($(previousButton).hasClass("disabled"))
                return;
            $(previousButton).click();
        }
    </script>
}
<script type="text/javascript">
    var gtPlay = {
        begin: Array(0, 0),
        end: Array(0, 0),
        PicID: 0,
        Num: 0,
        Time: 0,
        HandW: Array(0, 0, 0, 0),
        stime: function () {
            return this.Time / this.Num;
        },
        anmte: function (h) {
            $("#" + this.PicID + h).animate({
                top: this.end[0],
                left: this.end[1],
                width: this.HandW[2],
                height: this.HandW[3]
                //opacity:0.5,
            }, 1000, "linear", function () {
                $("#" + this.PicID + h).remove();
                $(".playInfo").remove();
                $('#fixedFlyoutShoppingCart').show();
                setTimeout(function () { $('#fixedFlyoutShoppingCart').hide(); }, 1500);

            });
        },
        Play: function () {
            $("img[name=gtPlayname]").remove();
            for (var i = 0; i < this.Num; i++) {
                $("<img id='" + this.PicID + i + "' src='" + $("#" + this.PicID).attr("src") + "' class='playInfo' name='gtPlayname' style='clear:both; z-index:999; position:absolute; width:" + this.HandW[0] + "; height:" + this.HandW[1] + "; top:" + this.begin[0] + ";left:" + this.begin[1] + ";border:1px #709e00 solid;'/>").appendTo("body");
                $("#imgUpMove").remove();
                setTimeout("gtPlay.anmte(" + i + ")", i * parseInt(this.stime()));
            }
        }
    }; 

    function ShowCart(obj, picUrl, endTarget) {
        $('#ctoid1').attr('src', picUrl);

        var top = $(obj).offset().top;
        var left1 = $(obj).offset().left;
        var setup1 = top - 60;
        var stop = top - 18;
        $("<img id='imgUpMove' src='" + $("#ctoid1").attr("src") + "' name='imgUpMove' style='clear:both; z-index:10;width:60px; height:60px; position:absolute; top:" + stop + "px;left:" + left1 + "px;border:1px #709e00 solid;display: none;'/>").appendTo("body");
        $("#imgUpMove").fadeIn(100);
        $("#imgUpMove").animate({ top: setup1 + "px", left: left1 + "px" }, 350, "linear", function () { });
        gtPlay.begin = Array(setup1 + "px", left1 + "px"); //起飞开始位置 Top,Left

        var targettop, targetleft;  
        if (endTarget) {
            targettop = $("#" + endTarget).offset().top;
            targetleft = $("#" + endTarget).offset().left;
        }else{        
            targettop = $(".glyphicon-target").offset().top;
            targetleft = $(".glyphicon-target").offset().left; 
        }

        gtPlay.end = Array(targettop + "px", targetleft + "px");//目标位置 目标位置Top,Left 带上
        setTimeout(function () {
            gtPlay.Play();
        }, 350);
    }

    $(function () {
        if ($(".glyphicon-target").offset() == null)
            return;

        var targettop = $(".glyphicon-target").offset().top;
        var targetleft = $(".glyphicon-target").offset().left;
        gtPlay.begin = Array("0px", "0px"); //起飞开始位置 Top,Left
        gtPlay.end = Array(targettop + "px", targetleft + "px");//目标位置 目标位置Top,Left 带上
        gtPlay.PicID = "ctoid1"; //飞动图片ID
        gtPlay.Num = 1; //飞动数量
        gtPlay.Time = 500000; //飞行耗时 过短可能肉眼看不到
        //$("#ctoid1")
        gtPlay.HandW = Array("60px", "60px", "0px", "0px");//图像变化大小 
        //gtPlay.Play() 开始播放

        checkPosition();
    });

    $(window).scroll(function () {
        checkPosition();
    });

    function checkPosition() {
        var position = $(document).scrollTop() + $(window).height();
        var height = $(document).height();
        if (position / height > 0.33)
            $("#gotop").show();
        else
            $("#gotop").hide();

        var groups = $(".fixedMenu").find(".a2");
        $(groups).removeClass('current');
        for (var i = 0; i < groups.length; i++) {
            var top1 = $('#group_' + $(groups[i]).attr('groupId')).offset().top + 100;
            var top2 = height;
            if (i + 1 < groups.length)
                top2 = $('#group_' + $(groups[i + 1]).attr('groupId')).offset().top + 100;
            if (position >= top1 && position < top2) {
                $(groups[i]).addClass('current');
            }
        }
    }

    window.onload = function ()
    {
        var sename = $("#linksename").attr("tag");
        $("#sename").attr("href", sename);
    }
</script>
