@model HeaderLinksModel
@using Nop.Web.Models.Common;

@Html.Widget("header_links_before")
@if (Model.IsAuthenticated)
{
    <li>@T("Account.WelcomeBack", Model.CustomerEmailUsername)</li>
    <li><a href="@Url.RouteUrl("Logout")" class="important">@T("Account.Logout")</a></li>
}
else
{
    <li>@T("Account.NotLogin")</li>
    <li><a href="@Url.RouteUrl("Login")" class="important">@T("Account.Login")</a></li>
    <li class="line">|</li>
    <li><a href="@Url.RouteUrl("Register")" class="important">@T("Account.Register")</a></li>
}
@if (Model.AllowPrivateMessages)
{
    <li><a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="glyphicon">@T("PrivateMessages.Inbox")</a>
        @Model.UnreadPrivateMessages</li>
    if (!string.IsNullOrEmpty(Model.AlertMessage))
    {
    <script type="text/javascript">
        $(document).ready(function () {
            displayPopupNotification('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))', 'success', false);
        });
    </script>
    }
}
@if (Model.ShoppingCartEnabled)
{
    <li class="line">|</li>
    <li id="topcartlink">
        <a class="icon_cart" href="@Url.RouteUrl("ShoppingCart")" target="_cart">
            @T("ShoppingCart")<strong class="cred cart-items-count">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</strong>@T("ShoppingCart.Unit")
        </a>
    </li>
}
<li class="line">|</li>
<li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.MyAccount")</a></li>
@if (Model.WishlistEnabled)
{
    <li class="line">|</li>
    <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
}
@*<li><a href="#" class="icon_mobi">@T("MobileSite")</a></li>
<li><a href="#">@T("SiteMap")</a></li>*@
<li class="tel"></li>
@Html.Action("AdminHeaderLinks", "Common")

