@model MenuModel
@using Nop.Web.Models.Common;
@using Nop.Core.Domain.Activities;
@Html.Widget("header_menu_before")
<div class="dropdown" id="topCategory">
    <a href="###" class="classCloose">@T("AllCategories")<b class="caret"></b></a>
    <div class="dropdown-menu" style="display: @(Model.IsHomePage ? "" : "none")" id="flyout-categories">
        @Html.Action("FlyoutCategories", "Catalog")
    </div>
</div>
<ul class="navList">
    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
    <li><a href="@Url.RouteUrl("BuyLimit", new {   controller = "Activity", action = "BuyLimit", activityType = (int)ActivityType.BuyLimit })">限时疯抢</a></li>
    @*<li><a href="###">优选品牌</a></li>
    <li><a href="###">左亲右邻</a></li>*@
    @if (Model.RecentlyAddedProductsEnabled)
    {
        <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a></li>
    }
    @if (Model.BlogEnabled)
    {
        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
    }
    @if (Model.ForumEnabled)
    {
        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
    }
</ul>
@Html.Widget("header_menu_after")
@if (!Model.IsHomePage)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav .container').on('mouseenter', '#topCategory', function () {
                var links = $("#topCategory .mainClass a");
                if (!$(links).hasClass("on"))
                    $(links[0]).addClass("on");
                $("#flyout-categories").show();
            });
            $('.nav .container').on('mouseleave', '#topCategory', function () {
                $("#flyout-categories").hide();
            });
            $('.nav .container').on('mouseenter', '#flyout-categories', function () {
            });
            $('.nav .container').on('mouseleave', '#flyout-categories', function () {
                var links = $("#topCategory .mainClass a");
                if (!$(links).hasClass("on"))
                    $(links[0]).addClass("on");
            });
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav .container').on('mouseenter', '#flyout-categories', function () {
            });
            $('.nav .container').on('mouseleave', '#flyout-categories', function () {
                var links = $("#topCategory .mainClass a");
                //if (!$(links).hasClass("on"))
                //    $(links[0]).addClass("on");
                $(".dropdown-menu .subClass").hide();
            });
        });
    </script>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.nav .dropdown-menu .mainClass li').each(function () {
            $(this).on('mouseenter', function () {
                $('.dropdown-menu .mainClass li a').removeClass("on");
                $(this).addClass("on");
                var index = ($(this).attr("index"));
                $(".dropdown-menu .subClass").each(function () {
                    if ($(this).attr("index") == index)
                        $(this).show();
                    else
                        $(this).hide();
                });
            });
        });

        $('.nav .dropdown-menu .subClass').each(function () {
            $(this).on("mouseenter", function () {
                var index = ($(this).attr("index"));
                $('.dropdown-menu .mainClass li').each(function () {
                    if (index == $(this).attr("index"))
                        $(this).find("a").addClass("on");
                });
            });
        });
    });
</script>
