@model MiniShoppingCartModel
@using Nop.Web.Models.ShoppingCart;
<div class="dropdown-menu" id="flyout-cart">
    <ul>
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            var item = Model.Items[i];
            <li class="clearfix">
                <p class="pic">
                    <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                </p>
                <p class="text">
                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" target="_blank">@item.ProductName</a><br />
                    <span class="text-danger">@item.UnitPrice</span>
                    <span class="pull-right">×@item.Quantity</span>
                </p>
            </li>
        }
    </ul>
    <a class="btn btn-orange btn-sm pull-right" href="@Url.RouteUrl("ShoppingCart")" target="_cart">@T("ShoppingCart.View")</a>
</div>
