@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;

@* 核对订单信息 - 金额总计 *@
@if (Model.IsEditable)
{
    <div class="beleft">@T("ShoppingCart.Totals.ProductSelected", Model.OrderTotalProducts)</div>
    <dl class="count-list">
        <dt>@T("ShoppingCart.Totals.Save")：</dt>
        <dd>@Model.SubTotalSave</dd>
        <dt>@T("ShoppingCart.Totals.SubTotal")：</dt>
        <dd><strong>￥<span class="corange f24px">@(Model.SubTotal.Replace("¥", ""))</span></strong></dd>
    </dl>
}
else
{
    if (Model.IsCheckoutPage)
    {
    <div class="row clearfix">
        <dl class="count-list">
            <dt>@T("Checkout.Totals.SubTotal")：</dt>
            <dd>@Model.SubTotal
                @if(!String.IsNullOrEmpty(@Model.OriginalTotal))
                {
                    <span class="f9px"><s>(@Model.OriginalTotal)</s></span>
                }
            </dd>
            <dt>@T("Checkout.Totals.Weight")：</dt>
            <dd>@Model.Weight</dd>
            <dt>@T("Checkout.Totals.ShippingFee")@Html.Raw("(<a href=\"help/ShippingInfo\" class=\"cred\" target=\"_blank\">")@T("Checkout.Totals.ShippingFee.Description")@Html.Raw("</a>)")：</dt>
            <dd>@Model.Shipping
                @if(!String.IsNullOrEmpty(@Model.OriginalShippingPrice))
                {
                    <span class="f9px"><s>(@Model.OriginalShippingPrice)</s></span>
                }
            </dd>
            <dt>@T("Checkout.Totals.CouponDiscount")：</dt>
            <dd>@Model.OrderTotalDiscount</dd>
           @* <dt>@T("Checkout.Totals.BonusPointsDiscount")：</dt>
            <dd>@Model.RedeemedRewardPointsAmount</dd>*@
        </dl>
    </div>
    <div class="text-right f24px">@T("Checkout.Totals.Total")： <strong class="corange">@Model.OrderTotal</strong></div>
    }
    else
    {
    <tr class="total">
        <td colspan="4" align="right">
            @T("ShoppingCart.Totals.TotalAmount")：
            @if (string.IsNullOrEmpty(Model.OrderTotal))
            {

            }
            else
            {
                @Html.Raw("<strong class=\"f24px corange\">")
                @Model.OrderTotal.Replace("¥", "")
                @Html.Raw("</strong>")
                @T("ShoppingCart.Totals.CurrencyUnit")
            }
        </td>
    </tr>
    }
}