@model WishlistModel
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core;
@using Nop.Core.Domain.Common;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_my.css");
    bool hideAllAddCarBtn = true;
    if (Model.Items.Count > 0)
    {
        hideAllAddCarBtn = !Model.Items.Any(s =>
        {

            if (s.ProductOverview != null)
            {
                return !s.ProductOverview.IsSoldOut;
            }
            else
            {
                return true;
            }
        }
              );
    }
}
@section _left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}

<div class="breadcrumbs clearfix">
    <ul>
        <li>@T("Account.Wishlist")</li>
    </ul>
</div>
@if (Model.Items.Count > 0)
{
    foreach (var store in Model.Stores)
    {
        using (Html.BeginRouteForm("Wishlist", FormMethod.Post))
        {
            <div class="normalTitle clearfix">
                @*<h2>@store.Name</h2>*@
                <ul>
                    <li>
                        <input id="selectAll" name="" type="checkbox" onclick="selectStoreShoppingCart(this)" value="@store.Id"><label>@T("Common.SelectAll")</label>
                    </li>
                    @if (Model.IsEditable)
                    {
                        <li>
                            <input type="submit" id="updatecart" name="updatecart" value="@T("Wishlist.UpdateCart")" style="display:none;" />
                            <a href="javascript:void(0)" onclick="RemoveSelection()">@T("Common.Remove")</a>
                        </li>
                    }
                    @if (Model.DisplayAddToCart && !hideAllAddCarBtn)
                    {
                        <li>
                            <input type="submit" id="addtocartbutton" name="addtocartbutton" value="@T("ShoppingCart.AddToCart")" style="display:none;" />
                            <a href="javascript:void(0)" onclick="AddSelectionToCart()">@T("ShoppingCart.AddToCart")</a>
                        </li>
                    }
                </ul>
                <input type="hidden" value="@((int)Model.ViewMode)" id="viewMode" name="viewMode" />
                <ul class="listChange">
                    <li><a href="?m=g" class="list-p @(Model.ViewMode == ViewMode.Grid ? "on" : "")"></a></li>
                    <li><a href="?m=l" class="list-t @(Model.ViewMode == ViewMode.List ? "on" : "")"></a></li>
                </ul>
            </div>
            if (Model.ViewMode == ViewMode.List)
            {
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tb_03 mar_b_10">
                    <tr>
                        @if (Model.IsEditable)
                        {
                            <th colspan="2">@T("Wishlist.Product(s)")</th>
                        }
                        else
                        {
                            <th>@T("Wishlist.Product(s)")</th>
                        }
                        <th>@T("Wishlist.UnitPrice")</th>
                        @if (Model.IsEditable || Model.DisplayAddToCart)
                        {
                            <th>@T("Wishlist.Operation")</th>
                        }
                    </tr>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            @if (Model.IsEditable)
                            {
                                <td align="center">
                                    <input type="checkbox" name="removefromcart" value="@(item.Id)" node-type="store-@(item.StoreId)" onclick="selectSingleItem()" />
                                    @*<input type="checkbox" name="addtocart" value="@(item.Id)" class="hide" />*@
                                </td>
                            }
                            <td>
                                <div class="td-inner-s">
                                    @if (Model.ShowProductImages)
                                    {
                                        <div class="pic">
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" target="_blank">
                                                <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                            </a>
                                        </div>
                                    }
                                    <div class="text">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" target="_blank">@item.ProductName</a>
                                    </div>
                                </div>
                            </td>
                            <td align="center">@item.UnitPrice</td>
                            <td align="center">
                                @if (Model.IsEditable)
                                {
                                    <input type="submit" id="removefromcart-@item.Id" name="removefromcart-@item.Id" style="display:none;" />
                                    <a href="javascript:void(0)" class="link_green" onclick="RemoveItem(@item.Id)">@T("Common.Remove")</a><br />
                                }
                                @if (Model.DisplayAddToCart)
                                {
                                    if (item.ProductOverview != null && !item.ProductOverview.IsSoldOut)
                                    {
                                        <input type="submit" id="addtocart-@item.Id" name="addtocart-@item.Id" style="display:none;" />
                                        <a href="javascript:void(0)" class="link_green" onclick="AddItemToCart(@item.Id)">@T("ShoppingCart.AddToCart")</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </table>
            }

            if (Model.ViewMode == ViewMode.Grid)
            {
                <div class="scList clearfix mar_b_10">
                    <ul>
                        @foreach (var item in Model.Items)
                        {
                            @*//不显示旧价格
                                <li class="col-md-3">
                                    @if (Model.ShowProductImages)
                                    {
                                    <div class="pic"><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" target="_blank"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a></div>
                                    }
                                    <div class="text clearfix">
                                        <h5><input type="checkbox" name="removefromcart" value="@(item.Id)"  node-type="store-@(item.StoreId)"/> <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="item-title"  target="_blank">@item.ProductName</a></h5>
                                    <h4><strong>@item.UnitPrice</strong></h4>
                                        @if (Model.IsEditable)
                                        {
                                            <input type="submit" id="removefromcart-@item.Id" name="removefromcart-@item.Id" class="hide" />
                                        <div class="pull-left"><a href="javascript:void(0)" class="link_green" onclick="RemoveItem(@item.Id)">@T("Common.Remove")</a><br /></div>
                                        }
                                        @if (Model.DisplayAddToCart)
                                        {
                                            <input type="submit" id="addtocart-@item.Id" name="addtocart-@item.Id" class="hide" />
                                        <button type="button" class="btn btn-default btn-sm pull-right " onclick="AddItemToCart(@item.Id)">@T("ShoppingCart.AddToCart")</button>
                                         }
                                    </div>
                                </li>*@
                            //显示旧价格
                            <li>
                                <div class="inner">
                                    @if (Model.ShowProductImages)
                                    {
                                        <div class="pic">
                                            @if (item.ProductOverview != null)
                                            {
                                                if (!string.IsNullOrEmpty(item.ProductOverview.SaleTag))
                                                {
                                                    <span class="sale-tag @item.ProductOverview.SaleTag"></span>
                                                }
                                               
                                            }
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" target="_blank">
                                                @if (item.ProductOverview != null)
                                                {
                                                    <img alt="@item.ProductOverview.DefaultPictureModel.AlternateText" src="@item.ProductOverview.DefaultPictureModel.ImageUrl" title="@item.ProductOverview.DefaultPictureModel.Title" />
                                                }
                                                else
                                                {
                                                    <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                                }
                                                @if (item.ProductOverview.IsSoldOut)
                                                {
                                                <span class="sale-tag-none"></span>
                                                }
                                            </a>
                                        </div>
                                    }
                                    <div class="text">
                                        <h2>
                                            <input type="checkbox" name="removefromcart" value="@(item.Id)" node-type="store-@(item.StoreId)" onclick="selectSingleItem()" />
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="item-title" target="_blank">@item.ProductName</a>
                                        </h2>
                                        <p>
                                            @if (item.ProductOverview != null)
                                            {
                                                @item.ProductOverview.ProductPrice.Price
                                                if (item.ProductOverview.ProductPrice.OldPrice != null)
                                                {
                                                    <em>/@item.ProductOverview.ProductPrice.OldPrice</em>
                                                }
                                            }
                                            else
                                            {
                                                @item.UnitPrice
                                            }
                                        </p>
                                    </div>
                                    @if (Model.IsEditable || Model.DisplayAddToCart)
                                    {
                                        <div class="btns clearfix">
                                            @if (Model.IsEditable)
                                            {
                                                <input type="submit" id="removefromcart-@item.Id" name="removefromcart-@item.Id" style="display:none;" />
                                                <a href="javascript:void(0)" class="beleft pad_5" onclick="RemoveItem(@item.Id)">@T("Common.Remove")</a>
                                            }
                                            @if (Model.DisplayAddToCart)
                                            {
                                                if (item.ProductOverview != null && !item.ProductOverview.IsSoldOut)
                                                {
                                                    <input type="submit" id="addtocart-@item.Id" name="addtocart-@item.Id" style="display:none;" />
                                                    <a href="javascript:void(0)" class="btn-cart-01" onclick="AddItemToCart(@item.Id)"></a>
                                                }

                                            }
                                        </div>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    }
    <script type="text/javascript">
        function checkWishlistForm() {
            var cboxs = $("[name='removefromcart']");
            var pass = false;
            cboxs.each(
                function () {

                    if ($(this).is(":checked"))
                        pass = true;
                }
             );
            if (!pass)
                alert("@T("NoItemSelected")");
            return pass;
        }

        function RemoveSelection() {
            if (checkWishlistForm()) {
                if (confirm("@T("Wishlist.DelCartItems")"))
                    $('#updatecart').click();
            }
        }

        function AddSelectionToCart() {
            if (checkWishlistForm()) {
                $("#addtocartbutton").click();
            }
        }

        function RemoveItem(sciId) {
            if (confirm("@T("Wishlist.DelCartItem")"))
                $("#removefromcart-" + sciId).click();
        }

        function AddItemToCart(sciId) {
            $("#addtocart-" + sciId).click();
        }

        var selectAllStoreCartItem = function (o) {
            var cboxs = $("[name='removefromcart']");
            cboxs.each(
                function () {
                    $(this).prop("checked", $(o).is(":checked"));
                }
             );
        };

        var selectStoreShoppingCart = function (o) {
            var storeId = o.value;
            $("[node-type='store-" + storeId + "']").prop("checked", $(o).is(":checked"));
        };

        var selectSingleItem = function () {
            var checkboxs = $("input[name='removefromcart']");
            var allChecked = true;
            for (var i = 0; i < checkboxs.length; i++) {
                if (!$(checkboxs[i]).attr("checked")) {
                    allChecked = false;
                    break;
                }
            }

            $("#selectAll").attr("checked", allChecked);
        };
    </script>
}
else
{
    <div class="mainArea mar_b_10">
        <div class="fav_no_box">
            <p class="f16px">@T("Wishlist.Empty")</p>
            <p>
                <button type="button" class="btn btn-green btn-sm" onclick="setLocation('@Url.RouteUrl("HomePage")')">@T("Wishlist.WishNow")</button>
            </p>
        </div>
    </div>
}