@using Nop.Core.Domain.Orders
@model Nop.Web.Models.Activity.PromptModel
@{
    Html.AppendScriptParts("~/Themes/60GO2/Content/js/jQuery-shopping.js");
}
<div class="flashSale clearfix">
    <div class="title">
        <h2>限时疯抢</h2>
    </div>
    @{
        var totalSeconds = 0;
        var todayPromptProductList = Model.TodayPromptProductList.ToList();
        foreach (var item in todayPromptProductList)
        {
            var now = DateTime.UtcNow;
            //var hour = 0;
            //var minute = 0;
            //var second = 0;
            //var monthofdaycount = DateTime.DaysInMonth(item.EndTimeUtc.Year, item.EndTimeUtc.Month);
            //var yearofdaycount = 365;

            //totalSeconds = (item.EndTimeUtc.Year - now.Year) * yearofdaycount * monthofdaycount * 24 * 60 * 60 + (item.EndTimeUtc.Month - now.Month) * monthofdaycount * 24 * 60 * 60 + (item.EndTimeUtc.Day - now.Day) * 24 * 60 * 60 + (item.EndTimeUtc.Hour - now.Hour) * 60 * 60 + (item.EndTimeUtc.Minute - now.Minute) * 60 + (item.EndTimeUtc.Second - now.Second);
            var index = todayPromptProductList.IndexOf(item) + 5;
            //var hours = totalSeconds / 60 / 60;
            //if (hours < 100)
            //{
            //    hour = (int)(totalSeconds / 60 / 60);
            //    minute = (int)((totalSeconds - hour * 60 * 60) / 60);
            //    second = (int)(totalSeconds - hour * 60 * 60 - minute * 60);
            //}
            //else
            //{
            //    hour = 99;
            //    minute = 59;
            //    second = 59;
            //    totalSeconds = 59 + 59 * 60 + 99 * 60 * 60;
            //}
            TimeSpan timeSpan;
            if (now >= item.StartTimeUtc)
            {
                timeSpan = (item.EndTimeUtc - now);
            }
            else
            {
                timeSpan = (item.StartTimeUtc-now);
            }
            
            totalSeconds = (int)timeSpan.TotalSeconds;
            var days = timeSpan.Days;
            var hour = timeSpan.Hours + days * 24;
            var minute = timeSpan.Minutes;
            var second = timeSpan.Seconds;
            if (hour >= 100)
            {
                hour = 99;
                minute = 59;
                second = 59;
                totalSeconds = 59 + 59 * 60 + 99 * 60 * 60;
            }
            <div class="con clearfix" style="display: ">
                <div class="time clearfix">
                    <b id="hour_@(index)_1">@(hour.ToString("00").Substring(0, 1))</b>
                    <b id="hour_@(index)_2">@(hour.ToString("00").Substring(1, 1))</b><em>:</em>
                    <b id="minute_@(index)_1">@(minute.ToString("00").Substring(0, 1))</b>
                    <b id="minute_@(index)_2">@(minute.ToString("00").Substring(1, 1))</b><em>:</em>
                    <b id="second_@(index)_1">@(second.ToString("00").Substring(0, 1))</b>
                    <b id="second_@(index)_2">@(second.ToString("00").Substring(1, 1))</b>
                </div>
                <div class="clear"></div>
                <div class="pic">
                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" target="_blank">
                        <img src="@item.ProductPictureUrl" width="110" height="110" />
                    </a>
                </div>
                <div class="text">
                     <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" target="_blank">
                            <h2 class="name">@item.ProductName</h2>
                        </a> 
                    <p>
                        <strong>@item.PcPlatformPrice</strong>
                       @* @if (!item.DisableOldPrice)
                        {
                            <span>@item.Price</span>
                        }*@
                    </p>
                    <div class="mar_b_5 clearfix">
                        <span class="beleft">剩余 @(item.RemainingSales) %</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: @(item.RemainingSales)%"></div>
                        </div>
                    </div>
                    <form id="product_@(item.ProductId)">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" target="_blank" class="btn btn-xs btn-orange"><span class="clock">立刻抢购</span></a>
                        @*                    <input type="hidden" data-val="true"  id="addtocart_@(item.ProductId)_EnteredQuantity" maxlength="2" name="addtocart_@(item.ProductId).EnteredQuantity"  value="1" />
                    <a href="javascript:void(0)" class="btn btn-xs btn-orange" onclick=" AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = item.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart, buyNow = true })', '#product_@(item.ProductId)', buyProductNowSuccess, this, '@item.ProductPictureUrl'); "><span class="clock">立刻抢购</span></a>*@
                    </form>
                </div>
            </div>
            <script type="text/javascript">
                setTimeout("countdown(@totalSeconds, @index)", 1000);
            </script>
        }
    }
    <div class="slideNum">
        @{
            var todayPromptProductLists = Model.TodayPromptProductList.ToList();
            foreach (var item in todayPromptProductLists)
            {
                if (todayPromptProductLists.IndexOf(item) == 0)
                {
            <a href="###" class="on"></a>
                }
                else
                {
            <a href="###"></a>
                }
            }
        }
    </div>

    <script type="text/javascript">
        function countdown(totalsecond, i) {
            var hour = parseInt(totalsecond / 60 / 60);
            if (isNaN(hour))
                hour = 0;
            var minute = parseInt((totalsecond - hour * 60 * 60) / 60);
            if (isNaN(minute))
                minute = 0;
            var second = parseInt(totalsecond - hour * 60 * 60 - minute * 60);
            if (isNaN(second))
                second = 0;

            hour = hour.toString();
            if (hour.length == 1)
                hour = "0" + hour;
            minute = minute.toString();
            if (minute.length == 1)
                minute = "0" + minute;
            second = second.toString();
            if (second.length == 1)
                second = "0" + second;

            $("#hour_" + i + "_1").html(hour.substring(0, 1));
            $("#hour_" + i + "_2").html(hour.substring(1, 2));
            $("#minute_" + i + "_1").html(minute.substring(0, 1));
            $("#minute_" + i + "_2").html(minute.substring(1, 2));
            $("#second_" + i + "_1").html(second.substring(0, 1));
            $("#second_" + i + "_2").html(second.substring(1, 2));
            if (totalsecond > 0)
                setTimeout("countdown(" + (totalsecond - 1) + ", " + i + ")", 1000);
        }

        function buyProductNowSuccess(response) {
            if (response.success == true) {
                window.open(response.checkoutUrl);
            }
            else {
                if (response.productUrl) {
                    window.location.href = response.productUrl;
                } else {
                    alert(response.message);
                }
            }
        }
    </script>
</div>
