@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_index.css");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/public.fixedhead.js");
}

@*<div class="appMask" id="appMask">
    <div class="maskTop"></div>
    <img class="maskBtm" src="/Themes/60GO2/Content/images/mask_btm.png" />
    <img class="maskItem" src="/Themes/60GO2/Content/images/mask_items.png" />
    <img class="maskPhone" src="/Themes/60GO2/Content/images/mask_phone.png" />
    <img class="maskQrcode" src="/Themes/60GO2/Content/images/qrcode.png" />
    <a href="javascript:maskHide();" class="maskBtn"><span>继续浏览</span></a>
</div>
<style>
    .appMask {
        display: none;
        position: fixed;
        _position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000000;
    }

    .appMask div.maskTop {
        float: left;
        height: 91%;
        width: 100%;
        background: #000;
        opacity: .84;
        *filter: alpha(opacity=84);
    }

    .appMask img.maskBtm {
        float;
        left;
        width: 100%;
        margin-top: -1px;
        height: 9.1%;
    }

    .appMask img.maskItem {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 91%;
    }

        .appMask .maskBtn {
            width: 366px;
            height: 92px;
            position: absolute;
            left: 50%;
            margin-left: -183px;
            bottom: 7%;
            background: url(/Themes/60GO2/Content/images/mask_btn.png) no-repeat center center;
            background-size: 100% 100%;
        }

    .appMask .maskBtn span {
        visibility: hidden;
    }

    .appMask img.maskQrcode {
        width: 25%;
        position: absolute;
        left: 13%;
        top: 10%;
    }

    .appMask img.maskPhone {
        width: 40%;
        position: absolute;
        top: 0;
        right: 0;
    }
</style>*@
@*<script>
    <!--首次进入显示手机App提示-->
        var mask = document.getElementById('appMask');
        var createCookie = function (name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            }
            else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) {
                        c_end = document.cookie.length;
                    }
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
        $(function () {
            if (getCookie('firstRun') != '1') {
                mask.style.display = 'block';
                createCookie('firstRun', '1');
            }
        })
        function maskHide() {
            mask.style.display = 'none';
        }
    </script>*@
<!--[if !IE]>header start<![endif]-->

@Html.Widget("home_page_focus_area")
<div class="grayBox">
    <div class="container clearfix">
        @Html.Widget("home_page_primary_category")
        @Html.Action("BuyLimit")
    </div>
</div>

@section _floatarea
{
    @Html.Action("FloatArea", "Common", new { pageTurningEnabled = false, recentEnabled = false, customProductGroupEnabled = true,wishlistEnabled=true,shoppingCartEnabled = true })
}

@section _menu
{
    <div class="nav">
        <div class="container">
            @Html.Action("Menu", "Common", new { isHomePage = true })
        </div>
    </div>
}

<div class="container">
    @Html.Widget("home_page_product_list")
    
</div>
<div class="container">
    @Html.Widget("home_page_custom_product_group")
</div>
@Html.Widget("home_page_bottom")
