@model CommonActivityModel
@using System.Web.UI.WebControls
@using Nop.Admin.Models.Activity
@using Nop.Plugin.Widgets.ProductSpecialSale.Domain
@using Telerik.Web.Mvc.UI;
@{
    //page title
    ViewBag.Title = "促销活动管理";
}
@if (Model.Id > 0)
{
    <script type="text/javascript">
        $(document).ready(function() {
            pcStyleTemplateClick();
            appStyleTemplateClick();
            weixinStyleTemplateClick();
        });
        function  pcStyleTemplateClick() {
            if ($('#@Html.FieldIdFor(model => model.IsPcPlatformAvailable)').attr("checked")==undefined) {
                $("#pcStyleTemplate").css("display","none");
            } else {
                $("#pcStyleTemplate").css("display","block");
            }
        }
        function  appStyleTemplateClick() {
            if ($('#@Html.FieldIdFor(model => model.IsAppPlatformAvailable)').attr("checked")==undefined) {
                $("#appStyleTemplate").css("display","none");
            } else {
                $("#appStyleTemplate").css("display","block");
            }
        }
        function  weixinStyleTemplateClick() {
            if ($('#@Html.FieldIdFor(model => model.IsWeixinPlatformAvailable)').attr("checked")==undefined) {
                $("#weixinStyleTemplate").css("display","none");
            } else {
                $("#weixinStyleTemplate").css("display","block");
            }
        }
    </script>
    <div id="pcStyleTemplate">
        <table style="width: 100%; border: darkgray 1px solid;">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#addPcProductPosterPicture').click(function () {
                        var pictureId = $("#@Html.FieldIdFor(model => model.PcActivityPosterId)").val();
                        if (pictureId == 0) {
                            alert('Upload picture first');
                            return;
                        }
                        $('#addPcProductPosterPicture').attr('disabled', true);
                        $.ajax({
                            cache:false,
                            type: "POST",
                            url: "@(Url.Action("ActivityPictureAdd", "Activities"))",
                            data: { "pictureId": pictureId,"activityId": @Model.Id,"platForm":@((int)ActivityPlatform.Pc),"pictureType":@((int)ActivityPictureType.Poster)},
                            success: function (data) {
                                $("#hdPcPosterId").val(pictureId);
                                $('#addPcProductPosterPicture').attr('disabled', false);
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to add product picture.');
                                $('#addPcProductPosterPicture').attr('disabled', false);
                            }  
                        });
                    });
                    @*$('#addPcProductBackgroundPicture').click(function () {
                        var posterPictureId = $("#hdPcPosterId").val();
                        if (posterPictureId == 0) {
                            alert('请先上传活动海报');
                            return;
                        }
                        var pictureId = $("#@Html.FieldIdFor(model => model.PcActivityBackgroundId)").val();
                        if (pictureId == 0) {
                            alert('请先上传图片');
                            return;
                        }
                        $('#addPcProductBackgroundPicture').attr('disabled', true);
                        $.ajax({
                            cache:false,
                            type: "POST",
                            url: "@(Url.Action("ActivityPictureAdd", "Activities"))",
                            data: { "pictureId": pictureId,"activityId": @Model.Id,"platForm":@((int)ActivityPlatform.Pc),"pictureType":@((int)ActivityPictureType.Background)},
                            success: function (data) {
                                $('#addPcProductBackgroundPicture').attr('disabled', false);
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to add product picture.');
                                $('#addPcProductBackgroundPicture').attr('disabled', false);
                            }  
                        });
                    });*@
                });
            </script>
            <tr>
                <td style="width: 10%;">网站活动样式设置：</td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.PcActivityPosterId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.PcActivityPosterId)
                    @Html.ValidationMessageFor(model => model.PcActivityPosterId)
                </td>
                <td>
                    <input type="hidden" id="hdPcPosterId" value="@Model.PcActivityPosterId"/>
                    <input type="button" id="addPcProductPosterPicture" class="t-button" value="确定" />
                </td>
            </tr>
            @*<tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.PcActivityBackgroundId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.PcActivityBackgroundId)
                    @Html.ValidationMessageFor(model => model.PcActivityBackgroundId)

                </td>
                <td>
                    <input type="button" id="addPcProductBackgroundPicture" class="t-button" value="确定" />
                </td>
            </tr>*@
        </table>
    </div>
    <div id="appStyleTemplate">
        <table style="width: 100%; border: darkgray 1px solid;">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#addAppProductPosterPicture').click(function () {
                        var pictureId = $("#@Html.FieldIdFor(model => model.AppActivityPosterId)").val();
                        if (pictureId == 0) {
                            alert('Upload picture first');
                            return;
                        }
                        $('#addAppProductPosterPicture').attr('disabled', true);
                        $.ajax({
                            cache:false,
                            type: "POST",
                            url: "@(Url.Action("ActivityPictureAdd", "Activities"))",
                            data: { "pictureId": pictureId,"activityId": @Model.Id,"platForm":@((int)ActivityPlatform.App),"pictureType":@((int)ActivityPictureType.Poster)},
                            success: function (data) {
                                $("#hdAppPosterId").val(pictureId);
                                $('#addAppProductPosterPicture').attr('disabled', false);
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to add product picture.');
                                $('#addAppProductPosterPicture').attr('disabled', false);
                            }  
                        });
                    });
                    @*$('#addAppProductBackgroundPicture').click(function () {
                        var posterPictureId = $("#hdAppPosterId").val();
                        if (posterPictureId == 0) {
                            alert('请先上传活动海报');
                            return;
                        }
                        var pictureId = $("#@Html.FieldIdFor(model => model.AppActivityBackgroundId)").val();
                        if (pictureId == 0) {
                            alert('请先上传图片');
                            return;
                        }
                        $('#addAppProductBackgroundPicture').attr('disabled', true);
                        $.ajax({
                            cache:false,
                            type: "POST",
                            url: "@(Url.Action("ActivityPictureAdd", "Activities"))",
                            data: { "pictureId": pictureId,"activityId": @Model.Id,"platForm":@((int)ActivityPlatform.App),"pictureType":@((int)ActivityPictureType.Background)},
                            success: function (data) {
                                $('#addAppProductBackgroundPicture').attr('disabled', false);
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to add product picture.');
                                $('#addAppProductBackgroundPicture').attr('disabled', false);
                            }  
                        });
                    });*@
                });
            </script>
            <tr>
                <td style="width: 10%;">APP活动样式设置：</td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.AppActivityPosterId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.AppActivityPosterId)
                    @Html.ValidationMessageFor(model => model.AppActivityPosterId)
                </td>
                <td>
                    <input type="hidden" id="hdAppPosterId" value="@Model.AppActivityPosterId"/>
                    <input type="button" id="addAppProductPosterPicture" class="t-button" value="确定" />
                </td>
            </tr>
            @*<tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.AppActivityBackgroundId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.AppActivityBackgroundId)
                    @Html.ValidationMessageFor(model => model.AppActivityBackgroundId)
                </td>
                <td>
                    <input type="button" id="addAppProductBackgroundPicture" class="t-button" value="确定" />
                </td>
            </tr>*@
        </table>
    </div>
    <div id="weixinStyleTemplate">
        <table style="width: 100%; border: darkgray 1px solid;">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#addWeixinProductPosterPicture').click(function () {
                        var pictureId = $("#@Html.FieldIdFor(model => model.WeixinActivityPosterId)").val();
                        if (pictureId == 0) {
                            alert('Upload picture first');
                            return;
                        }
                        $('#addWeixinProductPosterPicture').attr('disabled', true);
                        $.ajax({
                            cache:false,
                            type: "POST",
                            url: "@(Url.Action("ActivityPictureAdd", "Activities"))",
                            data: { "pictureId": pictureId,"activityId": @Model.Id,"platForm":@((int)ActivityPlatform.Wechat),"pictureType":@((int)ActivityPictureType.Poster)},
                            success: function (data) {
                                $("#hdWeixinPosterId").val(pictureId);
                                $('#addWeixinProductPosterPicture').attr('disabled', false);
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to add product picture.');
                                $('#addWeixinProductPosterPicture').attr('disabled', false);
                            }  
                        });
                    });
                    @*$('#addWeixinProductBackgroundPicture').click(function () {
                        var posterPictureId = $("#hdWeixinPosterId").val();
                        if (posterPictureId == 0) {
                            alert('请先上传活动海报');
                            return;
                        }
                        var pictureId = $("#@Html.FieldIdFor(model => model.WeixinActivityBackgroundId)").val();
                        if (pictureId == 0) {
                            alert('请先上传图片');
                            return;
                        }
                        $('#addWeixinProductBackgroundPicture').attr('disabled', true);
                        $.ajax({
                            cache:false,
                            type: "POST",
                            url: "@(Url.Action("ActivityPictureAdd", "Activities"))",
                            data: { "pictureId": pictureId,"activityId": @Model.Id,"platForm":@((int)ActivityPlatform.Wechat),"pictureType":@((int)ActivityPictureType.Background)},
                            success: function (data) {
                                $('#addWeixinProductBackgroundPicture').attr('disabled', false);
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to add product picture.');
                                $('#addWeixinProductBackgroundPicture').attr('disabled', false);
                            }  
                        });
                    });*@
                });
            </script>
            <tr>
                <td style="width: 10%;">微信活动样式设置：</td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.WeixinActivityPosterId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.WeixinActivityPosterId)
                    @Html.ValidationMessageFor(model => model.WeixinActivityPosterId)
                </td>
                <td>
                    <input type="hidden" id="hdWeixinPosterId" value="@Model.WeixinActivityPosterId"/>
                    <input type="button" id="addWeixinProductPosterPicture" class="t-button" value="确定" />
                </td>
            </tr>
            @*<tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.WeixinActivityBackgroundId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.WeixinActivityBackgroundId)
                    @Html.ValidationMessageFor(model => model.WeixinActivityBackgroundId)
                </td>
                <td>
                    <input type="button" id="addWeixinProductBackgroundPicture" class="t-button" value="确定" />
                </td>
            </tr>*@
        </table>
    </div>

    <table style="width: 100%; border: darkgray 1px solid;">
        <tr>
            <td style="width: 10%; text-align: left">商品分组设置：</td>
            <td>
                @(Html.Telerik().Grid<ActivityProductGroupModel>()
                      .Name("pcactivityproductgroup-grid")
                      .DataKeys(keys => keys.Add(x => x.Id))
                      .ClientEvents(events => events
                          .OnDataBinding("onDataBinding"))
                      .DataBinding(dataBinding => dataBinding.Ajax()
                          .Select("SearchActivityProductGroupList", "Activities", new { ActivityId = Model.Id })
                          .Insert("ActivityProductGroupInsert", "Activities", new { ActivityId = Model.Id })
                          .Update("ActivityProductGroupUpdate", "Activities")
                          .Delete("ActivityProductGroupDelete", "Activities", new { ActivityId = Model.Id }))
                      .Columns(columns =>
                      {
                          columns.Bound(x => x.Name);
                          columns.Bound(x => x.DisplayOrder);
                          columns.Bound(x => x.BackgroundColor);
                          columns.Command(commands => commands.Edit().Text(T("Admin.Common.Edit").Text));
                          columns.Command(commands => commands.Delete().Text(T("Admin.Common.Delete").Text));
                      })
                      .ToolBar(commands => commands.Insert())
                      .EnableCustomBinding(true))
            </td>
        </tr>
    </table>
}
else
{
    <span>您需要先保存才能进一步操作</span>
}