@using Nop.Core.Domain.Promotions
@model Nop.Admin.Models.Activity.CycleActivityModel

@*<table class="adminContent">
    @if (Model.Id > 0)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Id):
            </td>
            <td class="adminData">
                @Model.Id.ToString()
                @Html.ValidationMessageFor(model => model.Id)
            </td>
        </tr>
    }
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name):
        </td>
        @if (Model.PromotionStatusId == (int)PromotionStatus.New)
        {
            <td class="adminData">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        }
        else
        {
            <td class="adminData">
                @Model.Name
            </td>
        }
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.PromotionTypeName):
        </td>
        @if (Model.PromotionStatusId == (int)PromotionStatus.New)
        {
            <td class="adminData">
                @Html.DropDownListFor(model => model.PromotionTypeId, ((PromotionType)Model.PromotionTypeId).ToSelectList())
                @Html.ValidationMessageFor(model => model.PromotionTypeId)
            </td>
        }
        else
        {
            <td class="adminData">
                @Model.PromotionTypeName
            </td>
        }
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.StartDateTime):
        </td>
        @if (Model.PromotionStatusId == (int)PromotionStatus.New)
        {
            <td class="adminData">
                @Html.EditorFor(model => model.StartDateTime)
                @Html.ValidationMessageFor(model => model.StartDateTime)
            </td>
        }
        else
        {
            <td class="adminData">
                @Model.StartDateTime
            </td>
        }
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.EndDateTime):
        </td>
        @if (Model.PromotionStatusId == (int)PromotionStatus.New)
        {
            <td class="adminData">
                @Html.EditorFor(model => model.EndDateTime)
                @Html.ValidationMessageFor(model => model.EndDateTime)
            </td>
        }
        else
        {
            <td class="adminData">
                @Model.EndDateTime
            </td>
        }
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.PromotionStatusName):
        </td>
        <td class="adminData">
            @Model.PromotionStatusName
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.IsEnabled):
        </td>
        @if (Model.PromotionStatusId == (int)PromotionStatus.New)
        {
            <td class="adminData">
                @Html.CheckBoxFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled)
            </td>
        }
        else
        {
            <td class="adminData">
                @Html.CheckBoxFor(model => model.IsEnabled,new{disabled=false})
            </td>
        }
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Remark):
        </td>
        @if (Model.PromotionStatusId == (int)PromotionStatus.New)
        {
            <td class="adminData">
                @Html.TextAreaFor(model => model.Remark, new { style = "Width: 250px; Height: 150px;" })
                @Html.ValidationMessageFor(model => model.Remark)
            </td>
        }
        else
        {
            <td class="adminData">
                @Model.Remark
            </td>
        }
    </tr>
</table>*@
