@model SpecialSaleGroupModel.SpecialSaleGroupCreateModel

}
<p>
    <strong>添加特卖分组</strong>
</p>
<table class="adminContent">
    <tr>
        <td class="adminTitle">@Html.NopLabelFor(s => Model.Name)</td>
        <td class="adminData">@Html.EditorFor(s => Model.Name)</td>
    </tr>
    <tr>
        <td class="adminTitle">@Html.NopLabelFor(s => Model.DisplayOrder)</td>
        <td class="adminData">@Html.EditorFor(s => Model.DisplayOrder)</td>
    </tr>
    <tr>
        <td class="adminTitle">@Html.NopLabelFor(s => Model.Enable)</td>
        <td class="adminData">@Html.EditorFor(s => Model.Enable)</td>
    </tr>
</table>

<br />

<table class="adminContent">
    <tr>

        <td colspan="2" class="adminData">
            <div id="salegroup-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#salegroup-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("SpecialSaleGroupList", "WidgetsProductSpecialSale", new RouteValueDictionary() { { "Namespaces", "Nop.Plugin.Widgets.ProductSpecialSale" }, { "area", "" }, { "saleStageId", Model.SpecialSaleStageId } }))",
                                    type: "POST",
                                    dataType: "json",

                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            requestEnd: function (e) {

                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: false,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        dataBound: onDataBound,
                        columns: [
                            {
                                field: "Id",
                                title: "Id",
                            },
                            {
                                field: "Name",
                                title: "名称",
                            },
                            {
                                field: "DisplayOrder",
                                title: "顺序",
                            },
                            {
                                field: "Enable",
                                title: "启用",
                            }
                        ]
                    });
                });



                function onDataBound(e) {


                }
            </script>
        </td>
    </tr>
</table>