@model Nop.Admin.Models.Activity.CommonActivityModel

@using Telerik.Web.Mvc.UI;
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.Telerik().TabStrip().Name("activity-edit").Items(x =>
{
    x.Add().Text("基本信息").Content(TabBasicInfo().ToHtmlString()).Selected(true);
    x.Add().Text("样式模板").Content(TabStyleTemplates().ToHtmlString());
    x.Add().Text("参与商品").Content(TabProducts().ToHtmlString());
    //generate an event
    EngineContext.Current.Resolve<IEventPublisher>().Publish(new AdminTabStripCreated(x, "activity-edit"));
}).ClientEvents(events=> events.OnSelect("SelectActivityProductGroups"))
<script type="text/javascript">
    function SelectActivityProductGroups(e) {
        var tabStrip = $("#activity-edit").data("tTabStrip");
        var targetObject = $("li", tabStrip.element)[2];
        if (targetObject == e.item) {
            $("#save").css("display", "none");
            $("#save-continue").css("display", "none");
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("SearchActivityProductGroupList", "Activities"))",
                data: { "activityId": "@Model.Id" },
                    success: function (data) {
                        var htmlContent = "<option value=\"-1\">无分组</option>";
                        var activityProductGroups = data.data;
                        for (var i = 0; i < activityProductGroups.length; i++) {
                            htmlContent += "<option value=\"" + activityProductGroups[i].Id + "\">" + activityProductGroups[i].Name + "</option>";
                        }
                        $('#@Html.FieldIdFor(model => model.SelectedProductGroupListItem)').html(htmlContent);
                            },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('@Html.Raw(HttpUtility.JavaScriptStringEncode("获取活动商品分组失败"))');
                }
            });
        } else if (e.item == $("li", tabStrip.element)[1]) {
            $("#save").css("display", "none");
            $("#save-continue").css("display", "none");
        } else {
            $("#save").css("display", "inline");
            $("#save-continue").css("display", "inline");
        }
    }
</script>
@helper TabBasicInfo()
{ 
    @Html.Partial("_CreateOrUpdateCommonActivity.Info", Model)
}
@helper TabStyleTemplates()
{
    @Html.Partial("_CreateOrUpdateCommonActivity.StyleTemplates", Model)
}
@helper TabProducts()
{
    @Html.Partial("_CreateOrUpdateCommonActivity.Products", Model)
}