@model Nop.Admin.Models.Activity.NonPromotionActivityModel
@{
    //page title
    ViewBag.Title ="编辑活动信息";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "nonpromotionactivity-form" }))
{
    <script type="text/javascript">
        function  canSave() {
            if ($('#@Html.FieldIdFor(model => model.IsPcPlatformAvailable)').attr("checked") != undefined) {
                var posterPcPictureId = $("#hdPcPosterId").val();
                if (posterPcPictureId == 0) {
                    alert('请先上传网站活动海报');
                    return false;
                }
            }
            if ($('#@Html.FieldIdFor(model => model.IsAppPlatformAvailable)').attr("checked") != undefined) {
                var posterAppPictureId = $("#hdAppPosterId").val();
                if (posterAppPictureId == 0) {
                    alert('请先上传APP活动海报');
                    return false;
                }
            }
            if ($('#@Html.FieldIdFor(model => model.IsWeixinPlatformAvailable)').attr("checked") != undefined) {
                var posterWeixinPictureId = $("#hdWeixinPosterId").val();
                if (posterWeixinPictureId == 0) {
                    alert('请先上传微信活动海报');
                    return false;
                }
            }
            return true;
        }
    </script>
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            <span>编辑活动信息</span>- @Model.Id @Html.ActionLink("(返回活动列表)", "NonPromotionActivityList")
        </div>
        <div class="options">
            <input type="submit" onclick="return canSave();" name="save" id="save" class="t-button" value="@T("Admin.Common.Save")" />
            <input type="submit" onclick="return canSave();" name="save-continue" id="save-continue" class="t-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="nonpromotionactivity-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateNonPromotionActivity", Model)
}
@Html.DeleteConfirmation("nonpromotionactivity-delete")

