@model Nop.Admin.Models.Activity.NonPromotionActivityModel
@{
    //page title
    ViewBag.Title = "添加新的活动信息";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "nonpromotionactivity-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            <span>添加新的活动信息</span>@Html.ActionLink("(返回活动列表)", "NonPromotionActivityList")
        </div>
        <div class="options">
            <input type="submit" name="save" id="save" class="t-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" id="save-continue" class="t-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateNonPromotionActivity", Model)
}