@model OrderDetailsModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Order;
@using Nop.Core.Domain.Shipping;
@using Nop.Core.Domain.Payments;
@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Common;
@{
    if (!Model.PrintMode)
    {
        //Layout = "~/Views/Shared/_ColumnsOne.cshtml";
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.ShippingDetails").Text);
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@if (Model.PrintMode)
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>
}
@Html.Widget("orderdetails_page_top")

<div class="breadcrumbs clearfix">
    <ul>
        <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a><span>@breadcrumbDelimiter</span></li>
        <li>@T("Account.CustomerOrders.ShippingDetails")</li>
    </ul>
</div>

<div class="ddStep">
    <div class="step01 clearfix">
        @if (Model.Shipments.Count > 0)
        {
            var shipment = Model.Shipments.FirstOrDefault();
            <div class="pic">
                <div class="@((Model.PaymentStatus == PaymentStatus.Paid || Model.PaymentMethodSystemName == "Payments.CashOnDelivery") || Model.ShippingStatus == ShippingStatus.Shipped || Model.ShippingStatus == ShippingStatus.Delivered ? "node_ready" : "node_unready")">1</div>
                <div class="@(Model.ShippingStatus == ShippingStatus.Shipped || Model.ShippingStatus == ShippingStatus.Delivered ? "strip_ready" : "strip_unready")">
                    @if (!(Model.ShippingStatus == ShippingStatus.Shipped || Model.ShippingStatus == ShippingStatus.Delivered))
                    {<span class="bar"></span>}
                    @if ((Model.PaymentStatus == PaymentStatus.Paid || Model.PaymentMethodSystemName == "Payments.CashOnDelivery") && Model.ShippingStatus == ShippingStatus.NotYetShipped)
                    {<em>@(Model.OrderViewStatusEnum == OrderViewStatusEnum.Cancelled && Model.LogisticsStatusEnum == LogisticsStatusEnum.Processing ? string.Format(T("account.customerorders.details.cancelled").Text, Model.CancelType) : T("Account.CustomerOrders.Details.ShippingStep1Des").Text)</em>}
                </div>
                <div class="@(Model.ShippingStatus == ShippingStatus.Shipped || Model.ShippingStatus == ShippingStatus.Delivered ? "node_ready" : "node_unready")">2</div>
                <div class="@(Model.ShippingStatus == ShippingStatus.Shipped || Model.ShippingStatus == ShippingStatus.Delivered ? "strip_ready" : "strip_unready")">
                    @if (!(Model.ShippingStatus == ShippingStatus.Delivered))
                    {<span class="bar"></span>}
                    @if (Model.ShippingStatus == ShippingStatus.Shipped)
                    {<em>@(Model.OrderViewStatusEnum == OrderViewStatusEnum.Cancelled && Model.LogisticsStatusEnum == LogisticsStatusEnum.Shipped ? string.Format(T("account.customerorders.details.cancelled").Text, Model.CancelType) : T("Account.CustomerOrders.Details.ShippingStep2Des").Text)</em>}

                </div>
                <div class="@(Model.ShippingStatus == ShippingStatus.Delivered ? "node_ready" : "node_unready")">3</div>
            </div>                        
            <ul class="text">
                <li>@(Model.OrderViewStatusEnum == OrderViewStatusEnum.Cancelled && Model.LogisticsStatusEnum == LogisticsStatusEnum.Pending ? string.Format(T("account.customerorders.details.cancelled").Text, Model.CancelType) : (Model.LogisticsStatusEnum == LogisticsStatusEnum.Pending ? T("Account.CustomerOrders.Details.OrderStep1Status0").Text : T("Account.CustomerOrders.Details.OrderStep1Status").Text))<span>@(Model.PaidDate != null ? Convert.ToDateTime(Model.PaidDate).ToString("MM-dd HH:mm") : "") </span></li>
                @if (Model.LogisticsStatusEnum == LogisticsStatusEnum.Shipped || Model.LogisticsStatusEnum == LogisticsStatusEnum.Complete)
                {
                    <li>@T("Account.CustomerOrders.Details.OrderStep2Status").Text<span>@(shipment.ShippedDate != null ? Convert.ToDateTime(shipment.ShippedDate).ToString("MM-dd HH:mm") : "")</span></li>
                }
                @if (Model.LogisticsStatusEnum == LogisticsStatusEnum.Complete)
                {
                    <li>@(Model.OrderViewStatusEnum == OrderViewStatusEnum.Cancelled && Model.LogisticsStatusEnum == LogisticsStatusEnum.Complete ? string.Format(T("account.customerorders.details.cancelled").Text, Model.CancelType) : T("Account.CustomerOrders.Details.OrderStep3Status").Text)<span>@(shipment.DeliveryDate != null ? Convert.ToDateTime(shipment.DeliveryDate).ToString("MM-dd HH:mm") : "")</span></li>
                }
            </ul>                        
        }
        @if (Model.Shipments.Count == 0)
        {
            <div class="pic">
                <div class="@(Model.PaymentStatus == PaymentStatus.Pending || Model.PaymentStatus == PaymentStatus.Paid || Model.PaymentMethodSystemName == "Payments.CashOnDelivery" ? "node_ready" : "node_unready")">1</div>
                <div class="@(Model.PaymentStatus == PaymentStatus.Paid || Model.PaymentMethodSystemName == "Payments.CashOnDelivery" ? "strip_ready" : "strip_unready")">
                    <span class="bar"></span>
                    @if ((Model.PaymentStatus == PaymentStatus.Paid || Model.PaymentMethodSystemName == "Payments.CashOnDelivery") && Model.ShippingStatus == ShippingStatus.NotYetShipped)
                    {<em>@(Model.OrderViewStatusEnum == OrderViewStatusEnum.Cancelled && Model.LogisticsStatusEnum == LogisticsStatusEnum.Processing ? string.Format(T("account.customerorders.details.cancelled").Text, Model.CancelType) : T("Account.CustomerOrders.Details.ShippingStep1Des").Text)</em>}
                </div>
                <div class="node_unready">2</div>
                <div class="strip_unready"></div>
                <div class="node_unready">3</div>
            </div>
            <ul class="text">
                <li>@(Model.OrderViewStatusEnum == OrderViewStatusEnum.Cancelled && Model.LogisticsStatusEnum == LogisticsStatusEnum.Pending ? string.Format(T("account.customerorders.details.cancelled").Text, Model.CancelType) : (Model.LogisticsStatusEnum == LogisticsStatusEnum.Pending ? T("Account.CustomerOrders.Details.OrderStep1Status0").Text : T("Account.CustomerOrders.Details.OrderStep1Status").Text))<span>@(Model.PaidDate != null ? Convert.ToDateTime(Model.PaidDate).ToString("MM-dd HH:mm") : "") </span></li>

            </ul>   
        }
    </div>
</div>
<div class="mycenterCon">
    <div class="clear"></div>
    @Html.Widget("orderdetails_page_beforeproducts")
    <div class="clear"></div>
    <div class="ddCon">
        @if (Model.Items.Count > 0)
        {
            <!--物流表格开始-->
            <div class="logisticTable">
                <h4><span>配送公司：顺丰快递</span><span>电话：0731-4008111111</span></h4>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="logTime">处理时间</th>
                            <th class="logInfo">处理信息</th>
                            <th class="logTime">处理地点</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var i = 0;}
                        @foreach (var shippingDetail in Model.ShippingDetails)
                        {
                            i++;
                            <tr>
                                <td>@shippingDetail.AcceptDateTime.ToString("yyyy-MM-dd hh:mm:ss")</td>
                                <td>@shippingDetail.Remark</td>
                                <td>@shippingDetail.AcceptAddress</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--物流表格结束-->
        }
        @Html.Widget("orderdetails_page_afterproducts")
    </div>
</div>
@Html.Widget("orderdetails_page_bottom")


