@model Nop.Web.Models.Activity.ActivityModel
@using Nop.Services.Seo;
@using Nop.Core.Domain.Orders;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_other.css");
    Html.AppendScriptParts("~/Themes/60GO2/Content/js/jQuery-shopping.js");
    Html.AddTitleParts(T("ActivityInfo").Text);
}
@*@section _menu
    {
        <div class="nav">
            <div class="container">
                @Html.Action("Menu", "Common", new { isHomePage = true })
            </div>
        </div>
    }*@
@section _floatarea
{
    @Html.Action("FloatArea", "Common", new { pageTurningEnabled = false, recentEnabled = false, activityProductGroupEnabled = true, Model.Id })
}
<div class="hdBanner" style="background: url(@Model.PosterPictureUrl) no-repeat center 0;"></div>
<div class="container pad_t_10 mar_b_20 clearfix">
    @*//存在未分组*@
    @if (Model.HaveNotGroupedProducts)
    {
        <div class="hdCon clearfix mar_b_20">
            <ul class="hdList_c5 clearfix">
                @foreach (var productitem in Model.ActivityProductList)
                {
                    if (Model.ActivityProductList.IndexOf(productitem) % 5 == 0)
                    {
                        @Html.Raw("</ul> <ul class=\"hdList_c5 clearfix\">")
                    }
                    <li class="clearfix">
                        <div class="pic" style="position:relative">
                            <a href="@Url.RouteUrl("Product", new { SeName = productitem.Product.GetSeName() })">
                                <img src="@productitem.PictureUrl" />
                                @if (productitem.IsSoldOut)
                                {
                                    <span class="sale-tag-none"></span>
                                }
                            </a>
                        </div>
                        <div class="text">
                            <form id="product_@(productitem.Id)">
                                <a href="@Url.RouteUrl("Product", new { SeName = productitem.Product.GetSeName() })"><h2>@productitem.Product.Name</h2></a>
                                @if (productitem.PcPlatformPrice == productitem.Price || productitem.Price == "0")
                                {
                                    <p class="price_01"><em></em>@T("products.price")：<b> @productitem.PcPlatformPrice</b> </p>
                                }
                                else
                                {
                                    <p class="price_01"><em>@T("products.price.oldprice")：@productitem.Price</em>@T("products.price")：<b>@productitem.PcPlatformPrice</b></p>
                                }
                                @if (!productitem.IsSoldOut)
                                {
                                    <input type="hidden" data-val="true" id="addtocart_@(productitem.Product.Id)_EnteredQuantity" maxlength="2" name="addtocart_@(productitem.Product.Id).EnteredQuantity" value="1" />
                                    <a href="javascript:void(0)" class="btn btn-orange" data-productid="@productitem.Product.Id" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = productitem.Product.Id, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart, buyNow = true })', '#product_@(productitem.Id)',buyProductNowSuccess,this,'@productitem.PictureUrl');">@T("Activity.NowPanicBuying")</a>
                                }
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
    @* //存在分组*@
    @if (Model.HaveGroupedProducts)
    {
        foreach (var item in Model.ActivityProductGroupList)
        {
            <div id="group_@(item.Id)">
                <div class="hdTitle_01">
                    <h2>@item.Name</h2>
                </div>
                <div class="hdCon clearfix mar_b_20">
                    <ul class="hdList_c5 clearfix">
                        @foreach (var productitem in item.ActivityProductList)
                        {
                            if (item.ActivityProductList.IndexOf(productitem) % 5 == 0)
                            {
                                @Html.Raw("</ul> <ul class=\"hdList_c5 clearfix\">")
                            }
                            <li class="clearfix">
                                <div class="pic" style="position:relative">
                                    <a href="@Url.RouteUrl("Product", new { SeName = productitem.Product.GetSeName() })">
                                        <img src="@productitem.PictureUrl" />
                                        @if (productitem.IsSoldOut)
                                        {
                                            <span class="sale-tag-none"></span>
                                        }
                                    </a>
                                </div>
                                <div class="text">
                                    <form id="product_@(productitem.Id)">
                                        <a href="@Url.RouteUrl("Product", new { SeName = productitem.Product.GetSeName() })"><h2>@productitem.Product.Name</h2></a>
                                        @if (productitem.PcPlatformPrice == productitem.Price || productitem.Price == "0")
                                        {
                                            <p class="price_01"><em></em>@T("products.price")：<b> @productitem.PcPlatformPrice</b> </p>
                                        }
                                        else
                                        {
                                            <p class="price_01"><em>@T("products.price.oldprice")：@productitem.Price</em>@T("products.price")：<b>@productitem.PcPlatformPrice</b></p>
                                        }
                                        @if (!productitem.IsSoldOut)
                                        {
                                            <input type="hidden" data-val="true" id="addtocart_@(productitem.Product.Id)_EnteredQuantity" maxlength="2" name="addtocart_@(productitem.Product.Id).EnteredQuantity" value="1" />
                                            <a href="javascript:void(0)" class="btn btn-orange" data-productid="@productitem.Product.Id" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = productitem.Product.Id, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart, buyNow = true })', '#product_@(productitem.Id)',buyProductNowSuccess,this,'@productitem.PictureUrl');">@T("Activity.NowPanicBuying")</a>
                                        }
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //隐藏上一级悬浮菜单
        $("#sename").hide();
    });

    //立即购买错误提示函数
    function buyProductNowSuccess(response) {
        if (response.success == true) {
            window.location.href = response.checkoutUrl;
        }
        else {
            if (response.productUrl) {
                window.location.href = response.productUrl;
            } else {
                alert(response.message);
            }
        }
    }
</script>


