@using Nop.Core.Domain.Activities
@using Nop.Core.Domain.Orders
@using Nop.Services.Helpers
@model Nop.Web.Models.Activity.PromptModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(T("Prompt").Text);
    Html.AppendCssFileParts("~/Themes/60GO2/Content/css/include_pro.css");
    Html.AppendScriptParts("~/Themes/60GO2/Content/js/jQuery-shopping.js");
    Html.AddScriptParts("~/Themes/60GO2/Content/js/jquery.lightbox_me.js");
}
<div class="limit-berserk-main"> 
    <div class="container pad_t_20 clearfix">
        @*今日特价*@
        @if (Model.IsToday)
        {
            var totalSeconds = 0;
            var todayPromptProductList = Model.TodayPromptProductList;
            foreach (var item in todayPromptProductList)
            {
                /*   var now = DateTime.UtcNow;
                   var hour = 99;
                   var minute = 59;
                   var second = 59;
                   var monthofdaycount = DateTime.DaysInMonth(item.EndTimeUtc.Year, item.EndTimeUtc.Month);
                   if (item.IsStrat)
                   {
                       totalSeconds = (item.EndTimeUtc.Year - now.Year) * 365 * monthofdaycount * 24 * 60 * 60 + (item.EndTimeUtc.Month - now.Month) * monthofdaycount * 24 * 60 * 60 + (item.EndTimeUtc.Day - now.Day) * 24 * 60 * 60 + (item.EndTimeUtc.Hour - now.Hour) * 60 * 60 + (item.EndTimeUtc.Minute - now.Minute) * 60 + (item.EndTimeUtc.Second - now.Second);
                   }
                   else
                   {
                       totalSeconds = (item.StartTimeUtc.Day - now.Day) * 24 * 60 * 60 + (item.StartTimeUtc.Hour - now.Hour) * 60 * 60 + (item.StartTimeUtc.Minute - now.Minute) * 60 + (item.StartTimeUtc.Second - now.Second);
                   }
                   var index = Model.TodayPromptProductList.IndexOf(item);
                   var hours = totalSeconds / 60 / 60;
                   if (hours < 100)
                   {
                       hour = (int)hours;
                       minute = (int)((totalSeconds - hour * 60 * 60) / 60);
                       second = (int)(totalSeconds - hour * 60 * 60 - minute * 60);
                   }
                   else
                   {
                       hour = 99;
                       minute = 59;
                       second = 59;
                       totalSeconds = 59 + 59 * 60 + 99 * 60 * 60;
                   } */
                var index = Model.TodayPromptProductList.IndexOf(item);
                var now = DateTime.UtcNow;
                var timeSpan = now - item.EndTimeUtc;
                if (item.IsStrat)
                {
                    totalSeconds = (int)(item.EndTimeUtc - now).TotalSeconds;
                    timeSpan = item.EndTimeUtc - now;
                }
                else
                {
                    totalSeconds = (int)(item.StartTimeUtc - now).TotalSeconds;
                    timeSpan = item.EndTimeUtc - now;
                }
                var days = timeSpan.Days;
                var hour = timeSpan.Hours + days * 24;
                var minute = timeSpan.Minutes;
                var second = timeSpan.Seconds;
                if (hour >= 100)
                {
                    hour = 99;
                    minute = 59;
                    second = 59;
                    totalSeconds = 59 + 59 * 60 + 99 * 60 * 60;
                }
                <div class="tj-itemlist-box">
                <div class="title jrtj">
                    <div class="title-info">
                        <h2>@item.StartTimeUtc.ToLocalTime().ToString("MM月dd日 dddd HH:mm") @T("prompt.begin")</h2>
                    </div>
                </div>
                <div class="tj-box clearfix">
                    @*            <div class="img">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" >
                            <img src="@item.ProductPictureUrl" alt=" "  />
                            @if (item.IsSoldOut)
                            {
                                <span class="sale-tag-none-big"></span>
                            }
                        </a>
                    </div>
                    <div class="detail-status">
                        <div class="main-box avil">
                            <div class="name-box">
                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" >
                                    <h2 class="name">@item.ProductName</h2>
                                </a>
                            </div>
                            <div class="description">
                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" >@item.ProductDesc   </a>
                            </div>*@
                    @*已经开抢的产品*@
                    @if (item.IsStrat)
                    {
                        <div class="img">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" >
                                <img src="@item.ProductPictureUrl" alt=" "  />
                                @if (item.IsSoldOut)
                                {
                                    <span class="sale-tag-none-big"></span>
                                }
                            </a>
                        </div>
                        <div class="detail-status">
                            <div class="main-box avil">
                                <div class="name-box">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" >
                                        <h2 class="name">@item.ProductName</h2>
                                    </a>
                                </div>
                                <div class="description">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSename })" >@item.ProductDesc   </a>
                                </div>
                                @if (!item.IsSoldOut)
                                {
                                    <div class="J_juBuyBtns tj-active" >
                                        <span class="currentPrice beleft">@item.PcPlatformPrice</span>
                                        <div class="beleft">
                                            @if (!item.DisableOldPrice)
                                            {
                                                <div class="discount">@item.Discount<small>折</small></div>
                                                <del class="originPrice">@item.Price</del>
                                            }
                                        </div>
                                        <form class="J_BuySubForm" id="product_@(item.ProductId)">
                                            <input type="hidden" data-val="true"  id="addtocart_@(item.ProductId)_EnteredQuantity" maxlength="2" name="addtocart_@(item.ProductId).EnteredQuantity"  value="1" />
                                            <input type="hidden" id="hiddurl_@(item.ProductId)" value="@Url.RouteUrl("AddProductToCart-Details", new { productId = item.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart, buyNow = true })" tag="@item.ProductPictureUrl"/>
                                            <input type="hidden" id="CustomerMaximumQuantity_@(item.ProductId)" value="@(item.CustomerMaximumQuantity)"/>
                                            @if (!item.IsSoldOut)
                                            {
                                                <a href="javascript:void(0)" class="buyaction J_BuySubmit" hiddvalue="@(item.ProductId)"  name="buyaction"  id="bynow_@(item.ProductId)" >马上抢</a>
                                            }
                                        </form>
                                    </div>
                                }
                                else
                                {
                                     <div class="J_juBuyBtns tj-over" >
                                        <span class="currentPrice beleft">@item.PcPlatformPrice</span>
                                        <div class="beleft">
                                            @if (!item.DisableOldPrice)
                                            {
                                                <div class="discount">@item.Discount<small>折</small></div>
                                                <del class="originPrice">@item.Price</del>
                                            }
                                        </div>
                                        <form class="J_BuySubForm" id="product_@(item.ProductId)">
                                            <input type="hidden" data-val="true"  id="addtocart_@(item.ProductId)_EnteredQuantity" maxlength="2" name="addtocart_@(item.ProductId).EnteredQuantity"  value="1" />
                                            <input type="hidden" id="hiddurl_@(item.ProductId)" value="@Url.RouteUrl("AddProductToCart-Details", new { productId = item.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart, buyNow = true })" tag="@item.ProductPictureUrl"/>
                                            <input type="hidden" id="CustomerMaximumQuantity_@(item.ProductId)" value="@(item.CustomerMaximumQuantity)"/>
                                                <a href="javascript:void(0)" class="buyaction J_BuySubmit"  id="bynow_@(item.ProductId)" >马上抢</a>
                                        </form>
                                    </div>
                                }
                                <div class="time-banner">
                                    <span class="point-watch">
                                        <span class="watch_title">@(item.IsStrat ? @T("prompt.fromtheendand").ToString() : @T("prompt.fromthestratand").ToString())</span>
                                        <s class="hand hand-h">
                                            <s class="digital digital-0 " id="hour_@(index)_3">@hour.ToString("00").Substring(0, 1)</s>
                                            <s class="digital digital-0 " id="hour_@(index)_4">@hour.ToString("00").Substring(1, 1)</s>
                                        </s><b>时</b>
                                        <s class="hand hand-m">
                                            <s class="digital digital-5 " id="minute_@(index)_3">@minute.ToString("00").Substring(0, 1)</s>
                                            <s class="digital digital-0 " id="minute_@(index)_4">@minute.ToString("00").Substring(1, 1)</s>
                                        </s><b>分</b>
                                        <s class="hand hand-s">
                                            <s class="digital digital-3 " id="second_@(index)_3">@second.ToString("00").Substring(0, 1)</s>
                                            <s class="digital digital-9 " id="second_@(index)_4">@second.ToString("00").Substring(1, 1)</s>
                                        </s><b>秒</b>
                                        <s class="hand hand-u"></s>
                                    </span>
                                </div>
                                <div class="numOfPeople">
                                    @if (item.IsStrat)
                                    {
                                        <span class="num">@item.BuyedCount</span>@T("prompt.havaabuy")
                                    }
                                </div>
                            </div>
                        </div> 
                    }
                    @*没有开抢的产品*@
                    else
                    {
                        <div class="img">
                            <a  >
                                <img src="@item.ProductPictureUrl" alt=" "  />
                                @if (item.IsSoldOut)
                                {
                                    <span class="sale-tag-none-big"></span>
                                }
                            </a>
                        </div>
                        <div class="detail-status">
                            <div class="main-box avil">
                                <div class="name-box">
                                    <a>
                                        <h2 class="name">@item.ProductName</h2>
                                    </a>
                                </div>
                                <div class="description">
                                    <a >@item.ProductDesc   </a>
                                </div>
                                <div class="J_juBuyBtns tj-waiting" id="J_juBuyBtns_@item.ProductId">
                                    <span class="currentPrice beleft">@item.PcPlatformPrice</span>
                                    <div class="beleft">
                                        @if (!item.DisableOldPrice)
                                        {
                                            <div class="discount">@item.Discount<small>折</small></div>
                                            <del class="originPrice">@item.Price</del>
                                        }
                                    </div>
                                    <input type="button"  id="@(item.ProductId)" name="remind" tag="@item.ProductId"  class="buyaction J_BuySubmit" value="开始提醒"></input>
                                </div>
                                <div class="time-banner">
                                    <span class="point-watch">
                                        <span class="watch_title">@(item.IsStrat ? @T("prompt.fromtheendand").ToString() : @T("prompt.fromthestratand").ToString())</span>
                                        <s class="hand hand-h">
                                            <s class="digital digital-0 " id="hour_@(index)_3">@hour.ToString("00").Substring(0, 1)</s>
                                            <s class="digital digital-0 " id="hour_@(index)_4">@hour.ToString("00").Substring(1, 1)</s>
                                        </s><b>时</b>
                                        <s class="hand hand-m">
                                            <s class="digital digital-5 " id="minute_@(index)_3">@minute.ToString("00").Substring(0, 1)</s>
                                            <s class="digital digital-0 " id="minute_@(index)_4">@minute.ToString("00").Substring(1, 1)</s>
                                        </s><b>分</b>
                                        <s class="hand hand-s">
                                            <s class="digital digital-3 " id="second_@(index)_3">@second.ToString("00").Substring(0, 1)</s>
                                            <s class="digital digital-9 " id="second_@(index)_4">@second.ToString("00").Substring(1, 1)</s>
                                        </s><b>秒</b>
                                        <s class="hand hand-u"></s>
                                    </span>
                                </div>
                                <div class="numOfPeople">
                                    @if (item.IsStrat)
                                    {
                                        <span class="num">@item.BuyedCount</span>@T("prompt.havaabuy")
                                    }
                                </div>
                            </div>
                        </div> 
                    }

                </div>
            </div>
            <script type="text/javascript">
                setTimeout("countdown(@totalSeconds, @index,@item.ProductId)", 1000);
            </script>
            }
        }
    </div>
    <div class="container pad_t_20 clearfix">
        @*明日特价*@
        @if (Model.IsTomorrow)
        {
            var tomorrowtotalSeconds = 0;
            var tomorrowPromptProductList = Model.TomorrowPromptProductList;
            foreach (var item in tomorrowPromptProductList)
            {
                //var now = DateTime.UtcNow;
                //var tomorrowhour = 0;
                //var tomorrowminute = 0;
                //var tomorrowsecond = 0;
                //var index = Model.TomorrowPromptProductList.IndexOf(item);
                //tomorrowtotalSeconds = 24 * 60 * 60 + (item.StartTimeUtc.Hour - now.Hour) * 60 * 60 + (item.StartTimeUtc.Minute - now.Minute) * 60 + (item.StartTimeUtc.Second - now.Second);
                //tomorrowhour = (int)(tomorrowtotalSeconds / 60 / 60);
                //tomorrowminute = (int)((tomorrowtotalSeconds - tomorrowhour * 60 * 60) / 60);
                //tomorrowsecond = (int)(tomorrowtotalSeconds - tomorrowhour * 60 * 60 - tomorrowminute * 60);
                var index = Model.TomorrowPromptProductList.IndexOf(item);
                var now = DateTime.UtcNow;
                var timeSpan = item.StartTimeUtc - now;
                tomorrowtotalSeconds = (int)timeSpan.TotalSeconds;
                var days = timeSpan.Days;
                var tomorrowhour = timeSpan.Hours + days * 24;
                var tomorrowminute = timeSpan.Minutes;
                var tomorrowsecond = timeSpan.Seconds;
            <div class="tj-itemlist-box">
                <div class="title mrtj">
                    <div class="title-info">
                        <h2>@item.StartTimeUtc.ToLocalTime().ToString("MM月dd日 dddd HH:mm") @T("prompt.begin")</h2>
                    </div>
                </div>
                <div class="tj-box clearfix">
                    <div class="img">
                        <a>
                            <img src="@item.ProductPictureUrl" alt=" "  /></a>
                    </div>
                    <div class="detail-status">
                        <div class="main-box avil">
                            <div class="name-box">
                                <a>
                                    <h2 class="name">@item.ProductName</h2>
                                </a>
                            </div>
                            <div class="description">
                                <a >@item.ProductDesc</a>
                            </div>
                            <div class="J_juBuyBtns tj-waiting">
                                <span class="currentPrice beleft">@item.PcPlatformPrice</span>
                                <div class="beleft">
                                    @if (!item.DisableOldPrice)
                                    {
                                        <div class="discount">@item.Discount<small>折</small></div>
                                        <del class="originPrice">@item.Price</del>
                                    }
                                </div>
                                <input type="button"  id="@(item.ProductId)" name="remind" tag="@item.ProductId"  class="buyaction J_BuySubmit" value="开始提醒"></input>
                            </div>
                            <div class="time-banner">
                                <span class="point-watch">
                                    <span class="watch_title">@T("prompt.fromthebeginningthere")</span>
                                    <s class="hand hand-h">
                                        <s class="digital digital-0 " id="tomorrow_hour_@(index)_3">@tomorrowhour.ToString("00").Substring(0, 1)</s>
                                        <s class="digital digital-0 " id="tomorrow_hour_@(index)_4">@tomorrowhour.ToString("00").Substring(1, 1)</s>
                                    </s><b>时</b>
                                    <s class="hand hand-m">
                                        <s class="digital digital-5 " id="tomorrow_minute_@(index)_3">@tomorrowminute.ToString("00").Substring(0, 1)</s>
                                        <s class="digital digital-0 " id="tomorrow_minute_@(index)_4">@tomorrowminute.ToString("00").Substring(1, 1)</s>
                                    </s><b>分</b>
                                    <s class="hand hand-s">
                                        <s class="digital digital-3 " id="tomorrow_second_@(index)_3">@tomorrowsecond.ToString("00").Substring(0, 1)</s>
                                        <s class="digital digital-9 " id="tomorrow_second_@(index)_4">@tomorrowsecond.ToString("00").Substring(0, 1)</s>
                                    </s><b>秒</b><s class="hand hand-u"></s>
                                </span>
                            </div>
                            <div class="numOfPeople">@*<span class="num">@item.BuyedCount</span>@T("prompt.havaabuy")*@</div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                setTimeout("countdowntomorrow(@tomorrowtotalSeconds,@index)", 1000);
            </script>
            }
        }
    </div>
</div>
@*特价预告*@
@if (Model.FuturePromptProductList.Count() > 0)
{
    var beginDate = Model.FuturePromptProductList[0].StartTimeUtc;
    var now = DateTime.UtcNow;
    //var futuretotalSeconds = 0;
    //var futurehour = 0;
    //var futureminute = 0;
    //var futuresecond = 0;
    //var monthofdaycount = DateTime.DaysInMonth(beginDate.Year, beginDate.Month);
    //var yearofdaycount = 365;
    //futuretotalSeconds = (beginDate.Year - now.Year) * yearofdaycount * monthofdaycount * 24 * 60 * 60 + (beginDate.Month - now.Month) * monthofdaycount * 24 * 60 * 60 + (beginDate.Day - now.Day) * 24 * 60 * 60 + (beginDate.Hour - now.Hour) * 60 * 60 + (beginDate.Minute - now.Minute) * 60 + (beginDate.Second - now.Second);
    //var hours = futuretotalSeconds / 60 / 60;
    //if (hours < 100)
    //{
    //    futurehour = (int)hours;
    //    futureminute = (int)((futuretotalSeconds - futurehour * 60 * 60) / 60);
    //    futuresecond = (int)(futuretotalSeconds - futurehour * 60 * 60 - futureminute * 60);
    //}
    //else
    //{
    //    futurehour = 99;
    //    futureminute = 59;
    //    futuresecond = 59;
    //    futuretotalSeconds = 59 + 59 * 60 + 99 * 60 * 60;
    //}
    var timeSpan = beginDate - now;
    var futuretotalSeconds = (int)timeSpan.TotalSeconds;
    var futureday = timeSpan.Days;
    var futurehour = timeSpan.Hours + futureday * 24;
    var futureminute = timeSpan.Minutes;
    var futuresecond = timeSpan.Seconds;
    if (futurehour >= 100)
    {
        futurehour = 99;
        futureminute = 59;
        futuresecond = 59;
        futuretotalSeconds = 59 + 59 * 60 + 99 * 60 * 60;
    }
    <div class="limit-berserk-box">
        <div class="container pad_t_20 clearfix">
            <div class="header red">
                <h2><big><em class="mar_r_30">@T("prompt.specialnotice")</em>
                        </big>@*@Model.FuturePromptProductList[0].StartTimeUtc.ToLocalTime().ToString("MM月dd日 dddd HH:mm")  @T("prompt.begin")*@</h2>
                <span class="point-watch beright"><span class="watch_title">@T("prompt.fromthebeginningthere")</span>
                    <s class="hand hand-h">
                        <s class="digital digital-0 " id="future_hour_1">@futurehour.ToString("00").Substring(0, 1)</s>
                        <s class="digital digital-0 " id="future_hour_2">@futurehour.ToString("00").Substring(1, 1)</s>
                    </s><b>时</b>
                    <s class="hand hand-m">
                        <s class="digital digital-5 " id="future_minute_1">@futureminute.ToString("00").Substring(0, 1)</s>
                        <s class="digital digital-0 " id="future_minute_2">@futureminute.ToString("00").Substring(1, 1)</s>
                    </s><b>分</b>
                    <s class="hand hand-s">
                        <s class="digital digital-3 " id="future_second_1">@futuresecond.ToString("00").Substring(0, 1)</s>
                        <s class="digital digital-9 " id="future_second_2">@futuresecond.ToString("00").Substring(1, 1)</s>
                    </s><b>秒</b><s class="hand hand-u"></s></span>
            </div>
            <ul class="act-pk clearfix">
                @{
    var futurePromptProductList = Model.FuturePromptProductList;
                }
                @foreach (var item in futurePromptProductList)
                {
                    <li>
                        <div class="black-bg">
                            <input type="button" id="@(item.ProductId)" name="remind" tag="@item.ProductId" class="btn btn-green btn-lg" value="@T("prompt.toremind")"></input>
                        </div>
                        <a class="act-pk-info">
                            <img src="@item.ProductPictureUrl" alt=" "   />
                            <span class="act-you">
                                <span class="info">@item.ProductName</span>
                                <span class="right-info">限量抢购</span>
                            </span>
                            <span class="act-prices">
                                <span class="price">@item.PcPlatformPrice</span>
                                <div class="dock">
                                    @if (!item.DisableOldPrice)
                                    {
                                        <span class="discount"><em>@item.Discount</em>折</span>
                                        <del class="orig-price">@item.Price</del>
                                    }
                                </div>
                                <span class="sold-num"></span>
                            </span>
                        </a>
                    </li>
                }
            </ul>
            <script>
                $(function () {
                    $(".act-pk li").hover(function () {
                        $(this).children(".black-bg").show();
                    }, function () {
                        $(this).children(".black-bg").hide();
                    });
                })
            </script>
        </div>
        <script type="text/javascript">
            setTimeout("countdownfuture(@futuretotalSeconds)", 1000);
        </script>
    </div>
}

@*提示信息*@
@Html.Partial("RemindMessage")
@*抢购数量设置*@
@Html.Partial("CustomerQuantity")

<script type="text/javascript">
    $(document).ready(function () {
        //隐藏上一级悬浮菜单
        $("#sename").hide();

        $("input:[name='remind']").click(function (e) {
            var productid = this.id;
            var activityid = '@Model.ActivityId';
            var customerId = '@Model.CustomerId';
            $("#hiddproductid").val(productid);
            var data = { "productid": productid, "activityid": activityid, "customerId": customerId };
            $("#dledphone").attr("style", "display:");
            $("#dledemail").attr("style", "display:");
            $.ajax({
                cache: false,
                type: "POST",
                data: data,
                url: "@(Url.RouteUrl("ActivityIsRegister"))",
                success: function (d) {
                    if (d.Data.Success == 3) { //已经提醒
                        if (d.Data.Phone != "")
                            $("#lbphone").text(d.Data.Phone);
                        else {
                            $("#dledphone").hide();
                        }
                        if (d.Data.Email != "")
                            $("#lbemail").text(d.Data.Email);
                        else {
                            $("#dledemail").hide();
                        }
                        showdialoged();
                    } else if (d.Data.Success == 2) {//没有提醒
                        if (d.Data.Phone == null)
                            $("#dlphone").hide();
                        else
                            $("#phone").html(d.Data.Phone);
                        if (d.Data.Email == null)
                            $("#dlemail").hide();
                        else
                            $("#email").html(d.Data.Email);
                        showdialog();
                    } else {
                        @{
                            var returnUrl = Url.RouteUrl("BuyLimit", new { controller = "Activity", action = "BuyLimit", activitytype = (int)ActivityType.BuyLimit });
                        }
                        location.href = '@Url.RouteUrl("login", new { ReturnUrl = @returnUrl })';
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                },
                complete: function () {
                }
            });
        });

        $("#save_button").click(function () {
            var productid = $("#hiddproductid").val();
            var phone = "";
            var checkphone = $("#ckphone").attr("checked");
            var email = "";
            var checkemail = $("#ckemail").attr("checked");
            //if (!checkphone || !checkemail)
            //    alert("请选择提醒方式");
            if (checkphone) {
                phone = $("#phone").html();
            }
            if (checkemail) {
                email = $("#email").html();
            }
            var activityid = "@Model.ActivityId";
            var customerid = "@Model.CustomerId";
            var data = {
                "productid": productid,
                "phone": phone,
                "email": email,
                "activityid": activityid,
                "customerid": customerid,
            };

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("AddRemind"))",
                data: data,
                success: function (d) {
                    if (d.Data.Success) {
                        hideremind();
                        showremindaccess();
                    } else {

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                },
                complete: function () {
                }
            });
        });

        $("a:[name='buyaction']").click(function () {
            var productid = $(this).attr("hiddvalue");
            var activityid = '@Model.ActivityId';
            var customerId = '@Model.CustomerId';
            var data = { "productid": productid, "activityid": activityid, "customerId": customerId };

            $.ajax({
                cache: false,
                type: "POST",
                data: data,
                url: "@(Url.RouteUrl("ActivityIsRegister"))",
                success: function (d) {
                    if (d.Data.Success == 1) {
                        @{
                            var retUrl = Url.RouteUrl("BuyLimit", new { controller = "Activity", action = "BuyLimit", activitytype = (int)ActivityType.BuyLimit });
                        }
                        location.href = '@Url.RouteUrl("login", new { ReturnUrl = @retUrl })';
                    } else {
                        $("#hidcqproductid").val(productid);
                        var url = $("#hiddurl_" + productid).val();
                        var imgurl = $("#hiddurl_" + productid).attr("tag");
                        var customermaximumquantity = $("#CustomerMaximumQuantity_" + productid).val();
                        if (customermaximumquantity == "1")
                            addproducttocart(url, imgurl, productid);
                        else
                            showquantity();
                    }
                }
            });
        });

        $("#cancel_buttonass").click(function (e) {
            $("#dialogaccess").trigger('close');
            e.preventDefault();
        });

        $("#btnquantity").click(function () {
            var productid = $("#hidcqproductid").val();
            var quantity = $("#txtmaxquantity").val();
            if (quantity <= 0)
                alert("请输入购买数量");
            $("#addtocart_" + productid + "_EnteredQuantity").val(quantity);

            var url = $("#hiddurl_" + productid).val();
            var imgurl = $("#hiddurl_" + productid).attr("tag");
            addproducttocart(url, imgurl, productid);
        });
    });

    function addproducttocart(url, imgurl, productid) {
        AjaxCart.addproducttocart_details(
            url,
            '#product_' + productid, buyProductNowSuccess, this,
            imgurl);
    }

    function buyProductNowSuccess(response) {
        if (response.success == true) {
            window.location.href = response.checkoutUrl;
        }
        else {
            if (response.productUrl) {
                window.location.href = response.productUrl;
            } else {
                alert(response.message);
            }
        }
    }

    function showdialog() {
        $("#dialog").lightbox_me({
            centered: true,
            onLoad: function () {
            }
        });
    }

    function showdialoged() {
        $("#dialoged").lightbox_me({
            centered: true,
            onLoad: function () {
            }
        });
    }

    function showquantity() {
        $("#customermaximumquantity").lightbox_me({
            centered: true,
            onLoad: function () {
            }
        });
    }

    function hideremind() {
        $("#dialog").trigger('close');
    }

    function showremindaccess() {
        $("#dialogaccess").lightbox_me({
            centered: true,
            onLoad: function () {
            }
        });
    }

    function countdown(totalSeconds, i,productid) {
        var hour = parseInt(totalSeconds / 60 / 60);
        if (isNaN(hour))
            hour = 0;
        var minute = parseInt((totalSeconds - hour * 60 * 60) / 60);
        if (isNaN(minute))
            minute = 0;
        var second = parseInt(totalSeconds - hour * 60 * 60 - minute * 60);
        if (isNaN(second))
            second = 0;

        hour = hour.toString();
        if (hour.length == 1)
            hour = "0" + hour;
        minute = minute.toString();
        if (minute.length == 1)
            minute = "0" + minute;
        second = second.toString();
        if (second.length == 1)
            second = "0" + second;

        $("#hour_" + i + "_3").html(hour.substring(0, 1));
        $("#hour_" + i + "_4").html(hour.substring(1, 2));
        $("#minute_" + i + "_3").html(minute.substring(0, 1));
        $("#minute_" + i + "_4").html(minute.substring(1, 2));
        $("#second_" + i + "_3").html(second.substring(0, 1));
        $("#second_" + i + "_4").html(second.substring(1, 2));

        var seconds = 10 * 60;
        if (seconds > totalSeconds)
            $("#J_juBuyBtns_" + productid).attr("class", "J_juBuyBtns tj-ready");

        if (totalSeconds > 0) {
            setTimeout("countdown(" + (totalSeconds - 1) + "," + i + "," + productid + ")", 1000);
        } else {
            location.reload();
        }
    }

    function countdowntomorrow(tomorrowtotalSeconds, i) {
        var hour = parseInt(tomorrowtotalSeconds / 60 / 60);
        if (isNaN(hour))
            hour = 0;
        var minute = parseInt((tomorrowtotalSeconds - hour * 60 * 60) / 60);
        if (isNaN(minute))
            minute = 0;
        var second = parseInt(tomorrowtotalSeconds - hour * 60 * 60 - minute * 60);
        if (isNaN(second))
            second = 0;

        hour = hour.toString();
        if (hour.length == 1)
            hour = "0" + hour;
        minute = minute.toString();
        if (minute.length == 1)
            minute = "0" + minute;
        second = second.toString();
        if (second.length == 1)
            second = "0" + second;

        $("#tomorrow_hour_" + i + "_3").html(hour.substring(0, 1));
        $("#tomorrow_hour_" + i + "_4").html(hour.substring(1, 2));
        $("#tomorrow_minute_" + i + "_3").html(minute.substring(0, 1));
        $("#tomorrow_minute_" + i + "_4").html(minute.substring(1, 2));
        $("#tomorrow_second_" + i + "_3").html(second.substring(0, 1));
        $("#tomorrow_second_" + i + "_4").html(second.substring(1, 2));
        if (tomorrowtotalSeconds > 0) {
            setTimeout("countdowntomorrow(" + (tomorrowtotalSeconds - 1) + "," + i + ")", 1000);
        } else {
            location.reload();
        }
    }

    function countdownfuture(futuretotalSeconds) {
        futuretotalSeconds = futuretotalSeconds - 1;
        var hour = parseInt(futuretotalSeconds / 60 / 60);
        if (isNaN(hour))
            hour = 0;
        var minute = parseInt((futuretotalSeconds - hour * 60 * 60) / 60);
        if (isNaN(minute))
            minute = 0;
        var second = parseInt(futuretotalSeconds - hour * 60 * 60 - minute * 60);
        if (isNaN(second))
            second = 0;

        hour = hour.toString();
        if (hour.length == 1)
            hour = "0" + hour;
        minute = minute.toString();
        if (minute.length == 1)
            minute = "0" + minute;
        second = second.toString();
        if (second.length == 1)
            second = "0" + second;

        $("#future_hour_1").html(hour.substring(0, 1));
        $("#future_hour_2").html(hour.substring(1, 2));
        $("#future_minute_1").html(minute.substring(0, 1));
        $("#future_minute_2").html(minute.substring(1, 2));
        $("#future_second_1").html(second.substring(0, 1));
        $("#future_second_2").html(second.substring(1, 2));

        if (futuretotalSeconds > 0) {
            setTimeout("countdownfuture(" + futuretotalSeconds + ")", 1000);
        } else {
            location.reload();
        }
    }
</script>

